{% parse_json rNames %}
  {
    "profileName": "wvu-{{ component.name }}__name",
    "main": "wvu-{{ component.name }}__main",
    "profileTitle": "wvu-{{ component.name }}__title",
    "major": "wvu-{{ component.name }}__major",
    "graduationYear": "wvu-{{ component.name }}__graduation-year",
    "organization": "wvu-{{ component.name }}__organization",
    "subhead": "wvu-{{ component.name }}__subhead",
    "phone": "wvu-{{ component.name }}__phone",
    "email": "wvu-{{ component.name }}__email",
    "office": "wvu-{{ component.name }}__office",
    "officeURL": "wvu-{{ component.name }}__office-url",
    "website": "wvu-{{ component.name }}__website",
    "quote": "wvu-{{ component.name }}__quote",
    "headerLabel": "wvu-{{ component.name }}__header-label"
  }
{% endparse_json %}

{% capture component_content %}
  <div class="container wvu-z-index-content">
    <div class="row">
      <div class="col-md-6 col-lg-5 col-xl-4 mb-3 mb-md-0">
        <div class="row">
          <div class="col-xl-10 me-xl-auto">
            <div class="mb-1">
              {% if page.data.thumbnail_url_sq != blank %}
                {% assign thumbnailSrc = page.data.thumbnail_url_sq | build_image_url: size: '640x640', format: 'webp' %}
                <img class="card-img-top w-100" src="{{ thumbnailSrc }}" alt="{{ item.data.thumbnail_alt }}">
              {% elsif page.data.thumbnail_url != blank %}
                {% assign thumbnailSrc = page.data.thumbnail_url | build_image_url: size: '960x640', format: 'webp' %}
                <img class="card-img-top w-100" src="{{ thumbnailSrc }}" alt="{{ item.data.thumbnail_alt }}">
              {% else %}
                {% if edit_mode %}
                  <div class="alert alert-warning rounded p-3">
                    <p class="mb-0">
                      It looks like you haven’t added a photo to this profile yet. You can <a href="https://dsws.sandbox.wvu.edu/shared-cleanslate-partials/content-and-style-editing-how-to-and-tips/add-a-thumbnail-image-or-profile-photo-to-a-page">add a photo in the page properties</a>.
                    </p>
                  </div>
                {% endif %}
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-7 col-xl-8 wvu-backpage-main">

        <h1 class="display-3 wvu-shout text-white wvu-bar wvu-bar--bottom mb-4" id="{{ component.name }}-label">
          {% editable_region name: rNames.profileName, scope: component.scope, type: "simple", placeholder: "Firstname Lastname" %}
        </h1>

        {% if edit_mode or page.content[rNames.profileTitle] != blank %}
          {% if edit_mode %}<span class="d-inline-block badge bg-primary mb-1">Title</span>{% endif %}
          <div class="helvetica-neue-light">
            {% editable_region name: rNames.profileTitle, scope: component.scope, type: "simple" %}
          </div>
        {% endif %}
        {% if edit_mode or page.content[rNames.organization] != blank %}
          {% if edit_mode %}<span class="d-inline-block badge bg-primary mb-1">Organization</span>{% endif %}
          <div class="helvetica-neue-light">
            {% editable_region name: rNames.organization, scope: component.scope, type: "simple" %}
          </div>
        {% endif %}
        <div class="mt-3">
          {% render "includes/wvu-contact-info/wvu-contact-info--v1" component: component, regionNames: rNames %}
        </div>

      </div>
    </div>
  </div>
{% endcapture %}

{% render "utilities/wvu-component-tag/wvu-component-tag--v1" component: component, content: component_content %}
{% render "includes/wvu-component-footer/wvu-component-footer--v1" component: component %}
