// Typography
//==================================================

// Helvetica Neue
$helvetica-neue-fallback: 'Helvetica Neue', Helvetica, 'Helvetica LT Std', 'Helvetica CY', Arial, 'Lucida Grande', sans-serif !default;
$helvetica-neue: 'NeueHelvetica55Roman', $helvetica-neue-fallback !default;
$wvu-shout-fallback: 'Arial Narrow', Impact, Charcoal, 'Arial Black', $helvetica-neue-fallback !default;

// Webfonts from Monotype.com
$helvetica-neue-light: 'NeueHelvetica45Light', $helvetica-neue-fallback !default;
$helvetica-neue-bold: 'NeueHelvetica75Bold', $helvetica-neue-fallback !default;
$helvetica-neue-italic: 'NeueHelvetica56Italic', $helvetica-neue-fallback !default;
$helvetica-neue-bold-italic: 'NeueHelvetica76BoldItalic', $helvetica-neue-fallback !default;
$helvetica-neue-condensed-black: 'NeueHelvetica97CondensedBlack', $wvu-shout-fallback !default;

// Iowan
$iowan-fallback: Iowan, 'Times New Roman', Times, Georgia, serif !default;
$iowan-old-style: 'IowanOldStyleBTRoman', $iowan-fallback !default;
$iowan-old-style-italic: 'IowanOldStyleBTItalic', $iowan-fallback !default;
$iowan-old-style-black: 'IowanOldStyleBTBlack', $iowan-fallback !default;
$iowan-old-style-black-italic: 'IowanOldStyleBTBlackItalic', $iowan-fallback !default;

// Shout
$wvu-shout-font-family: $helvetica-neue-condensed-black !default;

// Font size
$wvu-font-size-base: 1rem !default;

// Paragraph measure
$wvu-p-measure: 48rem !default;

// Line height
$wvu-shout-line-height: 0.80487em !default;
$wvu-traditional-audience-line-height: 1.16666666667em !default;

// Audiences
$wvu-traditional-audience: $iowan-old-style !default;
$narrow-audience: $iowan-old-style-italic !default;

// Tracking
$wvu-letter-spacing-width: 2px !default;

// Color
//==================================================

$blue:    #0d6efd;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #d63384;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #198754;
$teal:    #20c997;
$cyan:    #0dcaf0;

$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$primary:       $blue;
$secondary:     $gray-600;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-900;

// Primary
$wvu-blue: #002855;
$wvu-gold: #EAAA00;

$wvu-accent--old-gold: #7F6310;
$wvu-neutral--off-white: #F7F7F7;
$wvu-neutral--cream: #F2E6C2;
$wvu-neutral--tan: #B3A169;
$wvu-neutral--warm-gray-light: #BEB7B3;
$wvu-neutral--warm-gray-medium: #988E8B;
$wvu-neutral--warm-gray-dark: #554741;
$wvu-accent--blue-dark: #1C2B39;
$wvu-accent--blue: #0062A3;
$wvu-accent--blue-light: #9DDAE6;
$wvu-accent--yellow: #FFE539;
$wvu-accent--sunset: #F58672;

// Old Colors
// Neutral
$wvu-neutral--white: $wvu-neutral--off-white;
$wvu-neutral--black: #2C2A29;
$wvu-neutral--dark-gray: $wvu-accent--blue-dark;
$wvu-neutral--light-gray: $wvu-neutral--warm-gray-light;
$wvu-neutral--dark-brown: #6E6259;
$wvu-neutral--brown: #7C736A;
$wvu-neutral--light-brown: #BFB8AF;

// Accent
$wvu-accent--light-blue: #9BD3DD;
$wvu-accent--brown: #4B3D2A;
$wvu-accent--mustard: $wvu-accent--old-gold;
$wvu-accent--orange: #ED8B00;
$wvu-accent--dark-green: #0D5257;
$wvu-accent--green: #657A68;
$wvu-accent--light-green: #9ABEAA;
$wvu-accent--red: #BE3A34;
$wvu-accent--burnt-orange: #CD4C08;

// Breadcrumbs
$wvu-breadcrumbs-color: #8F9699;

// Social Media

$facebook: #3b5998;
$twitter: #00acee;
$flickr: #ff0084;
$instagram: #8a3ab9;
$linkedin: #0e76a8;
$syndication: #ee802f;
$youtube: #c4302b;
$github: #171515;

// Masthead
//==================================================
$wvu-flying-wv-w-signature: 'https://static.wvu.edu/global/images/logos/wvu/wvu-logo--2.0.0.svg' !default;
$wvu-flying-wv-w-signature--blue: 'https://static.wvu.edu/global/images/logos/wvu/wvu-logo__blue--2.0.0.svg' !default;

// Hero Elements
//==================================================
$wvu-shout-font-size-medium: 4.5em !default;
$wvu-shout-font-size-long: 3em !default;
$wvu-shout-margin: 0 0 .5em !default;

// Hero Typography
$wvu-hero-font-color: white !default;
$wvu-hero-title-typeface: $wvu-shout-font-family !default;
$wvu-hero-vignetting-opacity: .85 !default;
$wvu-typography-line-length: 45rem !default;
$wvu-tint-opacity: .9 !default;
$wvu-vignetting-opacity: .85 !default;

$wvu-slash-width: .5em !default;
$wvu-slash-height: 1.25em !default;
$wvu-slash-height-tall: 150% !default;

$wvu-blue-pattern: "https://static.wvu.edu/global/images/patterns/wvu/background__blue--1.0.0.svg";
$wvu-gold-pattern: "https://static.wvu.edu/global/images/patterns/wvu/background__gold--1.0.0.svg";
$wvu-white-pattern: "https://static.wvu.edu/global/images/patterns/wvu/background__white--1.0.0.svg";
$wvu-slashes-gold-blue: "https://static.wvu.edu/global/images/patterns/wvu/background__slash-grouping-gold-blue--1.0.0.svg";
$wvu-slashes-gold-blue-white: "https://static.wvu.edu/global/images/patterns/wvu/background__slash-grouping-gold-blue-white--1.0.0.svg";
$wvu-grid-pattern: "https://static.wvu.edu/global/images/patterns/wvu/background__grid--1.0.0.svg";
$wvu-grid-pattern-transparent: "https://static.wvu.edu/global/images/patterns/wvu/background__grid-transparent--1.0.0.svg";
$wvu-grid-pattern-zoomed: "https://static.wvu.edu/global/images/patterns/wvu/background__grid-zoomed--1.0.0.svg";
$wvu-grid-pattern-zoomed-transparent: "https://static.wvu.edu/global/images/patterns/wvu/background__grid-zoomed-transparent--1.0.0.svg";
$wvu-topo-map-black: "https://static.wvu.edu/global/images/patterns/wvu/background__topo-black--2.0.0.svg";
$wvu-topo-map-white: "https://static.wvu.edu/global/images/patterns/wvu/background__topo-white--2.0.0.svg";
$wvu-topo-map-partial-black: "/images/topo-partial.svg";
$wvu-topo-map-opacity: 1 !default;
$wvu-gradient-mesh-blue: "/images/gradient-mesh-blue.jpg";

// Make !important configurable
$global-important: !important !default; // Set to `null` to remove !important from all CSS property values, except where explicitly defined otherwise in mixin @includes.

// WVU Elements
$wvu-bar-color: $wvu-gold !default;
$wvu-bar-position: 'top' !default;
$wvu-bar-width: 7rem !default;

// Z-index for vignetting. slash, grid
$wvu-z-index-content: 3 !default;
$wvu-z-index-breadcrumbs: 990 !default;
$wvu-z-index-primary-nav: 1000 !default; // NOTE: Aligns with Bootstrap Dropdowns
$wvu-z-index-max: 9999 !default;
$wvu-z-index-grid: 0 !default;
$wvu-z-index-slash: -1 !default;
$wvu-z-index-angle-container: -1 !default;
$wvu-z-index-vignetting: 1 !default;

// WVU Breakpoints
$wvu-bp-xs: 0 !default;
$wvu-bp-sm: 576px !default;
$wvu-bp-md: 768px !default;
$wvu-bp-lg: 992px !default;
$wvu-bp-xl: 1400px !default;
$wvu-bp-xxl: 1700px !default;

$wvu-bp-nav: $wvu-bp-lg !default;
$wvu-bp-nav-max-width: ($wvu-bp-nav - 1) !default;

$wvu-breakpoints: (
  $wvu-bp-xs,
  $wvu-bp-sm,
  $wvu-bp-md,
  $wvu-bp-lg,
  $wvu-bp-xl,
  $wvu-bp-xxl
);

// Bootstrap Overrides
//==================================================
$sizes: (
  10: 10%,
  20: 20%,
  25: 25%,
  30: 30%,
  40: 40%,
  50: 50%,
  60: 60%,
  70: 70%,
  75: 75%,
  80: 80%,
  90: 90%,
  100: 100%,
  auto: auto
);

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$colors: (
  "facebook": $facebook,
  "twitter": $twitter,
  "flickr": $flickr,
  "instagram": $instagram,
  "linkedin": $linkedin,
  "syndication": $syndication,
  "youtube": $youtube,
  "github": $github,
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
  "white": $white,
  "wvu-blue": $wvu-blue,
  "wvu-gold": $wvu-gold,
  "wvu-accent--old-gold": $wvu-accent--old-gold,
  "wvu-neutral--off-white": $wvu-neutral--off-white,
  "wvu-neutral--cream": $wvu-neutral--cream,
  "wvu-neutral--tan": $wvu-neutral--tan,
  "wvu-neutral--warm-gray-light": $wvu-neutral--warm-gray-light,
  "wvu-neutral--warm-gray-medium": $wvu-neutral--warm-gray-medium,
  "wvu-neutral--warm-gray-dark": $wvu-neutral--warm-gray-dark,
  "wvu-accent--blue-dark": $wvu-accent--blue-dark,
  "wvu-accent--blue": $wvu-accent--blue,
  "wvu-accent--blue-light": $wvu-accent--blue-light,
  "wvu-accent--yellow": $wvu-accent--yellow,
  "wvu-accent--sunset": $wvu-accent--sunset
);

$theme-colors: (
  "facebook": $facebook,
  "twitter": $twitter,
  "flickr": $flickr,
  "instagram": $instagram,
  "linkedin": $linkedin,
  "syndication": $syndication,
  "youtube": $youtube,
  "github": $github,
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
  "white": $white,
  "wvu-blue": $wvu-blue,
  "wvu-gold": $wvu-gold,
  "wvu-accent--old-gold": $wvu-accent--old-gold,
  "wvu-neutral--off-white": $wvu-neutral--off-white,
  "wvu-neutral--cream": $wvu-neutral--cream,
  "wvu-neutral--tan": $wvu-neutral--tan,
  "wvu-neutral--warm-gray-light": $wvu-neutral--warm-gray-light,
  "wvu-neutral--warm-gray-medium": $wvu-neutral--warm-gray-medium,
  "wvu-neutral--warm-gray-dark": $wvu-neutral--warm-gray-dark,
  "wvu-accent--blue-dark": $wvu-accent--blue-dark,
  "wvu-accent--blue": $wvu-accent--blue,
  "wvu-accent--blue-light": $wvu-accent--blue-light,
  "wvu-accent--yellow": $wvu-accent--yellow,
  "wvu-accent--sunset": $wvu-accent--sunset
);

$dark-theme-colors: (
  "wvu-blue",
  "wvu-accent--old-gold",
  "wvu-neutral--warm-gray-dark",
  "wvu-accent--blue-dark",
  "wvu-accent--blue"
);

$light-theme-colors: (
  "wvu-gold",
  "wvu-neutral--tan",
  "wvu-neutral--off-white",
  "wvu-neutral--warm-gray-light",
  "wvu-neutral--warm-gray-medium",
  "wvu-neutral--cream",
  "wvu-accent--sunset",
  "wvu-accent--blue-light",
  "wvu-accent--yellow"
);

$grid-breakpoints: (
  xs: $wvu-bp-xs,
  sm: $wvu-bp-sm,
  md: $wvu-bp-md,
  lg: $wvu-bp-lg,
  xl: $wvu-bp-xl,
  xxl: $wvu-bp-xxl
);

$container-max-widths: (
  xl: 1360px
);

$spacer: 2rem;

$spacers: (
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 3),
  6: ($spacer * 6)
);

$aspect-ratios: (
  "1x1": 100%,
  "3x2": calc(2 / 3 * 100%),
  "4x3": calc(3 / 4 * 100%),
  "16x9": calc(9 / 16 * 100%),
  "21x9": calc(9 / 21 * 100%)
);

.ratio-3x2 {
  --bs-aspect-ratio: 66.66667%; // 2x1
}

$blue: #006FE6;
$link-color: $blue;
$blockquote-margin-y: 0;
$card-border-radius: 0;
$card-border-width: 0;
$card-bg: transparent;
$dark: $wvu-neutral--black;
$display1-size: 7rem;
$display2-size: 5rem;
$display3-size: 4rem;
$display4-size: 3.5rem;
$font-size-base: 1rem;
$emphasized-link-hover-darken-percentage: 0%;
$font-family-sans-serif: $helvetica-neue;
$jumbotron-bg: transparent;
$jumbotron-padding: 4rem;
$lead-font-size: ($font-size-base * 1.5);
$link-decoration: underline;
$pink: #DB1A74;
$small-font-size: 80%;
$nameSpace: 'wvu';
$text-shadow: 2px 2px black;

$enable-negative-margins: true;
