<footer class="{{ component.classes }}" {{ component.bgStyler }}>
  <div class="container">
    <div class="row small">
      <div class="col-12">
        {% if edit_mode %}<span class="d-inline-block badge bg-primary mb-1">Address</span>{% endif %}
        {% editable_region_block name: component.region_names.main, scope: "site" %}
          <address class="mb-4">
            <p>
              <strong>Organization Name</strong><br>
              Address Line 1<br>
              Address Line 2<br>
            </p>
            <p>
              <span class="fa-solid fa-phone"></span> <a href="tel:3041234567">(304) 123-4567</a><br>
              <span class="fa-solid fa-envelope"></span> <a href="mailto:email@mail.wvu.edu">email@mail.wvu.edu</a>
            </p>
          </address>
        {% endeditable_region_block %}
      </div>
    </div>
    <div class="row small">
      <div class="col-md-6">
        {% assign link_class = site.data['classes_wvu_footer_links'] %}
        <ul class="list-unstyled">
          <li class="list-inline-item"><a class="{{ link_class }}" href="https://about.wvu.edu/wvu-facts">Accreditations</a></li>
          <li class="list-inline-item"><a class="{{ link_class }}" href="https://webstandards.wvu.edu">Web Standards</a></li>
          <li class="list-inline-item"><a class="{{ link_class }}" href="https://www.wvu.edu/privacy">Privacy Notice</a></li>
          <li class="list-inline-item"><a class="{{ link_class }}" href="mailto:web_services@mail.wvu.edu">Questions or Comments?</a></li>
        </ul>
        <p>
          &copy; {{ 'now' | date: '%Y' }} <a class="{{ link_class }}" href="https://www.wvu.edu/">West Virginia University</a>. WVU is an EEO/Affirmative Action employer &mdash; Minority/Female/Disability/Veteran.
          <span class="wvu-credits__last-edited">Last updated on {{ page.content_updated_at | default: page.created_at | date: "%B %-d, %Y" }}.</span>
        </p>
      </div>
      <div class="col-md-6 text-md-end">
        <ul class="list-unstyled mb-0">
          <li class="list-inline-item"><a class="{{ link_class }}" href="https://www.wvu.edu/SiteIndex/">A-Z Site Index</a></li>
          <li class="list-inline-item"><a class="{{ link_class }}" href="https://campusmap.wvu.edu">Campus Map</a></li>
          <li class="list-inline-item"><a class="{{ link_class }}" href="https://careers.wvu.edu/career-opportunities">WVU Careers</a></li>
          <li class="list-inline-item"><a class="{{ link_class }}" href="https://directory.wvu.edu">WVU Directory</a></li>
        </ul>
        <ul class="list-unstyled">
          <li class="list-inline-item"><a class="{{ link_class }}" href="https://give.wvu.edu/">Give</a></li>
          <li class="list-inline-item"><a class="{{ link_class }}" href="https://careerservices.wvu.edu/students/handshake-login">Handshake</a></li>
          <li class="list-inline-item"><a class="{{ link_class }}" href="https://alert.wvu.edu/">WVU Alert</a></li>
          <li class="list-inline-item"><a class="{{ link_class }}" href="https://wvutoday.wvu.edu">WVU Today</a></li>
          <li class="list-inline-item"><a class="{{ link_class }}" href="https://portal.wvu.edu">WVU Portal</a></li>
        </ul>
        <ul class="list-unstyled">
          <li class="list-inline-item">
            <a class="{{ link_class }} h5" href="https://www.facebook.com/wvumountaineers">
              <span class="fab fa-facebook-square" aria-hidden="true"></span>
              <span class="visually-hidden">WVU on Facebook</span>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="{{ link_class }} h5" href="https://twitter.com/WestVirginiaU">
              <span class="fab fa-twitter-square" aria-hidden="true"></span>
              <span class="visually-hidden">WVU on Twitter</span>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="{{ link_class }} h5" href="https://www.youtube.com/user/westvirginiau">
              <span class="fab fa-youtube-square" aria-hidden="true"></span>
              <span class="visually-hidden">WVU on YouTube</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

{% render "includes/wvu-component-footer/wvu-component-footer--v1" component: component %}
