{%- liquid
  assign rowClasses = page.content[component.region_names.rowClasses] | default: component.defaultRowClasses
  assign itemHeaderClasses = page.content[component.region_names.itemHeaderClasses] | default: component.defaultItemHeaderClasses
  assign itemBodyClasses = page.content[component.region_names.itemBodyClasses]
  assign itemButtonClasses = page.content[component.region_names.itemButtonClasses] | default: component.defaultItemButtonClasses
  assign itemReadMoreButtonText = page.content[component.region_names.readMoreButtonText] | default: component.defaultItemButtonText
  assign componentLabels = component.customLabel | default: component.itemLabels

  if component.featurettesID == blank
    assign root = site.root_page
    assign items = root.descendants | filter_pages: by: component.loopBy, sort: component.loopOrder, tags: componentLabels, tags_match: component.loopLabelsMatch, hidden: component.showHidden, random: component.random
  else
    assign blog = site | get_page: component.featurettesID
    assign items = blog.articles | filter_articles: page: params.page, limit: component.limit, year: params.year, month: params.month, day: params.day
  endif

  assign componentLoopBy = component.loopBy | default: "published_at"

  if componentLoopBy == "sort_order"
    assign componentLoopBy = "published_at"
  endif

  case componentLoopBy
    when "published_at" or "created_at" or "updated_at"
      assign sortedItems = items | sort: componentLoopBy | reverse
    else
      assign sortedItems = items | sort: componentLoopBy
  endcase

  if component.loopOrder == "desc"
    assign sortedItems = sortedItems | reverse
  endif

  assign itemCount = 0
  assign disableAuthor = component.disableAuthor | default: page.data.disable_articles_author | default: false

  if page.content[component.region_names.header] != blank
    assign htag = 'h3'
  else
    assign htag = 'h2'
  endif

  for items in items.all
    assign itemCount = itemCount | plus: 1
  endfor

  if items > component.limit
    assign itemCount = component.limit | times: 1
  endif
-%}

{% capture component_content %}
  <div class="wvu-z-index-content">
    <div class="container wvu-z-index-content wvu-articles">

      {% if edit_mode or page.content[component.region_names.header] != blank %}
        {% if edit_mode %}<span class="d-inline-block badge bg-primary mb-1 no-preview">Header</span>{% endif %}
        {% editable_region_block name: component.region_names.header scope: component.scope %}
          <h2 id="{{ component.name }}-label" class="display-3 wvu-shout text-wvu-blue">Article Collection Headline</h2>
          <p class="h3 helvetica-neue-light text-wvu-blue mb-3">Subhead goes here.</p>
        {% endeditable_region_block %}
      {% endif %}

      {% if itemCount == 0 %}
        {% render "includes/wvu-collection-warnings/wvu-collection-labels-warning--v1" component: component %}
      {% else %}
        {%- capture itemClasses %}{% render "includes/wvu-column-classes/wvu-column-classes--v1" numberOfItems: itemCount component: component %}{% endcapture -%}
        {% assign itemClasses = itemClasses | strip %}
        {% render "includes/wvu-collection-warnings/wvu-collection-labels-label-tooltip--v1" component: component %}
      {% endif %}

      {% capture loopContent %}
        {% for item in sortedItems limit: component.limit %}

          {% liquid
            if item.data.alternate_url != blank
              assign link_href = item.data.alternate_url
            else
              assign link_href = item.url
            endif

            if itemReadMoreButtonText != 'none'
              assign hideImgLink = 'aria-hidden="true" tabindex="-1" '
            endif
          %}

          {% capture htag_id %}{{ item.slug }}-{{ component.name }}-{{ item.id }}{% endcapture %}

          <div class="{{ page.content[component.region_names.itemClasses] | default: itemClasses }}">
            {% assign itemThumbnailSrc = item.data.thumbnail_url | build_image_url: size: '960x640', format: 'webp' %}
            {% if item.data.thumbnail_url != blank %}
              <div class="mb-2">
                <a href="{{ link_href }}" title="{{ itemReadMoreButtonText }}: {{ item.name }}" {{ hideImgLink }}>
                  <img class="card-img-top" src="{{ itemThumbnailSrc }}" alt="{{ item.data.thumbnail_alt  }}">
                </a>
              </div>
            {% endif %}

            <{{ htag }} class="card-title" id="{{ htag_id }}">
              <a title="{{ itemReadMoreButtonText }}: {{ item.name }}" class="{{ itemHeaderClasses }}" {% if item.link_target != blank %}target="{{ item.link_target }}"{% endif %} href="{{ link_href }}">
                {{ item.alternate_name | default: item.name }}
              </a>
            </{{ htag }}>

            <p class="small d-block">
              {% if item.parent.data.disable_articles_author != '1' and disableAuthor != '1' %}
                {% if item.data.article_hide_author != '1' %}
                  <span class="wvu-article__author">{{ item.content['wvu-article-1__author'] | default: item.author.full_name }}</span><span class="wvu-article__separator"> | </span>
                {% endif %}
              {% endif %}
              <time class="wvu-article__date-published" itemprop="datePublished" datetime="{{ item.published_at | date_iso8601 }}">{{ item.published_at | date: '%A, %B %d, %Y' | default: 'Not yet published' }}</time>
            </p> <!-- /.wvu-article__meta -->

            <p class="{{ itemBodyClasses }}">
              {% if item.data.description != blank %}
                {{ item.data.description }}
              {% else %}
                {% render "includes/wvu-collection-warnings/wvu-collection-description-warning--v1" component: component %}
              {% endif %}
            </p>
            {% if itemReadMoreButtonText != 'none' %}
              {% if item.data.link_text != blank %}
                {% assign link_text = item.data.link_text %}
              {% else %}
                {% capture link_text %}{{ itemReadMoreButtonText }}<span class="visually-hidden">: {{ item.name }}</span>{% endcapture %}
              {% endif %}
              <a class="{{ itemButtonClasses }}" href="{{ link_href }}">{{ link_text }}</a>
            {% endif %}
          </div>
        {% endfor %}
      {% endcapture %}

      <div class="row {{ rowClasses }}">{{ loopContent }}</div>

      {% if edit_mode or page.content[component.region_names.postscript] != blank %}
        <div class="mt-2">
          {% if edit_mode %}<span class="d-inline-block badge bg-primary mb-1 no-preview">Postscript</span>{% endif %}
          {% editable_region_block name: component.region_names.postscript scope: component.scope %}
            <p class="mb-0">Put additional info or <a href="#">links</a> here.</p>
          {% endeditable_region_block %}
        </div>
      {% endif %}
    </div>
  </div>
{% endcapture %}

{% render "utilities/wvu-component-tag/wvu-component-tag--v1" component: component, content: component_content %}
{% render "includes/wvu-component-footer/wvu-component-footer--v1" footerItemClasses: itemClasses component: component %}
