<!DOCTYPE html>
<html lang="en-US">
  <head>
    {% comment %}<!-- meta charset/http-equiv gets set automatically by CleanSlate -->{% endcomment %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% if page.is_home_page? %}
      <title>{{ site.name }} at West Virginia University</title>
    {% else %}
      <title>{{ page.alternate_name | default: page.name }} | {{ site.name }} | West Virginia University</title>
    {% endif %}

    <link rel="preconnect" href="https://cdn.fonts.net">
    <link rel="preconnect" href="https://static.wvu.edu">
    <link rel="preconnect" href="https://kit.fontawesome.com">

    {% comment %}
      <!-- Helvetica Neue Roman, Italic, Bold, Bold Italic, Light, & Condensed Black + -->
      <!-- Iowan Old Style Roman, Italic, Black, & Black Italic web font from monotype.com. -->
      <!-- Valid for *.wvu.edu, *.wvutech.edu, *.potomacstatecollege.edu & localhost. -->
      <!-- Email web_services@mail.wvu.edu to get your domain added to this list. -->
    {% endcomment %}
    <link href="https://cdn.fonts.net/kit/b339d500-35c3-11ed-aaf7-06b70d83f6b0/b339d500-35c3-11ed-aaf7-06b70d83f6b0.css" rel="stylesheet" />

    {% link_stylesheet name: "styles" %}

    {% if page.template_name == 'wireframe' %}
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">
      <style>
        body, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {font-family: 'Caveat', cursive !important;}
      </style>
    {% endif %}

    {% link_javascript name: "meom-wvu-site-navigation--custom", type: "module" %}

    {{ content_for.header_extras }}

    {% if edit_mode or page.data.useFACSS == '1' or page.template_name == 'component_doc' %}
      <script src="https://kit.fontawesome.com/ba40ea27ab.js" crossorigin="anonymous"></script>
    {% else %}
      <script data-search-pseudo-elements defer src="https://kit.fontawesome.com/a140e17a00.js" crossorigin="anonymous"></script>
    {% endif %}

    {% if page.is_home_page? %}
      <link rel="canonical" href="{{ site.url }}">
    {% else %}
      <link rel="canonical" href="{{ page.url }}" >
    {% endif %}
    <meta name="description" content="{{ page.meta_description }}" />
    <meta name="google-site-verification" content="{{ site.data.google_site_verification }}" />
    {% render "utilities/social_meta_tags" %}
  </head>
  <body class="{{ page.template_name }} page--{{ page.id }} page--{{ page.slug }} {% if edit_mode %}page--edit-mode page--hide-instructions-{{ site.data.hide_instructions }}{% endif %}">

    <header aria-label="masthead">
      <a class="visually-hidden-focusable" href="#wvu-main-content">Skip to main content</a>

      {% render "components/wvu-emergency-alert" %}

      {% if page.name == "Home" and site.data.activate_alert_banner == '1' and site.data.activate_alert_banner_sitewide != '1' %}
        {% render "components/wvu-alert-banner" %}
      {% endif %}

      {% if site.data.activate_alert_banner == '1' and site.data.activate_alert_banner_sitewide == '1' %}
        {% render "components/wvu-alert-banner" %}
      {% endif %}

      {% render "components/wvu-masthead" %}

      {% render "components/wvu-nav" %}

      {% if page.data.add_horizontal_subnav == '1' %}
        {% render "components/wvu-horizontal-subnav" %}
      {% endif %}

      {% case page.template_name %}
        {% when 'frontpage' or 'frontpage-college-or-department' or 'frontpage-conference-or-event' or 'frontpage-faculty-member' or 'frontpage-magazine' or 'frontpage-student-org' %}
        {% when 'article' or 'profile' or 'student' or 'faculty-member' or 'landing-page' %}
          {% if page.data.breadcrumbs != '1' %}
            {% render "components/wvu-breadcrumbs" %}
          {% endif %}
        {% else %}
          {% if page.data.breadcrumbs != '1' %}
            {% render "components/wvu-breadcrumbs" %}
          {% endif %}
          {% if page.data.backpage_header != '1' %}
            {% render "components/wvu-backpage-header" %}
          {% endif %}
      {% endcase %}
    </header>

    {{ __TEMPLATE_CONTENT__ }}

    {% render "components/wvu-footer" scope: 'site' %}

    {% link_javascript name: "vendor/bootstrap/bootstrap.bundle.min" %}

    {{ content_for.page_js }}

  </body>
</html>
