// WVU Header Max Width
//==================================================
// When using a display header, you usually don't want it extending too long. Limit its width with this mixin.

@mixin wvu-header-max-width($is-important: $global-important) {
  max-width: 9em $is-important;
}

// Example usage:
// .wvu-header-max-width {
//   @include wvu-header-max-width();
// }

// WVU Typography Options
//==================================================
// Use these to apply different typefaces to text elements.

@mixin helvetica-neue($is-important: $global-important) {
  font-family: $helvetica-neue $is-important;
  font-stretch: normal $is-important;
  font-style: normal $is-important;
}

// Example usage:
// .helvetica-neue {
//   @include helvetica-neue();
// }

@mixin helvetica-neue-bold($is-important: $global-important) {
  font-family: $helvetica-neue-bold $is-important;
  font-weight: bold $is-important;
}

// Example usage:
// .helvetica-neue-bold {
//   @include helvetica-neue-bold();
// }

@mixin helvetica-neue-italic($is-important: $global-important) {
  font-family: $helvetica-neue-italic $is-important;
  font-style: italic $is-important;
}

// Example usage:
// .helvetica-neue-italic {
//   @include helvetica-neue-italic();
// }

@mixin helvetica-neue-bold-italic($is-important: $global-important) {
  font-family: $helvetica-neue-bold-italic $is-important;
  font-style: italic $is-important;
  font-weight: bold $is-important;
}

// Example usage:
// .helvetica-neue-bold-italic {
//   @include helvetica-neue-bold-italic();
// }

@mixin helvetica-neue-light($is-important: $global-important) {
  font-family: $helvetica-neue-light $is-important;
  font-weight: normal $is-important;
  -webkit-font-smoothing: antialiased $is-important;
}

// Example usage:
// .helvetica-neue-light {
//   @include helvetica-neue-light();
// }

@mixin iowan-old-style($is-important: $global-important) {
  font-family: $iowan-old-style $is-important;
  font-weight: normal $is-important;
  line-height: $wvu-traditional-audience-line-height $is-important;
  -webkit-font-smoothing: antialiased $is-important;
  &.display-1, &.display-2, &.display-3, &.display-4 {
    line-height: 1em $is-important;
  }
}

// Example usage:
// .iowan-old-style {
//   @include iowan-old-style();
// }

@mixin iowan-old-style-italic($is-important: $global-important) {
  font-family: $iowan-old-style-italic $is-important;
  font-stretch: normal $is-important;
  font-style: italic $is-important;
  font-weight: normal $is-important;
  line-height: $wvu-traditional-audience-line-height $is-important;
  -webkit-font-smoothing: antialiased $is-important;
  &.display-1, &.display-2, &.display-3, &.display-4 {
    line-height: 1em $is-important;
  }
}

// Example usage:
// .iowan-old-style-italic {
//   @include iowan-old-style-italic();
// }

@mixin iowan-old-style-black($is-important: $global-important) {
  font-family: $iowan-old-style-black $is-important;
  font-style: normal $is-important;
  font-weight: normal $is-important;
  line-height: $wvu-traditional-audience-line-height $is-important;
  -webkit-font-smoothing: antialiased $is-important;
  &.display-1, &.display-2, &.display-3, &.display-4 {
    line-height: 1em $is-important;
  }
}

// Example usage:
// .iowan-old-style-black {
//   @include iowan-old-style-black();
// }

@mixin iowan-old-style-black-italic($is-important: $global-important) {
  font-family: $iowan-old-style-black-italic $is-important;
  font-style: italic $is-important;
  font-weight: normal $is-important;
  line-height: $wvu-traditional-audience-line-height $is-important;
  -webkit-font-smoothing: antialiased $is-important;
  &.display-1, &.display-2, &.display-3, &.display-4 {
    line-height: 1em $is-important;
  }
}

// Example usage:
// .iowan-old-style-black-italic {
//   @include iowan-old-style-black-italic();
// }

@mixin wvu-shout($is-important: $global-important) {
  font-family: $wvu-shout-font-family $is-important;
  font-stretch: condensed $is-important;
  font-style: normal $is-important;
  font-weight: normal $is-important;
  letter-spacing: 0 $is-important;
  line-height: $wvu-shout-line-height $is-important;
  text-transform: uppercase $is-important;
}

// Example usage:
// .wwvu-shout {
//   @include wvu-shout();
// }

// WVU First Line Gold
//==================================================
// If you have a header, particularly one that uses WVU Shout, sometimes you want the top line to be gold and the bottom white.

@mixin wvu-first-line-gold($is-important: $global-important) {
  &:first-line {
    color: $wvu-gold $is-important;
  }
}

// Example usage:
// .wvu-first-line-gold {
//   @include wvu-first-line-gold();
// }

// WVU Quote
//==================================================
// Let's say you want to call out a quote. Use this to insert an opening quotation mark before your text.

@mixin wvu-quote() {
  &:before {
    @include wvu-shout();
    color: $wvu-gold;
    content: '“';
    display: block;
    font-size: 3rem;
  }
}

// Example usage:
// .wvu-quote {
//   @include wvu-quote();
// }

// WVU Letter Spacing
//==================================================
// This is good for using with a text element that is all caps and uses Iowan Old Style. It gives your text a more formal look.

@mixin wvu-text-letter-spacing() {
  letter-spacing: $wvu-letter-spacing-width $global-important;
}

// Example usage:
// .wvu-text-letter-spacing {
//   @include wvu-text-letter-spacing();
// }
