// WVU BG Tint
//==================================================
// Adds a black tint to a background element to improve legibility of any text that is overlayed.

@mixin wvu-bg-tint($wvu-tint-opacity, $is-important: $global-important) {
  background-size: cover $is-important;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    opacity: $wvu-tint-opacity;
    z-index: $wvu-z-index-vignetting;
  }
  &.ratio {
    &:before {
      position: inherit $global-important;
      top: auto $global-important;
      right: auto $global-important;
      bottom: auto $global-important;
      left: auto $global-important;
    }
  }
  &.wvu-bg-pattern-grid {
    &:before {
      background-image: url($wvu-grid-pattern), linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)) $is-important;
    }
  }
  &.wvu-bg-pattern-grid-transparent {
    &:before {
      background-image: url($wvu-grid-pattern-transparent), linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)) $is-important;
    }
  }
  &.wvu-bg-pattern-grid-zoomed {
    &:before {
      background-image: url($wvu-grid-pattern-zoomed), linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)) $is-important;
    }
  }
  &.wvu-bg-pattern-grid-zoomed-transparent {
    &:before {
      background-image: url($wvu-grid-pattern-zoomed-transparent), linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)) $is-important;
    }
  }
  &.wvu-bg-topo-dark {
    &:before {
      background-image: url($wvu-topo-map-black), linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)) $is-important;
    }
  }
  &.wvu-bg-topo-light {
    &:before {
      background-image: url($wvu-topo-map-white), linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)) $is-important;
    }
  }
  &.wvu-bg-pattern-slashes-gold-blue {
    &:before {
      background-image: url($wvu-slashes-gold-blue), linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)) $is-important;
    }
  }
  &.wvu-bg-pattern-slashes-gold-blue-white {
    &:before {
      background-image: url($wvu-slashes-gold-blue-white), linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)) $is-important;
    }
  }
}

// Example usage
// .wvu-bg-tint, %wvu-bg-tint {
//   @include wvu-bg-tint($wvu-tint-opacity);
// }
