{%- liquid
  assign componentLabels = component.customLabel | default: component.itemLabels
  assign profiles = site.pages | filter_pages: order: component.loopBy, sort: component.loopOrder, tags: componentLabels, tags_match: component.loopTagsMatch, hidden: component.showHidden
-%}

{% capture component_content %}
  <div class="container wvu-z-index-content">
    {% if edit_mode or page.content[component.region_names.header] !=  blank %}
      <div class="mb-4">
        {% if edit_mode %}<span class="d-inline-block badge bg-primary mb-1">Header</span>{% endif %}
        {% editable_region_block name: component.region_names.header, scope: component.scope %}
          <h2 id="{{ component.name }}-label" class="display-3 wvu-shout text-wvu-blue">Profiles Headline</h2>
          <p class="h3 helvetica-neue-light text-wvu-blue">Subhead goes here.</p>
        {% endeditable_region_block %}
      </div>
    {% endif %}
    <div class="row">
      <div class="col-md-8{% if component.componentDisplayContext == 'as_full_width_block' %} mx-auto{% endif %}">
        {% for profile in profiles.all %}
          <div class="row mb-5">
            <div class="col-md-3 mr-ml-auto mb-1 text-center">
              {% if profile.data.thumbnail_url_sq != blank %}
                {% assign itemThumbnailSrc = profile.data.thumbnail_url_sq | build_image_url: size: '640x640' %}
                <img class="rounded-circle shadow text-center" src="{{ itemThumbnailSrc }}" alt="{{ profile.data.thumbnail_alt }}">
              {% endif %}
            </div>
            <div class="col-md-8">
              <h2 class="iowan-old-style-italic mb-0">{{ profile.alternate_name | default: profile.name }}</h2>
              {% if profile.content['wvu-backpage-header-1__subhead'] != blank %}
                <p class="helvetica-neue-light">
                  <small class="d-block">{{ profile.content['wvu-backpage-header-1__subhead'] }}</small>
                </p>
              {% endif %}
              {% if profile.content['wvu-profile-1__phone'] != blank %}
                <p class="mb-0">
                  <small class="d-block">
                    <a href="tel:{{ profile.content['wvu-profile-1__phone'] }}" class="fas fa-phone"> {{ profile.content['wvu-profile-1__phone'] }}</a>
                  </small>
                </p>
              {% endif %}
              {% if profile.content['wvu-profile-1__email'] != blank %}
                <p class="mb-0">
                  <small class="d-block">
                    <a href="mailto:{{ profile.content['wvu-profile-1__email'] }}" class="fas fa-envelope"> {{ profile.content['wvu-profile-1__email'] }}</a>
                  </small>
                </p>
              {% endif %}
              {% if profile.content['wvu-profile-1__office'] != blank %}
                <p class="mb-0">
                  <small class="d-block">
                    {% if profile.content['wvu-profile-1__office-url'] != blank %}
                      <a href="tel:{{ profile.content['wvu-profile-1__office-url'] }}" class="fas fa-building"> {{ profile.content['wvu-profile-1__office'] }}</a>
                    {% else %}
                      <span class="fas fa-building"> {{ profile.content['wvu-profile-1__office']}}</span>
                    {% endif %}
                  </small>
                </p>
              {% endif %}
              <p class="mt-2">
                {% if profile.data.description != blank %}{{ profile.data.description }}{% endif %}
              </p>
              <p class="mb-0 mt-2">
                <a class="btn btn-primary btn-sm" href="{% if profile.data.alternate_url != blank %}{{ profile.data.alternate_url }}{% else %}{{ profile.url }}{% endif %}">View Profile<span class="visually-hidden">: {{ profile.name }}</span></a>
              </p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endcapture %}

{% render "utilities/wvu-component-tag/wvu-component-tag--v1" component: component, content: component_content %}
{% render "includes/wvu-component-footer/wvu-component-footer--v1" component: component %}
