{%- liquid
  assign inumber = component.number | default: 1
  if component.scope == "site"
    assign componentName = component.name | prepend: "site-"
  endif
  assign componentSidebar = componentName | append: "-sidebar"
  assign componentSidebarPostscript = componentName | append: "-sidebar__postscript"
-%}

<aside class="wvu-sidebar col-md-3 mt-4 mt-md-0 text-start ms-md-auto" aria-label="{{ componentSidebar }}">
  <div class="sticky-top pt-3 mt-n3">
    {% if edit_mode or page.content[componentSidebar] != blank %}
      <div class="mb-3">
        {% if edit_mode %}<span class="d-inline-block badge bg-primary mb-1">Sidebar Content</span>{% endif %}
        {% editable_region name: componentSidebar, scope: component.scope %}
      </div>
    {% endif %}
    {% if page.data.ifBackpageRemoveNav != '1' %}
      {% if component.removeSubnav != '1' %}
        {% render "components/wvu-subnav" %}
      {% endif %}
    {% endif %}
    {% if edit_mode or page.content[componentSidebarPostscript] != blank %}
      <div class="mb-3">
        {% if edit_mode %}<span class="d-inline-block badge bg-primary mb-1">Sidebar Postscript</span>{% endif %}
        {% editable_region name: componentSidebarPostscript, scope: component.scope %}
      </div>
    {% endif %}
  </div>
</aside>
