{%- liquid
  assign inumber = component.number | default: 1
  assign componentSidebar = component.name | append: "-sidebar"
  assign componentSidebarPostscript = component.name | append: "-sidebar__postscript"
-%}

<aside class="wvu-sidebar col-md-3 mt-4 mt-md-0 text-start {% if component.align == 'right'%}me-md-auto{% else %}ms-md-auto{% endif %}" aria-label="{{ componentSidebar }}">
  <div class="sticky-top pt-3 mt-n3">
    {% if edit_mode or page.content[componentSidebar] != blank %}
      <div class="mb-3">
        {% if edit_mode %}<span class="d-inline-block badge bg-primary mb-1 no-preview">Sidebar Content</span>{% endif %}
        {% editable_region name: componentSidebar, scope: component.scope %}
      </div>
    {% endif %}
    {% if page.data.ifBackpageRemoveNav != '1' %}
      {% if component.removeSubnav != '1' %}
        {% render "components/wvu-subnav" %}
      {% endif %}
    {% endif %}
    {% if edit_mode or page.content[componentSidebarPostscript] != blank %}
      <div class="mb-3">
        {% if edit_mode %}<span class="d-inline-block badge bg-primary mb-1 no-preview">Sidebar Postscript</span>{% endif %}
        {% editable_region name: componentSidebarPostscript, scope: component.scope %}
      </div>
    {% endif %}
  </div>
</aside>
