{% comment %}<!-- See webstandards.wvu.edu/design-system for information about shared partials -->{% endcomment %}

{% liquid
  assign componentVersion = theme.data.component_versions.testimonials_fancy | default: '1'
%}

{%- define_component component %}
  {
    "baseName": "testimonials-fancy",
    "defaultComponentClasses": "py-5 text-center",
    "defaultRowClasses": "justify-content-left",
    "defaultItemClasses": "col-md-6 col-lg-4",
    "defaultItemHeaderClasses": "pt-6 pt-md-0 wvu-shout text-wvu-gold ms-n4",
    "defaultItemBodyClasses": null,
    "mainTagClasses": null
  }
{%- enddefine_component %}

{% case componentVersion %}
  {% when 1 %}{% render "components/wvu-testimonials-fancy/wvu-testimonials-fancy--v1" component: component %}
  {% when 2 %}{% render "components/wvu-testimonials-fancy/wvu-testimonials-fancy--v2" component: component %}
  {% else %}{% render "components/wvu-testimonials-fancy/wvu-testimonials-fancy--v1" component: component %}
{% endcase %}
