{% comment %}<!-- See webstandards.wvu.edu/design-system for information about shared partials -->{% endcomment %}

{% liquid
  assign componentVersion = theme.data.component_versions.alternating-grid | default: '1'
  assign scope = scope | default: slot.scope
  assign defaultComponentClasses = defaultComponentClasses | default: null
  assign defaultHeaderClasses = defaultHeaderClasses | default: "mb-4"
  assign defaultItemHeaderClasses = defaultItemHeaderClasses | default: "h1 helvetica-neue-bold text-white wvu-bar wvu-bar--bottom wvu-header-max-width mb-1 mt-0 text-white"
  assign defaultItemBodyClasses = defaultItemBodyClasses | default: null
  assign defaultItemButtonClasses = defaultItemButtonClasses | default: "btn btn-outline-white"
  assign defaultItemButtonText = defaultItemButtonText | default: "View Profile"

  if scope == 'site'
    assign basename = "site-alternating-grid"
  else
    assign basename = "alternating-grid"
  endif
%}

{%- define_component component %}
  {
    "baseName": "{{ basename }}",
    "defaultComponentClasses": "{{ defaultComponentClasses }}",
    "defaultHeaderClasses": "{{ defaultHeaderClasses }}",
    "defaultItemHeaderClasses": "{{ defaultItemHeaderClasses }}",
    "defaultItemBodyClasses": "{{ defaultItemBodyClasses }}",
    "defaultItemButtonClasses": "{{ defaultItemButtonClasses }}",
    "defaultItemButtonText": "{{ defaultItemButtonText }}",
    "mainTagClasses": null
  }
{%- enddefine_component %}

{% comment %}<!-- Use the correct version of the component -->{% endcomment %}
{% case componentVersion %}
  {% when 1 %}{% render "components/wvu-alternating-grid/wvu-alternating-grid--v1" component: component %}
  {% else %}{% render "components/wvu-alternating-grid/wvu-alternating-grid--v1" component: component %}
{% endcase %}
