{% comment %}<!-- See webstandards.wvu.edu/design-system for information about shared partials -->{% endcomment %}

{% liquid
  assign componentVersion = theme.data.component_versions.featurettes | default: '1'
  assign defaultComponentClasses = defaultComponentClasses | default: null
  assign defaultRowClasses = defaultRowClasses | default: "justify-content-start"
%}

{%- define_component component %}
  {
    "baseName": "featurettes",
    "defaultComponentClasses": "{{ defaultComponentClasses }}",
    "defaultRowClasses": "{{ defaultRowClasses }}",
    "defaultItemClasses": null,
    "mainTagClasses": "py-5"
  }
{%- enddefine_component %}

{% case componentVersion %}
  {% when 1 %}{% render "components/wvu-featurettes/wvu-featurettes--v1" component: component %}
  {% else %}{% render "components/wvu-featurettes/wvu-featurettes--v1" component: component %}
{% endcase %}
