{% comment %}<!-- See webstandards.wvu.edu/design-system for information about shared partials -->{% endcomment %}

{% liquid
  assign componentVersion = theme.data.component_versions.alert_banner | default: '1'
  assign basename = "alert-banner"
%}

{%- define_component component %}
  {
    "baseName": "{{ basename }}",
  }
{%- enddefine_component %}

{% case componentVersion %}
  {% when 1 %}{% render "components/wvu-alert-banner/wvu-alert-banner--v1" component: component %}
  {% else %}{% render "components/wvu-alert-banner/wvu-alert-banner--v1" component: component %}
{% endcase %}
