{% comment %}<!-- See webstandards.wvu.edu/design-system for information about shared partials -->{% endcomment %}

{% liquid
  assign componentVersion = theme.data.component_versions.video_feature | default: '1'
%}

{%- define_component component %}
  {
    "baseName": "video-feature",
    "defaultComponentClasses": "bg-wvu-neutral--black bg-wvu-accent--blue-dark wvu-bg-vignetting text-white text-center",
    "mainTagClasses": "py-5"
  }
{%- enddefine_component %}

{% case componentVersion %}
  {% when 1 %}{% render "components/wvu-video-feature/wvu-video-feature--v1" component: component %}
  {% else %}{% render "components/wvu-video-feature/wvu-video-feature--v1" component: component %}
{% endcase %}
