{% comment %}<!-- See webstandards.wvu.edu/design-system for information about shared partials -->{% endcomment %}

{% liquid
  assign componentVersion = theme.data.component_versions.blob_a | default: '1'
%}

{%- define_component component %}
  {
    "baseName": "blob-a",
    "defaultComponentClasses": null,
    "mainTagClasses": "py-5"
  }
{%- enddefine_component %}

{% case componentVersion %}
  {% when 1 %}{% render "components/wvu-blob-a/wvu-blob-a--v1" component: component %}
  {% when 2 %}{% render "components/wvu-blob-a/wvu-blob-a--v2" component: component %}
  {% else %}{% render "components/wvu-blob-a/wvu-blob-a--v1" component: component %}
{% endcase %}
