{% comment %}<!-- See webstandards.wvu.edu/design-system for information about shared partials -->{% endcomment %}

{% liquid
  assign themeVersion = site.data.theme_version | default: '1'
  assign componentVersion = site.component_versions.horizontal_subnav | default: themeVersion
%}

{%- define_component component %}
  {
    "baseName": "{{ basename }}"
  }
{%- enddefine_component %}

{% case componentVersion %}
  {% when '1' %}{% render "components/wvu-horizontal-subnav/wvu-horizontal-subnav--v1" component: component %}
  {% else %}{% render "components/wvu-horizontal-subnav/wvu-horizontal-subnav--v1" component: component %}
{% endcase %}
