{% comment %}<!-- See webstandards.wvu.edu/design-system for information about shared partials -->{% endcomment %}

{% liquid
  assign componentVersion = theme.data.component_versions.tabs | default: '1'
  assign scope = scope | default: slot.scope

  if scope == 'site'
    assign basename = "site-tabs"
  else
    assign basename = "tabs"
  endif
%}

{%- define_component component %}
  {
    "baseName": "{{ basename }}",
    "defaultComponentClasses": null,
    "mainTagClasses": "py-5"
  }
{%- enddefine_component %}

{% case componentVersion %}
  {% when 1 %}{% render "components/wvu-tabs/wvu-tabs--v1" component: component %}
  {% else %}{% render "components/wvu-tabs/wvu-tabs--v1" component: component %}
{% endcase %}
