{% comment %}<!-- See webstandards.wvu.edu/design-system for information about shared partials -->{% endcomment %}

{% liquid
  assign themeVersion = site.data.theme_version | default: '1'
  assign componentVersion = site.data.component_version_breadcrumbs | default: themeVersion
  assign basename = "breadcrumbs"
%}

{%- define_component component %}
  {
    "baseName": "{{ basename }}",
    "defaultComponentClasses": "{{ site.data.classes_wvu_breadcrumbs }}",
    "mainTagClasses": null
  }
{%- enddefine_component %}

{% case componentVersion %}
  {% when '1' %}{% render "components/wvu-breadcrumbs/wvu-breadcrumbs--v1" component: component %}
  {% else %}{% render "components/wvu-breadcrumbs/wvu-breadcrumbs--v1" component: component %}
{% endcase %}
