{% comment %}<!-- See webstandards.wvu.edu/design-system for information about shared partials -->{% endcomment %}

{% liquid
  assign themeVersion = site.data.theme_version | default: '1'
  assign componentVersion = site.component_versions.footer | default: themeVersion
%}

{%- define_component component %}
  {
    "baseName": "footer",
    "defaultComponentClasses": "py-4 border-top",
    "mainTagClasses": null
  }
{%- enddefine_component %}

{% case componentVersion %}
  {% when '1' %}{% render "components/wvu-footer/wvu-footer--v1" component: component %}
  {% else %}{% render "components/wvu-footer/wvu-footer--v1" component: component %}
{% endcase %}
