{% comment %}<!-- See webstandards.wvu.edu/design-system for information about shared partials -->{% endcomment %}

{% liquid
  assign componentVersion = theme.data.component_versions.twitter_widget | default: '1'
  assign scope = scope | default: slot.scope

  if scope == 'site'
    assign basename = "site-twitter-widget"
  else
    assign basename = "twitter-widget"
  endif
%}

{%- define_component component %}
  {
    "baseName": "{{ basename }}",
    "defaultComponentClasses": "mb-0 wvu-overflow-hidden text-white bg-wvu-neutral--dark-gray wvu-bg-blend-mode-luminosity--80",
    "defaultHeaderClasses": "display-3 wvu-shout wvu-bar wvu-bar--white wvu-bar--bottom text-wvu-accent--light-blue",
    "defaultTwitterLinkClasses": "helvetica-neue-light text-decoration-none text-white text-decoration-none",
    "mainTagClasses": "py-5"
  }
{%- enddefine_component %}

{% case componentVersion %}
  {% when 1 %}{% render "components/wvu-twitter-widget/wvu-twitter-widget--v1" component: component %}
  {% when 2 %}{% render "components/wvu-twitter-widget/wvu-twitter-widget--v2" component: component %}
  {% else %}{% render "components/wvu-twitter-widget/wvu-twitter-widget--v1" component: component %}
{% endcase %}
