{% comment %}<!-- See webstandards.wvu.edu/design-system for information about shared partials -->{% endcomment %}

{% liquid
  assign componentVersion = theme.data.component_versions.action_hero | default: '1'
  assign defaultComponentClasses = defaultComponentClasses | default: "text-center bg-wvu-gold wvu-bg-topo-dark text-wvu-blue wvu-overflow-hidden wvu-background-size-cover"
  assign defaultHeaderClasses = defaultHeaderClasses | default: "display-2 wvu-shout"
%}

{%- define_component component %}
  {
    "baseName": "action-hero",
    "defaultComponentClasses": "{{ defaultComponentClasses }}",
    "defaultHeaderClasses": "{{ defaultHeaderClasses }}",
    "mainTagClasses": "py-5"
  }
{%- enddefine_component %}

{% case componentVersion %}
  {% when 1 %}{% render "components/wvu-action-hero/wvu-action-hero--v1" component: component %}
  {% else %}{% render "components/wvu-action-hero/wvu-action-hero--v1" component: component %}
{% endcase %}
