{% comment %}<!-- See webstandards.wvu.edu/design-system for information about shared partials -->{% endcomment %}

{% liquid
  assign themeVersion = site.data.theme_version | default: '1'
  assign componentVersion = site.component_versions.testimonials | default: themeVersion
  assign scope = scope | default: slot.scope

  if scope == 'site'
    assign basename = "site-testimonials"
  else
    assign basename = "testimonials"
  endif
%}

{%- define_component component %}
  {
    "baseName": "{{ basename }}",
    "defaultComponentClasses": null,
    "defaultRowClasses": "justify-content-left",
    "defaultItemClasses": "mb-4 mb-md-0 col-sm-6 col-md-4",
    "defaultItemHeaderClasses": "d-block wvu-shout mb-1 text-decoration-none text-wvu-blue wvu-bar",
    "defaultItemBodyClasses": "mb-0",
    "defaultItemButtonClasses": "btn btn-outline-dark btn-sm",
    "defaultItemButtonText": "View Profile",
    "mainTagClasses": "py-5"
  }
{%- enddefine_component %}

{% case componentVersion %}
  {% when '1' %}{% render "components/wvu-testimonials/wvu-testimonials--v1" component: component %}
  {% else %}{% render "components/wvu-testimonials/wvu-testimonials--v1" component: component %}
{% endcase %}
