{% comment %}
  <!--
    NOTE: This partial displays alerts from emergency.wvu.edu on your site
      when there is an active alert. To enable this functionality, add *one*
      of the following URLs to Manage > Settings > Data > emergency_alert_json_url:

      https://emergency.wvu.edu/emergency.json
      https://emergency.wvutech.edu/emergency.json
      https://emergency.potomacstatecollege.edu/emergency.json

      Test this partial with the following URL via mock_data.yml:

      https://gist.githubusercontent.com/wvuwebgist/3912fe763055eee51a20cf1f72f332d3/raw/bcae6d40d460fcb9ad1505e3f9ac9ee89439bf45/emergency-alert-test.json

    NOTE: We're moving the JS required for this script to run to the bottom of
      the document via r:content_for. Be sure you have a corresponding r:yield
      tag or rename the r:content_for name attribute value.
      https://cleanslatecms.wvu.edu/how-to/theme-development/yield-content-to-other-places

    NOTE: If you're using this at Tech or PSC, be sure to override/change the
      $emergencySiteUrl variable below to your respective Emergency site.
   -->
{% endcomment %}

{% assign emergencySiteUrl = emergencySiteUrl | default: 'emergency.wvu.edu' %}

<section aria-labelledby="campus-alert-label-1" id="emergency-banner" style="display: none;">
  <h2 id="campus-alert-label-1">Active Campus Alert</h2>
  <div id="emergency-banner__events"></div>
  <p style="margin-bottom: 0; max-width: none;">For more information visit: <a href="https://{{ emergencySiteUrl }}/" style="color: #0033a0;">{{ emergencySiteUrl }}</a></p>
</section>

<r:content_for name="page_js">
  {% comment %}
    <!-- NOTE: Polyfill support for promise, fetch, document & console APIs: -->
  {% endcomment %}
  <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=console,document,fetch,Promise"></script>
  <script>
    'use strict';
    // IIFE
    ;(function () {
      var emergencyAlertUrl = "{{ site.data.emergency_alert_json_url }}";
      if (!emergencyAlertUrl) return; // If no URL is defined, stop execution.

      fetch(emergencyAlertUrl).then(function (response) {
        if (response.ok) { // Successful API call (200-299 status code)
          return response.json();
        }
        return Promise.reject(response); // There was an error
      })
        .then(function (data) { // Handle success:
          if (data.emergency.status === true) { // If there is an emergency:
            var emergencyEl = document.getElementById('emergency-banner');
            emergencyEl.setAttribute('style', 'display: block; background: #fdda24; color: #333; padding: 2em; text-align: center;');
            var emergencyEvents = document.getElementById('emergency-banner__events');
            for (var i = 0; i < data.emergency.events.length; i++) {
              // Title:
              var titleValue = data.emergency.events[i].event.title;
              var eventNode = '<p style="margin-bottom: 0; max-width: none;"><strong>' + titleValue + '</strong></p>';
              emergencyEvents.insertAdjacentHTML('beforeend', eventNode);

              // Updated at:
              var dateTimeValue = data.emergency.events[i].event.updated_at;
              var dateTimeValueFormatted = data.emergency.events[i].event.updated_at_formatted;
              var timeNode = '<p style="font-size: .8rem; max-width: none;">Last Updated: <time datetime="' + dateTimeValue + '">' + dateTimeValueFormatted + '</time></p>';
              emergencyEvents.insertAdjacentHTML('beforeend', timeNode);
            }
          } else {
            return false; // No emergency.
          }
        })
        // Handle errors:
        .catch(function (error) {
          console.error('Oh no! There was an error: ' + error.message);
        });
    })();
  </script>
</r:content_for>
