{% comment %}<!-- See webstandards.wvu.edu/design-system for information about shared partials -->{% endcomment %}

{% liquid
  assign themeVersion = site.data.theme_version | default: '1'
  assign componentVersion = site.component_versions.social_media | default: themeVersion
  assign scope = scope | default: slot.scope
  assign defaultComponentClasses = defaultComponentClasses | default: "py-4 bg-wvu-neutral--black text-white"
  assign defaultHeaderClasses = defaultHeaderClasses | default: "helvetica-neue-light h1 mb-0"

  if scope == 'site'
    assign basename = "site-social-media"
  else
    assign basename = "social-media"
  endif
%}

{%- define_component component %}
  {
    "baseName": "{{ basename }}",
    "defaultComponentClasses": "{{ defaultComponentClasses }}",
    "defaultHeaderClasses": "{{ defaultHeaderClasses }}",
    "mainTagClasses": null
  }
{%- enddefine_component %}

{% case componentVersion %}
  {% when '1' %}{% render "components/wvu-social-media/wvu-social-media--v1" component: component %}
  {% else %}{% render "components/wvu-social-media/wvu-social-media--v1" component: component %}
{% endcase %}
