{% comment %}<!-- See webstandards.wvu.edu/design-system for information about shared partials -->{% endcomment %}

{% liquid
  assign componentVersion = theme.data.component_versions.action_hero_banner | default: '1'
  assign defaultComponentClasses = defaultComponentClasses | default: "text-center wvu-bg-size-cover wvu-bg-position-center"
  assign defaultHeaderClasses = defaultHeaderClasses | default: "h1 text-wvu-gold wvu-bar wvu-bar--white wvu-bar--center iowan-old-style-black-italic"
%}

{%- define_component component %}
  {
    "baseName": "action-hero-banner",
    "defaultComponentClasses": "{{ defaultComponentClasses }}",
    "defaultHeaderClasses": "{{ defaultHeaderClasses }}",
    "mainTagClasses": "m-4"
  }
{%- enddefine_component %}

{% case componentVersion %}
  {% when 1 %}{% render "components/wvu-action-hero-banner/wvu-action-hero-banner--v1" component: component %}
  {% when 2 %}{% render "components/wvu-action-hero-banner/wvu-action-hero-banner--v2" component: component %}
  {% else %}{% render "components/wvu-action-hero-banner/wvu-action-hero-banner--v1" component: component %}
{% endcase %}
