{% comment %}<!-- See webstandards.wvu.edu/design-system for information about shared partials -->{% endcomment %}

{% liquid
  assign componentVersion = theme.data.component_versions.people_collection | default: '1'
  assign defaultComponentClasses = defaultComponentClasses | default: "text-center"
  assign defaultRowClasses = defaultRowClasses | default: "justify-content-start mb-4"
  assign defaultItemHeaderClasses = defaultItemHeaderClasses | default: "h2 d-block wvu-shout mb-2 text-decoration-none"
  assign defaultItemBodyClasses = defaultItemBodyClasses | default: null
  assign defaultItemButtonClasses = defaultItemButtonClasses | default: "btn btn-primary btn-sm"
  assign defaultItemButtonText = defaultItemButtonText | default: "Read More"
%}

{%- define_component component %}
  {
    "baseName": "people-collection",
    "defaultComponentClasses": "{{ defaultComponentClasses }}",
    "defaultRowClasses": "{{ defaultRowClasses }}",
    "defaultItemClasses": "mb-4 mb-md-0 col-sm-6 col-md-4",
    "defaultHeaderClasses": "mb-4",
    "defaultItemHeaderClasses": "{{ defaultItemHeaderClasses }}",
    "defaultItemBodyClasses": null,
    "defaultItemButtonClasses": "{{ defaultItemButtonClasses }}",
    "defaultItemButtonText": "{{ defaultItemButtonText }}",
    "mainTagClasses": "py-5"
  }
{%- enddefine_component %}

{% case componentVersion %}
  {% when 1 %}{% render "components/wvu-people-collection/wvu-people-collection--v1" component: component %}
  {% else %}{% render "components/wvu-people-collection/wvu-people-collection--v1" component: component %}
{% endcase %}
