{% comment %}<!-- See webstandards.wvu.edu/design-system for information about shared partials -->{% endcomment %}

{% assign componentVersion = theme.data.component_versions.nav | default: '1' %}

{% case componentVersion %}
  {% when 1 %}{% render "components/wvu-nav/wvu-nav--v1" component: component %}
  {% when 2 %}{% render "components/wvu-nav/wvu-nav--v2" component: component %}
  {% when 3 %}{% render "components/wvu-nav/wvu-nav--v3" component: component %}
  {% else %}{% render "components/wvu-nav/wvu-nav--v1" component: component %}
{% endcase %}
