{% comment %}<!-- See webstandards.wvu.edu/design-system for information about shared partials -->{% endcomment %}

{% liquid
  assign componentVersion = theme.data.component_versions.photo_grid | default: '1'
%}

{%- define_component component %}
  {
    "baseName": "photo-grid",
    "needsARIALabel": true,
    "defaultComponentClasses": null,
    "defaultHeaderClasses": "h2 helvetica-neue-bold text-white wvu-bar wvu-bar--bottom wvu-header-max-width mb-1 mt-0 text-white",
    "defaultItemClasses": null,
    "defaultItemHeaderClasses": "wvu-bar wvu-bar--bottom",
    "defaultItemBodyClasses": "h4 text-white iowan-old-style-black pt-2 mb-1",
    "defaultItemButtonClasses": "btn btn-primary btn-sm",
    "defaultItemButtonText": "View Profile",
    "mainTagClasses": null
  }
{%- enddefine_component %}

{% case componentVersion %}
  {% when 1 %}{% render "components/wvu-photo-grid/wvu-photo-grid--v1" component: component %}
  {% when 2 %}{% render "components/wvu-photo-grid/wvu-photo-grid--v2" component: component %}
  {% else %}{% render "components/wvu-photo-grid/wvu-photo-grid--v1" component: component %}
{% endcase %}
