{% comment %}<!-- See webstandards.wvu.edu/design-system for information about shared partials -->{% endcomment %}

{% liquid
  assign componentVersion = theme.data.component_versions.action_hero_split | default: '1'
  assign defaultComponentClasses = defaultComponentClasses | default: "wvu-bg-position-center"
  assign defaultHeaderClasses = defaultHeaderClasses | default: "wvu-header-max-width mb-0 p-2 p-md-4 wvu-shout display-3 text-wvu-accent--blue"
%}

{%- define_component component %}
  {
    "baseName": "action-hero-split",
    "defaultComponentClasses": "{{ defaultComponentClasses }}",
    "defaultHeaderClasses": "{{ defaultHeaderClasses }}",
    "mainTagClasses": null
  }
{%- enddefine_component %}

{% case componentVersion %}
  {% when 1 %}{% render "components/wvu-action-hero-split/wvu-action-hero-split--v1" component: component %}
  {% else %}{% render "components/wvu-action-hero-split/wvu-action-hero-split--v1" component: component %}
{% endcase %}
