{% comment %}<!-- See webstandards.wvu.edu/design-system for information about shared partials -->{% endcomment %}

{% liquid
  assign componentVersion = theme.data.component_versions.page_collection_icons | default: '1'
%}

{%- define_component component %}
  {
    "baseName": "page-collection-icons",
    "defaultComponentClasses": "text-center",
    "defaultRowClasses": "justify-content-left",
    "defaultIconClasses": "bg-wvu-blue text-white",
    "defaultItemClasses": null,
    "defaultHeaderClasses": "mb-4",
    "defaultItemHeaderClasses": "h2 d-block wvu-shout wvu-bar wvu-bar--bottom wvu-bar--center mb-2 text-decoration-none text-wvu-blue",
    "defaultItemBodyClasses": null,
    "defaultItemButtonClasses": "btn btn-primary btn-sm",
    "defaultItemButtonText": "Read More",
    "mainTagClasses": "py-5"
  }
{%- enddefine_component %}

{% case componentVersion %}
  {% when 1 %}{% render "components/wvu-page-collection-icons/wvu-page-collection-icons--v1" component: component %}
  {% else %}{% render "components/wvu-page-collection-icons/wvu-page-collection-icons--v1" component: component %}
{% endcase %}
