{% comment %}<!-- See webstandards.wvu.edu/design-system for information about shared partials -->{% endcomment %}

{% liquid
  assign componentVersion = theme.data.component_versions.social_media | default: '1'
  assign defaultComponentClasses = defaultComponentClasses | default: "py-4 bg-wvu-neutral--black bg-wvu-accent--blue-dark text-white"
  assign defaultHeaderClasses = defaultHeaderClasses | default: "helvetica-neue-light h1 mb-0"
%}

{%- define_component component %}
  {
    "baseName": "social-media",
    "defaultComponentClasses": "{{ defaultComponentClasses }}",
    "defaultHeaderClasses": "{{ defaultHeaderClasses }}",
    "mainTagClasses": null
  }
{%- enddefine_component %}

{% case componentVersion %}
  {% when 1 %}{% render "components/wvu-social-media/wvu-social-media--v1" component: component %}
  {% else %}{% render "components/wvu-social-media/wvu-social-media--v1" component: component %}
{% endcase %}
