{% comment %}<!-- See webstandards.wvu.edu/design-system for information about shared partials -->{% endcomment %}

{% liquid
  assign componentVersion = theme.data.component_versions.cards_w_overlay | default: '1'
  assign scope = scope | default: slot.scope

  if scope == 'site'
    assign basename = "site-cards-w-overlay"
  else
    assign basename = "cards-w-overlay"
  endif
%}

{%- define_component component %}
  {
    "baseName": "{{ basename }}",
    "defaultComponentClasses": null,
    "defaultRowClasses": "justify-content-left mb-4",
    "defaultItemClasses": "mb-4 mb-md-0 col-sm-6 col-md-4",
    "defaultHeaderClasses": "mb-4",
    "defaultItemHeaderClasses": "h2 d-block wvu-shout wvu-bar mb-2 text-decoration-none",
    "defaultItemBodyClasses": "mb-0",
    "defaultItemButtonClasses": "btn btn-primary btn-sm",
    "defaultItemButtonText": "Read More",
    "mainTagClasses": "py-5"
  }
{%- enddefine_component %}

{% case componentVersion %}
  {% when 1 %}{% render "components/wvu-cards-w-overlay/wvu-cards-w-overlay--v1" component: component %}
  {% else %}{% render "components/wvu-cards-w-overlay/wvu-cards-w-overlay--v1" component: component %}
{% endcase %}
