{% comment %}<!-- See webstandards.wvu.edu/design-system for information about shared partials -->{% endcomment %}

{% liquid
  assign componentVersion = theme.data.component_versions.faculty_member_hero | default: '1'
%}

{%- define_component component %}
  {
    "baseName": "faculty-member-hero",
    "defaultComponentClasses": "bg-wvu-blue wvu-bg-topo-light text-white",
    "mainTagClasses": "py-5"
  }
{%- enddefine_component %}

{% case componentVersion %}
  {% when 1 %}{% render "components/wvu-faculty-member-hero/wvu-faculty-member-hero--v1" component: component %}
  {% else %}{% render "components/wvu-faculty-member-hero/wvu-faculty-member-hero--v1" component: component %}
{% endcase %}
