{% comment %}<!-- See webstandards.wvu.edu/design-system for information about shared partials -->{% endcomment %}

{% liquid
  assign themeVersion = site.data.theme_version | default: '1'
  assign componentVersion = site.data.component_version_profile_hero_w_quote | default: themeVersion
  assign scope = scope | default: slot.scope

  if scope == 'site'
    assign basename = "site-profile-hero-w-quote"
  else
    assign basename = "profile-hero-w-quote"
  endif
%}

{%- define_component component %}
  {
    "baseName": "{{ basename }}",
    "defaultComponentClasses": "bg-dark text-white wvu-bg-position-center wvu-bg-size-cover wvu-bg-vignetting",
    "defaultHeaderClasses": "display-4 wvu-shout wvu-slash",
    "mainTagClasses": "py-5"
  }
{%- enddefine_component %}

{% case componentVersion %}
  {% when '1' %}{% render "components/wvu-profile-hero-w-quote/wvu-profile-hero-w-quote--v1" component: component %}
  {% else %}{% render "components/wvu-profile-hero-w-quote/wvu-profile-hero-w-quote--v1" component: component %}
{% endcase %}
