{% comment %}<!-- See webstandards.wvu.edu/design-system for information about shared partials -->{% endcomment %}

{% liquid
  assign themeVersion = site.data.theme_version | default: '1'
  assign componentVersion = site.component_versions.hero | default: themeVersion
  assign scope = scope | default: slot.scope

  if scope == 'site'
    assign basename = "site-hero"
  else
    assign basename = "hero"
  endif
%}

{%- define_component component %}
  {
    "baseName": "{{ basename }}",
    "defaultComponentClasses": "bg-dark text-white wvu-bg-position-center wvu-bg-size-cover",
    "defaultHeaderClasses": "display-2 wvu-shout wvu-bar",
    "mainTagClasses": "py-4"
  }
{%- enddefine_component %}

{% case componentVersion %}
  {% when '1' %}{% render "components/wvu-hero/wvu-hero--v1" component: component %}
  {% else %}{% render "components/wvu-hero/wvu-hero--v1" component: component %}
{% endcase %}
