{% comment %}<!-- See webstandards.wvu.edu/design-system for information about shared partials -->{% endcomment %}

{% liquid
  assign componentVersion = theme.data.component_versions.profile_hero_w_quote | default: '1'
%}

{%- define_component component %}
  {
    "baseName": "profile-hero-w-quote",
    "defaultComponentClasses": "bg-dark text-white wvu-bg-position-center wvu-bg-size-cover",
    "defaultHeaderClasses": "iowan-old-style h4",
    "mainTagClasses": "py-5"
  }
{%- enddefine_component %}

{% case componentVersion %}
  {% when 1 %}{% render "components/wvu-profile-hero-w-quote/wvu-profile-hero-w-quote--v1" component: component %}
  {% else %}{% render "components/wvu-profile-hero-w-quote/wvu-profile-hero-w-quote--v1" component: component %}
{% endcase %}
