{% comment %}<!-- See webstandards.wvu.edu/design-system for information about shared partials -->{% endcomment %}

{% liquid
  assign componentVersion = theme.data.component_versions.breadcrumbs | default: '1'
  assign basename = "breadcrumbs"
%}

{%- define_component component %}
  {
    "baseName": "{{ basename }}",
    "defaultComponentClasses": "{{ site.data.classes_wvu_breadcrumbs }}",
    "mainTagClasses": null
  }
{%- enddefine_component %}

{% case componentVersion %}
  {% when 1 %}{% render "components/wvu-breadcrumbs/wvu-breadcrumbs--v1" component: component %}
  {% when 2 %}{% render "components/wvu-breadcrumbs/wvu-breadcrumbs--v2" component: component %}
  {% else %}{% render "components/wvu-breadcrumbs/wvu-breadcrumbs--v1" component: component %}
{% endcase %}
