{% comment %}<!-- See webstandards.wvu.edu/design-system for information about shared partials -->{% endcomment %}

{% liquid
  assign componentVersion = theme.data.component_versions.columns_1_2 | default: '1'
%}

{%- define_component component %}
  {
    "baseName": "columns-1-2",
    "defaultComponentClasses": null,
    "mainTagClasses": "py-5"
  }
{%- enddefine_component %}

{% case componentVersion %}
  {% when 1 %}{% render "components/wvu-columns-1-2/wvu-columns-1-2--v1" component: component %}
  {% else %}{% render "components/wvu-columns-1-2/wvu-columns-1-2--v1" component: component %}
{% endcase %}
