{% comment %}<!-- See webstandards.wvu.edu/design-system for information about shared partials -->{% endcomment %}

{% liquid
  assign componentVersion = theme.data.component_versions.full_bleed_photo | default: '1'
  assign scope = scope | default: slot.scope

  if scope == 'site'
    assign basename = "site-full-bleed-photo"
  else
    assign basename = "full-bleed-photo"
  endif
%}

{%- define_component component %}
  {
    "baseName": "{{ basename }}",
    "needsARIALabel": true,
    "defaultComponentClasses": null,
    "defaultCaptionClasses": "text-white",
    "mainTagClasses": "position-relative"
  }
{%- enddefine_component %}

{% case componentVersion %}
  {% when 1 %}{% render "components/wvu-full-bleed-photo/wvu-full-bleed-photo--v1" component: component %}
  {% when 2 %}{% render "components/wvu-full-bleed-photo/wvu-full-bleed-photo--v2" component: component %}
  {% else %}{% render "components/wvu-full-bleed-photo/wvu-full-bleed-photo--v1" component: component %}
{% endcase %}
