{%- liquid
  if component.bgStyler != blank
    assign heroBodyClasses = 'wvu-bg-tint p-3 p-lg-4 my-n4'
  endif
-%}

{% capture component_content %}
  <div class="container position-relative wvu-z-index-content">
    <div class="row py-5{% if page.data.hero_text_alignment == '1' %} justify-content-end{% endif %}">
      <div class="col col-md-6 {% if component.align == 'right' %}ms-md-auto{% elsif component.align == 'middle' %}mx-md-auto{% endif %}">
        <div class="{{ heroBodyClasses }}">
          <div class="wvu-z-index-content">
            {% comment %}<!-- This is where you can add utility classes that will apply to the hero’s heading. -->{% endcomment %}
            {% if edit_mode %}
              <small class="wvu-z-index-content d-block mb-2 text-left text-muted p-1 bg-wvu-neutral--dark-gray">Header classes:
                <pre class="mb-0 text-white">{% editable_region name: component.region_names.headerClasses, type: "simple", scope: component.scope %}</pre>
                {% comment %}<!-- Show the default classes in case the user forgets, or needs to revert back to the original styling. -->{% endcomment %}
                <strong class="text-muted">Default classes:</strong> <pre class="mb-0 text-muted">{{ component.defaultHeaderClasses }}</pre>
              </small>
            {% endif %}
            {% comment %}<!-- This is just a label for the editable region that follows in order to make it clear to content editors what the region is for (in case they delete content and forget). -->{% endcomment %}
            {% if edit_mode %}<span class="d-inline-block badge bg-primary mb-1">Quote</span>{% endif %}
            {% comment %}<!-- Apply classes to the header. If supplied by user, use those. If not use default. -->{% endcomment %}
            <blockquote class="wvu-quote mx-0 {{ page.content[component.region_names.headerClasses] | default: component.defaultHeaderClasses }}">
              {% comment %}<!-- Use the editable region name for the header section of the hero, which you defined above. -->{% endcomment %}
              <p>{% editable_region name: component.region_names.header, scope: component.scope, type: "simple", placeholder="We need a paradigm shift draft policy ppml proposal. Closing these latest prospects is like putting socks on an octopus prairie dogging. Goalposts closer to the metal fire up your browser. Killing it product management breakout fastworks for it's about managing expectations for those options are already baked in with this model ultimate measure of success." %}</p>
            </blockquote>
            {% comment %}<!-- This is just a label for the editable region that follows in order to make it clear to content editors what the region is for (in case they delete content and forget). -->{% endcomment %}
            {% if edit_mode %}<span class="d-inline-block badge bg-primary mb-1">Quote Author and Subhead</span>{% endif %}
            {% comment %}<!-- Editable region for Quote Author and Subhead. -->{% endcomment %}
            {% editable_region_block name: component.region_names.main scope: component.scope %}
              <!-- For the h1, apply an ID that will tell screanreaders to use this element as the label for the section. -->
              <h1 id="{{ component.name }}-label" class="helvetica-neue-light mb-0 h5">Example Profile E</h1>
              <p>
                <span class="d-block small">Biology, Class of ’22</span>
              </p>
            {% endeditable_region_block %}

            {%- if edit_mode or page.content[component.region_names.postscript] != blank %}
              <div class="mt-4">
                {% comment %}<!-- This is just a label for the editable region that follows in order to make it clear to content editors what the region is for (in case they delete content and forget). -->{% endcomment %}
                {% if edit_mode %}<span class="d-inline-block badge badge-primary mb-1">Postscript</span>{% endif %}
                {% editable_region_block name: component.region_names.postscript scope: component.scope %}
                  <p class="mb-0">Put additional info or <a class="text-white" href="#">links</a> here.</p>
                {% endeditable_region_block %}
              </div>
            {%- endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endcapture %}

{% render "utilities/wvu-component-tag/wvu-component-tag--v1" component: component, content: component_content %}
{% render "includes/wvu-component-footer/wvu-component-footer--v1" component: component %}
