{% assign videoUrlRegionName = component.name | append: '__video-url' %}
{% assign videoTitleRegionName = component.name | append: '__video-title' %}
{% assign videoDescriptionRegionName = component.name | append: '__video-description' %}

<div class="container wvu-z-index-content mb-4">
  {% if edit_mode or page.content[component.region_names.header] != blank or page.content[component.region_names.header] != blank %}
    <div class="row mb-4">
      <div class="col-sm-8 col-md-6 mx-auto mx-sm-auto">
        {% comment %}<!-- This is just a label for the editable region that follows in order to make it clear to content editors what the region is for (in case they delete content and forget). -->{% endcomment %}
        {% if edit_mode %}<span class="d-inline-block badge bg-primary mb-1">Header</span>{% endif %}
        <h2 id="{{ component.name }}-label" class="h1 helvetica-neue-bold">{% editable_region name: component.region_names.header, type: "simple", scope: component.scope, placeholder="Video Headline" %}</h2>
        {% editable_region_block name: component.region_names.main, scope: component.scope %}
          <p>Type your story here.</p>
        {% endeditable_region_block %}
      </div>
    </div>
  {% endif %}
  <div class="row">
    <div class="col-12 mb-3 mb-md-0">
      {% if edit_mode %}
        <div class="alert alert-warning p-3 p-xl-4 text-start">
          <h2>Video</h2>
          <p><strong>Enter the URL of the video</strong> you wish to display e.g. <strong>https://www.youtube.com/watch?v=uF_Ti3i-sOo</strong>, then save and refresh the page.</p>
          {% editable_region name: videoUrlRegionName type: 'simple' %}
          <p class="mt-2"><strong>Enter a title for the video:</strong></p>
          {% editable_region name: videoTitleRegionName type: 'simple' %}
        </div>
      {% endif %}
      {% if page.content[videoUrlRegionName] contains "https://www.youtube.com/watch?v=" %}
        {% assign videoId = page.content[videoUrlRegionName] | split: 'https://www.youtube.com/watch?v=' %}
      {% elsif page.content[videoUrlRegionName] contains "https://youtu.be/" %}
        {% assign videoId = page.content[videoUrlRegionName] | split: 'https://youtu.be/' %}
      {% endif %}
      {% if page.content[videoUrlRegionName] != blank %}
        <div class="ratio ratio-16x9">
          <iframe src="https://www.youtube.com/embed/{{ videoId }}" title="{{ page.content[videoTitleRegionName] }}" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      {% endif %}
    </div>
  </div>
</div>