{%- liquid
  assign addressLineOneRegionName = 'wvu-CNAME__address-line-1' | replace: 'CNAME', component.name
  assign addressLineTwoRegionName = 'wvu-CNAME__address-line-2' | replace: 'CNAME', component.name
  assign mapLinkRegionName = 'wvu-CNAME__map-link' | replace: 'CNAME', component.name
-%}

{% capture component_content %}
  <div class="container wvu-z-index-content">
    <div class="row">
      <div class="col-md-6 col-lg-5 col-xl-4 mb-3 mb-md-0">
        <div class="row">
          <div class="col-xl-10 me-xl-auto">
            <div class="mb-1">
              {% if page.data.thumbnail_url_sq != blank %}
                {% assign thumbnailSrc = page.data.thumbnail_url_sq | build_image_url: size: '960x640', format: 'webp' %}
                <img class="card-img-top w-100" src="{{ thumbnailSrc }}" alt="{{ page.data.thumbnail_alt }}">
              {% elsif page.data.thumbnail_url != blank %}
                {% assign thumbnailSrc = page.data.thumbnail_url | build_image_url: size: '960x640', format: 'webp' %}
                <img class="card-img-top w-100" src="{{ thumbnailSrc }}" alt="{{ page.data.thumbnail_alt }}">
              {% else %}
                {% if edit_mode %}
                  <div class="alert alert-warning rounded p-3 no-preview">
                    <p class="mb-0">
                      It looks like you haven’t added a photo to this profile yet. You can <a href="https://designsystem.wvu.edu/shared-cleanslate-partials/content-and-basic-style-editing/add-a-thumbnail-image-or-profile-photo-to-a-page">add a photo in the page properties</a>.
                    </p>
                  </div>
                {% endif %}
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-7 col-xl-8 wvu-backpage-main">

        <h1 class="display-3 wvu-shout text-wvu-blue wvu-bar wvu-bar--bottom mb-3" id="{{ component.name }}-label">{{ page.alternate_name | default: page.name }}</h1>

        {% if edit_mode %}
          <span class="d-inline-block badge bg-primary mb-1 no-preview">Address</span>
          {% editable_region name: addressLineOneRegionName, scope: component.scope %}
          {% editable_region name: addressLineTwoRegionName, scope: component.scope %}
          {% editable_region name: mapLinkRegionName, scope: component.scope %}
        {% endif %}

        {% unless edit_mode %}
          <p class="helvetica-neue-bold mb-3">
            {{ page.content[addressLineOneRegionName] }}
            {% if page.content[addressLineTwoRegionName] != blank %}
              <br>{{ page.content[addressLineTwoRegionName] }}
            {% endif %}
            {% if page.content[mapLinkRegionName] != blank %}
              <br><span class="fa-solid fa-map-marker"></span> <a class="text-decoration-none" href="{{ page.content[mapLinkRegionName] }}">View on Map</a>
            {% endif %}
          </p>
        {% endunless %}

        {% if edit_mode %}<span class="d-inline-block badge bg-primary mb-1 no-preview">Main</span>{% endif %}
        {% editable_region_block name: component.region_names.main, scope: component.scope %}
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
        {% endeditable_region_block %}

      </div>
    </div>
  </div>
{% endcapture %}

{% render "utilities/wvu-component-tag/wvu-component-tag--v1" component: component, content: component_content %}
{% render "includes/wvu-component-footer/wvu-component-footer--v1" component: component %}
