{%- liquid
  assign addressOneRegionName = 'wvu-CNAME__address-line-1' | replace: 'CNAME', component.name
  assign addressTwoRegionName = 'wvu-CNAME__address-line-2' | replace: 'CNAME', component.name
  assign mapLinkRegionName = 'wvu-CNAME__map-link' | replace: 'CNAME', component.name
  assign phoneRegionName = 'wvu-CNAME__phone' | replace: 'CNAME', component.name
  assign emailRegionName = 'wvu-CNAME__email' | replace: 'CNAME', component.name
  assign websiteRegionName = 'wvu-CNAME__website' | replace: 'CNAME', component.name
  assign parkingRegionName = 'wvu-CNAME__parking' | replace: 'CNAME', component.name
  assign monRegionName = 'wvu-CNAME__mon' | replace: 'CNAME', component.name
  assign tuesRegionName = 'wvu-CNAME__tues' | replace: 'CNAME', component.name
  assign wedRegionName = 'wvu-CNAME__wed' | replace: 'CNAME', component.name
  assign thursRegionName = 'wvu-CNAME__thurs' | replace: 'CNAME', component.name
  assign friRegionName = 'wvu-CNAME__fri' | replace: 'CNAME', component.name
  assign satRegionName = 'wvu-CNAME__sat' | replace: 'CNAME', component.name
  assign sunRegionName = 'wvu-CNAME__sun' | replace: 'CNAME', component.name
  assign defaultHours = "CLOSED"
-%}

{% capture component_content %}
  <div class="container wvu-z-index-content">
    <div class="row">
      <div class="col-md-6 col-lg-5 col-xl-4 mb-3 mb-md-0">
        <div class="row">
          <div class="col-xl-10 me-xl-auto">
            <div class="mb-1">
              {% if page.data.thumbnail_url_sq != blank %}
                {% assign thumbnailSrc = page.data.thumbnail_url_sq | build_image_url: size: '960x640', format: 'webp' %}
                <img class="card-img-top w-100" src="{{ thumbnailSrc }}" alt="{{ page.data.thumbnail_alt }}">
              {% elsif page.data.thumbnail_url != blank %}
                {% assign thumbnailSrc = page.data.thumbnail_url | build_image_url: size: '960x640', format: 'webp' %}
                <img class="card-img-top w-100" src="{{ thumbnailSrc }}" alt="{{ page.data.thumbnail_alt }}">
              {% else %}
                {% if edit_mode %}
                  <div class="alert alert-warning rounded p-3 no-preview">
                    <p class="mb-0">
                      It looks like you haven’t added a photo to this profile yet. You can <a href="https://designsystem.wvu.edu/shared-cleanslate-partials/content-and-basic-style-editing/add-a-thumbnail-image-or-profile-photo-to-a-page">add a photo in the page properties</a>.
                    </p>
                  </div>
                {% endif %}
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-7 col-xl-8 wvu-backpage-main">

        <h1 class="display-3 wvu-shout text-wvu-blue wvu-bar wvu-bar--bottom mb-3" id="{{ component.name }}-label">{{ page.alternate_name | default: page.name }}</h1>

        {% if edit_mode %}
          <div class="mt-3 mb-3 p-3 border rounded">
            <span class="d-inline-block badge bg-primary mb-1 no-preview">Address</span>
            <div class="mb-2">
              Address Line 1: {% editable_region name: addressOneRegionName, scope: component.scope, type: "simple" %}
              Address Line 2: {% editable_region name: addressTwoRegionName, scope: component.scope, type: "simple" %}
              Map Link: {% editable_region name: mapLinkRegionName, scope: component.scope, type: "simple" %}
            </div>
            <span class="d-inline-block badge bg-primary mb-1 no-preview">Contact Info</span>
            <div class="mb-2">
              Phone: {% editable_region name: phoneRegionName, scope: component.scope, type: "simple" %}
              Email: {% editable_region name: emailRegionName, scope: component.scope, type: "simple" %}
              Website: {% editable_region name: websiteRegionName, scope: component.scope, type: "simple" %}
            </div>
            <span class="d-inline-block badge bg-primary mb-1 no-preview">Hours</span>
            <div class="mb-2">
              <div class="row">
                <div class="col-1">
                  <span class="text-uppercase helvetica-neue-condensed-black">M</span>
                </div>
                <div class="col-11">
                  {% editable_region name: monRegionName, scope: component.scope, type: "simple" %}
                </div>
              </div>
              <div class="row">
                <div class="col-1">
                  <span class="text-uppercase helvetica-neue-condensed-black">T</span>
                </div>
                <div class="col-11">
                  {% editable_region name: tuesRegionName, scope: component.scope, type: "simple" %}
                </div>
              </div>
              <div class="row">
                <div class="col-1">
                  <span class="text-uppercase helvetica-neue-condensed-black">W</span>
                </div>
                <div class="col-11">
                  {% editable_region name: wedRegionName, scope: component.scope, type: "simple" %}
                </div>
              </div>
              <div class="row">
                <div class="col-1">
                  <span class="text-uppercase helvetica-neue-condensed-black">Th</span>
                </div>
                <div class="col-11">
                  {% editable_region name: thursRegionName, scope: component.scope, type: "simple" %}
                </div>
              </div>
              <div class="row">
                <div class="col-1">
                  <span class="text-uppercase helvetica-neue-condensed-black">F</span>
                </div>
                <div class="col-11">
                  {% editable_region name: friRegionName, scope: component.scope, type: "simple" %}
                </div>
              </div>
              <div class="row">
                <div class="col-1">
                  <span class="text-uppercase helvetica-neue-condensed-black">Sat</span>
                </div>
                <div class="col-11">
                  {% editable_region name: satRegionName, scope: component.scope, type: "simple" %}
                </div>
              </div>
              <div class="row">
                <div class="col-1">
                  <span class="text-uppercase helvetica-neue-condensed-black">Sun</span>
                </div>
                <div class="col-11">
                  {% editable_region name: sunRegionName, scope: component.scope, type: "simple" %}
                </div>
              </div>
            </div>
            <span class="d-inline-block badge bg-primary mb-1 no-preview">Parking</span>
            <div>
              {% editable_region name: parkingRegionName, scope: component.scope %}
            </div>
          </div>
        {% endif %}

        {% unless edit_mode %}

          {% assign hasAddress = page.content[addressOneRegionName] | append: page.content[addressTwoRegionName] | append: page.content[mapLinkRegionName] %}
          {% assign hasContactInfo = page.content[phoneRegionName] | append: page.content[emailRegionName] | append: page.content[websiteRegionName] %}
          {% assign hasHours = page.content[monRegionName] | append: page.content[tuesRegionName] | append: page.content[wedRegionName] | append: page.content[thursRegionName] | append: page.content[friRegionName] | append: page.content[satRegionName] | append: page.content[sunRegionName] %}
          {% assign hasParking = page.content[parkingRegionName] %}
          {% assign hasInfo = hasAddress | append: hasContactInfo | append: hasHours | append: hasParking %}

          {% if hasInfo != blank %}
            <div class="mt-3 mb-3 p-3 border rounded small">

              {% if hasAddress != blank %}
                <h2 class="h6 text-uppercase">Address</h2>
                <p class="helvetica-neue-bold">
                  {{ page.content[addressOneRegionName] }}
                  {% if page.content[addressTwoRegionName] != blank %}
                    <br>{{ page.content[addressTwoRegionName] }}
                  {% endif %}
                  {% if page.content[mapLinkRegionName] != blank %}
                    <br><span class="fa-solid fa-map-marker"></span> <a class="text-decoration-none" href="{{ page.content[mapLinkRegionName] }}">View on Map</a>
                  {% endif %}
                </p>
              {% endif %}

              {% if hasContactInfo != blank %}
                <h2 class="h6 text-uppercase mt-3">Contact Info</h2>
                <p>
                  {% if page.content[phoneRegionName] != blank %}
                    <span class="fa-solid fa-phone"></span> {{ page.content[phoneRegionName] }}<br>
                  {% endif %}
                  {% if page.content[emailRegionName] != blank %}
                    <span class="fa-solid fa-envelope"></span> <a href="mailto:{{ page.content[emailRegionName] }}">{{ page.content[emailRegionName] }}</a><br>
                  {% endif %}
                  {% if page.content[websiteRegionName] != blank %}
                    <span class="fa-solid fa-link"></span> <a href="{{ page.content[websiteRegionName] }}">Visit Website<span class="visually-hidden">: {{ page.alternate_name | default: page.name }}</span></a>
                  {% endif %}
                </p>
              {% endif %}

              {% if hasHours != blank %}
                <h2 class="h6 text-uppercase mt-3">Hours</h2>
                <div class="row">
                  <div class="col-1">
                    <span class="text-uppercase helvetica-neue-condensed-black">M</span>
                  </div>
                  <div class="col-11">
                    {{ page.content[monRegionName] | default: defaultHours }}
                  </div>
                </div>
                <div class="row">
                  <div class="col-1">
                    <span class="text-uppercase helvetica-neue-condensed-black">T</span>
                  </div>
                  <div class="col-11">
                    {{ page.content[tuesRegionName] | default: defaultHours }}
                  </div>
                </div>
                <div class="row">
                  <div class="col-1">
                    <span class="text-uppercase helvetica-neue-condensed-black">W</span>
                  </div>
                  <div class="col-11">
                    {{ page.content[wedRegionName] | default: defaultHours }}
                  </div>
                </div>
                <div class="row">
                  <div class="col-1">
                    <span class="text-uppercase helvetica-neue-condensed-black">Th</span>
                  </div>
                  <div class="col-11">
                    {{ page.content[thursRegionName] | default: defaultHours }}
                  </div>
                </div>
                <div class="row">
                  <div class="col-1">
                    <span class="text-uppercase helvetica-neue-condensed-black">F</span>
                  </div>
                  <div class="col-11">
                    {{ page.content[friRegionName] | default: defaultHours }}
                  </div>
                </div>
                <div class="row">
                  <div class="col-1">
                    <span class="text-uppercase helvetica-neue-condensed-black">Sat</span>
                  </div>
                  <div class="col-11">
                    {{ page.content[satRegionName] | default: defaultHours }}
                  </div>
                </div>
                <div class="row">
                  <div class="col-1">
                    <span class="text-uppercase helvetica-neue-condensed-black">Sun</span>
                  </div>
                  <div class="col-11">
                    {{ page.content[sunRegionName] | default: defaultHours }}
                  </div>
                </div>
              {% endif %}

              {% if page.content[parkingRegionName] != blank %}
                <h2 class="h6 text-uppercase mt-3">Parking</h2>
                <div>
                  {{ page.content[parkingRegionName] }}
                </div>
              {% endif %}
            </div>
          {% endif %}
        {% endunless %}

        {% if edit_mode %}<span class="d-inline-block badge bg-primary mb-1 no-preview">Main</span>{% endif %}
        {% editable_region_block name: component.region_names.main, scope: component.scope %}
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
        {% endeditable_region_block %}

      </div>
    </div>
  </div>
{% endcapture %}

{% render "utilities/wvu-component-tag/wvu-component-tag--v1" component: component, content: component_content %}
{% render "includes/wvu-component-footer/wvu-component-footer--v1" component: component %}
