---
layout: default
custom_data_attributes:
  - ifBackpageRemoveNav:
    type: checkbox
    title: If backpage, remove nav
  - ifBackpageRemoveSidebar:
    type: checkbox
    title: If backpage, remove sidebar
  - disableInput:
    type: checkbox
    title: Disable Input
  - isDynamic:
    type: checkbox
    title: Is Dynamic?
  - number_of_examples:
    title: Number of Examples
  - contentful_api_string:
    title: Contentful API String
  - disableDeliveryMethod:
    type: checkbox
    title: Disable DeliveryMethod
  - disableProgramType:
    type: checkbox
    title: Disable Program Type
  - slot_1:
    type: select
    title: Slot 1
    options:
      - [Action Hero, action-hero]
      - [Action Hero Banner, action-hero-banner]
      - [Action Hero Card, action-hero-card]
      - [Action Hero Split, action-hero-split]
      - [Action Hero Two Column, action-hero-two-column]
      - [Article, article]
      - [Article Collection, article-collection]
      - [Article Index, article-index]
      - [Agenda Item, agenda-item]
      - [Back Page, backpage]
      - [Big Search, big-search]
      - [Blob A, blob-a]
      - [Calendar Events, calendar-events]
      - [Cards, cards]
      - [Cards w/Overlay, cards-w-overlay]
      - [Child Page List, child-page-list]
      - [Columns, columns]
      - [Columns 1-2, columns-1-2]
      - [Columns 2-1, columns-2-1]
      - [Columns 2-1-1, columns-2-1-1]
      - [Contact Collection, contact-collection]
      - [Contact Collection Vertical, contact-collection-vertical]
      - [Contact Info, contact-info]
      - [Directory, directory]
      - [Editable Region, editable-region]
      - [Event Agenda, event-agenda]
      - [Faculty Member Hero, faculty-member-hero]
      - [Faculty Profile, faculty-profile]
      - [Featurettes, featurettes]
      - [Featurettes Card Columns, featurettes-card-columns]
      - [Featurettes Cards, featurettes-cards]
      - [Full Bleed Photo, full-bleed-photo]
      - [Hero, hero]
      - [Hero w/Subnav, hero-w-subnav]
      - [Hero w/Video, hero-w-video]
      - [Lede Text, lede-text]
      - [Page Collection, page-collection]
      - [Page Collection - Icons, page-collection-icons]
      - [Page Collection Colored Boxes, page-collection-colored-boxes]
      - [Page Collection Vertical, page-collection-vertical]
      - [Page Collection Vertical - Icons, page-collection-vertical-icons]
      - [People Collection, people-collection]
      - [People Collection Vertical, people-collection-vertical]
      - [Photo Gallery, photo-gallery]
      - [Profile, profile]
      - [Profile Hero, profile-hero]
      - [Profile Hero w/Quote, profile-hero-w-quote]
      - [Profile Hero w/Border, profile-hero-w-border]
      - [Profile Teaser, profile-teaser]
      - [Profiles, profiles]
      - [Profiles Vertical, profiles-vertical]
      - [Profiles - Alternating Grid, alternating-grid]
      - [Profiles - Photo Grid, photo-grid]
      - [Program Listing, program-listing]
      - [Quicklinks, quicklinks]
      - [Social Media, social-media]
      - [Stat Sheet, stat-sheet]
      - [Subnav, subnav]
      - [Testimonials, testimonials]
      - [Testimonials Fancy, testimonials-fancy]
      - [Timeline, timeline]
      - [Twitter Widget, twitter-widget]
      - [Video Feature, video-feature]
      - [YouTube Playlist, youtube-playlist]
    include_blank: false
    default: backpage
  - slot_1_custom:
    title: If custom, name of partial
  - slot_1_custom_label:
    title: Custom Label
  - slot_1_is_edit_mode_only:
    type: checkbox
    title: Edit Mode Only
  - slot_1_where_to_display:
    title: Where to display
    type: select
    options:
      - [As Full-Width Block, as_full_width_block]
    include_blank: false
    default: as_full_width_block
  - slot_1_is_main:
    type: checkbox
    title: Is Main
    default: 1
  - slot_1_align:
    type: select
    title: Slot 1 Alignment
    options:
      - [Left, left]
      - [Middle, middle]
      - [Right, right]
    include_blank: false
    default: left
  - slot_1_featurettes_id:
    title: Root Page ID
  - slot_1_limit:
    title: Slot 1 Limit
  - slot_1_is_random:
    type: checkbox
    title: Randomize?
  - slot_1_number:
    type: select
    title: Slot 1 Instance
    options:
      - [1, 1]
      - [2, 2]
      - [3, 3]
      - [4, 4]
      - [5, 5]
      - [6, 6]
      - [7, 7]
      - [8, 8]
      - [9, 9]
      - [10, 10]
    include_blank: false
    default: 1
  - slot_1_loop_by:
    type: select
    title: Slot 1 Loop By
    options:
      - [Sort Order, sort_order]
      - [Alternate Name, alternate_name]
      - [Content Updated At, content_updated_at]
      - [Created At, none]
      - [Slug, slug]
      - [Meta Description, meta_description]
      - [Name, name]
      - [Published At, published_at]
      - [Template Name, template_name]
      - [Updated At, updated_at]
    include_blank: false
    default: sort_order
  - slot_1_loop_labels_match:
    type: select
    title: Slot 1 Loop Labels Match
    options:
      - [All, all]
      - [Any, any]
      - [None, none]
    include_blank: false
    default: all
  - slot_1_loop_order:
    type: select
    title: Slot 1 Loop Order
    options:
      - [ASC, asc]
      - [DESC, desc]
    include_blank: false
    default: asc
  - slot_1_primary_heading:
    type: select
    title: Primary Heading
    options:
      - [Default, default]
      - [H1, h1]
      - [H2, h2]
    include_blank: false
    default: default
  - slot_1_gallery_loop_by:
    type: select
    title: Gallery Loop By
    options:
      - [Title, title]
      - [Filename, filename]
    default: title
  - slot_1_scope:
    type: checkbox
    title: Sitewide
  - slot_1_show_hidden:
    type: checkbox
    title: Show if Hidden
  - slot_1_removeSidebar:
    type: checkbox
    title: Remove Backpage Sidebar
  - slot_1_removeSubnav:
    type: checkbox
    title: Remove Backpage Subnav
  - slot_1_reverseItems:
    type: checkbox
    title: Reverse Items
  - slot_2:
    type: select
    title: Slot 2
    options:
      - [Action Hero, action-hero]
      - [Action Hero Banner, action-hero-banner]
      - [Action Hero Card, action-hero-card]
      - [Action Hero Split, action-hero-split]
      - [Action Hero Two Column, action-hero-two-column]
      - [Article, article]
      - [Article Collection, article-collection]
      - [Article Index, article-index]
      - [Agenda Item, agenda-item]
      - [Back Page, backpage]
      - [Big Search, big-search]
      - [Blob A, blob-a]
      - [Calendar Events, calendar-events]
      - [Cards, cards]
      - [Cards w/Overlay, cards-w-overlay]
      - [Child Page List, child-page-list]
      - [Columns, columns]
      - [Columns 1-2, columns-1-2]
      - [Columns 2-1, columns-2-1]
      - [Columns 2-1-1, columns-2-1-1]
      - [Contact Collection, contact-collection]
      - [Contact Collection Vertical, contact-collection-vertical]
      - [Contact Info, contact-info]
      - [Directory, directory]
      - [Editable Region, editable-region]
      - [Event Agenda, event-agenda]
      - [Faculty Member Hero, faculty-member-hero]
      - [Faculty Profile, faculty-profile]
      - [Featurettes, featurettes]
      - [Featurettes Card Columns, featurettes-card-columns]
      - [Featurettes Cards, featurettes-cards]
      - [Full Bleed Photo, full-bleed-photo]
      - [Hero, hero]
      - [Hero w/Subnav, hero-w-subnav]
      - [Hero w/Video, hero-w-video]
      - [Lede Text, lede-text]
      - [Page Collection, page-collection]
      - [Page Collection - Icons, page-collection-icons]
      - [Page Collection Colored Boxes, page-collection-colored-boxes]
      - [Page Collection Vertical, page-collection-vertical]
      - [Page Collection Vertical - Icons, page-collection-vertical-icons]
      - [People Collection, people-collection]
      - [People Collection Vertical, people-collection-vertical]
      - [Photo Gallery, photo-gallery]
      - [Profile, profile]
      - [Profile Hero, profile-hero]
      - [Profile Hero w/Quote, profile-hero-w-quote]
      - [Profile Hero w/Border, profile-hero-w-border]
      - [Profile Teaser, profile-teaser]
      - [Profiles, profiles]
      - [Profiles Vertical, profiles-vertical]
      - [Profiles - Alternating Grid, alternating-grid]
      - [Profiles - Photo Grid, photo-grid]
      - [Program Listing, program-listing]
      - [Quicklinks, quicklinks]
      - [Social Media, social-media]
      - [Stat Sheet, stat-sheet]
      - [Subnav, subnav]
      - [Testimonials, testimonials]
      - [Testimonials Fancy, testimonials-fancy]
      - [Timeline, timeline]
      - [Twitter Widget, twitter-widget]
      - [Video Feature, video-feature]
      - [YouTube Playlist, youtube-playlist]
    include_blank: true
  - slot_2_custom:
    title: If custom, name of partial
  - slot_2_custom_label:
    title: Custom Label
  - slot_2_is_edit_mode_only:
    type: checkbox
    title: Edit Mode Only
  - slot_2_where_to_display:
    title: Where to display
    type: select
    options:
      - [As Full-Width Block, as_full_width_block]
    include_blank: false
    default: as_full_width_block
  - slot_2_is_main:
    type: checkbox
    title: Is Main
  - slot_2_align:
    type: select
    title: Slot 2 Alignment
    options:
      - [Left, left]
      - [Middle, middle]
      - [Right, right]
    include_blank: false
    default: left
  - slot_2_featurettes_id:
    title: Root Page ID
  - slot_2_limit:
    title: Slot 2 Limit
  - slot_2_is_random:
    type: checkbox
    title: Randomize?
  - slot_2_number:
    type: select
    title: Slot 2 Instance
    options:
      - [1, 1]
      - [2, 2]
      - [3, 3]
      - [4, 4]
      - [5, 5]
      - [6, 6]
      - [7, 7]
      - [8, 8]
      - [9, 9]
      - [10, 10]
    include_blank: false
    default: 1
  - slot_2_loop_by:
    type: select
    title: Slot 2 Loop By
    options:
      - [Sort Order, sort_order]
      - [Alternate Name, alternate_name]
      - [Content Updated At, content_updated_at]
      - [Created At, none]
      - [Slug, slug]
      - [Meta Description, meta_description]
      - [Name, name]
      - [Published At, published_at]
      - [Template Name, template_name]
      - [Updated At, updated_at]
    include_blank: false
    default: sort_order
  - slot_2_loop_labels_match:
    type: select
    title: Slot 2 Loop Labels Match
    options:
      - [All, all]
      - [Any, any]
      - [None, none]
    include_blank: false
    default: all
  - slot_2_loop_order:
    type: select
    title: Slot 2 Loop Order
    options:
      - [ASC, asc]
      - [DESC, desc]
    include_blank: false
    default: asc
  - slot_2_primary_heading:
    type: select
    title: Primary Heading
    options:
      - [Default, default]
      - [H1, h1]
      - [H2, h2]
    include_blank: false
    default: default
  - slot_2_gallery_loop_by:
    type: select
    title: Gallery Loop By
    options:
      - [Title, title]
      - [Filename, filename]
    default: title
  - slot_2_scope:
    type: checkbox
    title: Sitewide
  - slot_2_show_hidden:
    type: checkbox
    title: Show if Hidden
  - slot_2_removeSidebar:
    type: checkbox
    title: Remove Backpage Sidebar
  - slot_2_removeSubnav:
    type: checkbox
    title: Remove Backpage Subnav
  - slot_2_reverseItems:
    type: checkbox
    title: Reverse Items
  - slot_3:
    type: select
    title: Slot 3
    options:
      - [Action Hero, action-hero]
      - [Action Hero Banner, action-hero-banner]
      - [Action Hero Card, action-hero-card]
      - [Action Hero Split, action-hero-split]
      - [Action Hero Two Column, action-hero-two-column]
      - [Article, article]
      - [Article Collection, article-collection]
      - [Article Index, article-index]
      - [Agenda Item, agenda-item]
      - [Back Page, backpage]
      - [Big Search, big-search]
      - [Blob A, blob-a]
      - [Calendar Events, calendar-events]
      - [Cards, cards]
      - [Cards w/Overlay, cards-w-overlay]
      - [Child Page List, child-page-list]
      - [Columns, columns]
      - [Columns 1-2, columns-1-2]
      - [Columns 2-1, columns-2-1]
      - [Columns 2-1-1, columns-2-1-1]
      - [Contact Collection, contact-collection]
      - [Contact Collection Vertical, contact-collection-vertical]
      - [Contact Info, contact-info]
      - [Directory, directory]
      - [Editable Region, editable-region]
      - [Event Agenda, event-agenda]
      - [Faculty Member Hero, faculty-member-hero]
      - [Faculty Profile, faculty-profile]
      - [Featurettes, featurettes]
      - [Featurettes Card Columns, featurettes-card-columns]
      - [Featurettes Cards, featurettes-cards]
      - [Full Bleed Photo, full-bleed-photo]
      - [Hero, hero]
      - [Hero w/Subnav, hero-w-subnav]
      - [Hero w/Video, hero-w-video]
      - [Lede Text, lede-text]
      - [Page Collection, page-collection]
      - [Page Collection - Icons, page-collection-icons]
      - [Page Collection Colored Boxes, page-collection-colored-boxes]
      - [Page Collection Vertical, page-collection-vertical]
      - [Page Collection Vertical - Icons, page-collection-vertical-icons]
      - [People Collection, people-collection]
      - [People Collection Vertical, people-collection-vertical]
      - [Photo Gallery, photo-gallery]
      - [Profile, profile]
      - [Profile Hero, profile-hero]
      - [Profile Hero w/Quote, profile-hero-w-quote]
      - [Profile Hero w/Border, profile-hero-w-border]
      - [Profile Teaser, profile-teaser]
      - [Profiles, profiles]
      - [Profiles Vertical, profiles-vertical]
      - [Profiles - Alternating Grid, alternating-grid]
      - [Profiles - Photo Grid, photo-grid]
      - [Program Listing, program-listing]
      - [Quicklinks, quicklinks]
      - [Social Media, social-media]
      - [Stat Sheet, stat-sheet]
      - [Subnav, subnav]
      - [Testimonials, testimonials]
      - [Testimonials Fancy, testimonials-fancy]
      - [Timeline, timeline]
      - [Twitter Widget, twitter-widget]
      - [Video Feature, video-feature]
      - [YouTube Playlist, youtube-playlist]
    include_blank: true
  - slot_3_custom:
    title: If custom, name of partial
  - slot_3_custom_label:
    title: Custom Label
  - slot_3_is_edit_mode_only:
    type: checkbox
    title: Edit Mode Only
  - slot_3_where_to_display:
    title: Where to display
    type: select
    options:
      - [As Full-Width Block, as_full_width_block]
    include_blank: false
    default: as_full_width_block
  - slot_3_is_main:
    type: checkbox
    title: Is Main
  - slot_3_align:
    type: select
    title: Slot 3 Alignment
    options:
      - [Left, left]
      - [Middle, middle]
      - [Right, right]
    include_blank: false
    default: left
  - slot_3_featurettes_id:
    title: Root Page ID
  - slot_3_limit:
    title: Slot 3 Limit
  - slot_3_is_random:
    type: checkbox
    title: Randomize?
  - slot_3_number:
    type: select
    title: Slot 3 Instance
    options:
      - [1, 1]
      - [2, 2]
      - [3, 3]
      - [4, 4]
      - [5, 5]
      - [6, 6]
      - [7, 7]
      - [8, 8]
      - [9, 9]
      - [10, 10]
    include_blank: false
    default: 1
  - slot_3_loop_by:
    type: select
    title: Slot 3 Loop By
    options:
      - [Sort Order, sort_order]
      - [Alternate Name, alternate_name]
      - [Content Updated At, content_updated_at]
      - [Created At, none]
      - [Slug, slug]
      - [Meta Description, meta_description]
      - [Name, name]
      - [Published At, published_at]
      - [Template Name, template_name]
      - [Updated At, updated_at]
    include_blank: false
    default: sort_order
  - slot_3_loop_labels_match:
    type: select
    title: Slot 3 Loop Labels Match
    options:
      - [All, all]
      - [Any, any]
      - [None, none]
    include_blank: false
    default: all
  - slot_3_loop_order:
    type: select
    title: Slot 3 Loop Order
    options:
      - [ASC, asc]
      - [DESC, desc]
    include_blank: false
    default: asc
  - slot_3_primary_heading:
    type: select
    title: Primary Heading
    options:
      - [Default, default]
      - [H1, h1]
      - [H2, h2]
    include_blank: false
    default: default
  - slot_3_gallery_loop_by:
    type: select
    title: Gallery Loop By
    options:
      - [Title, title]
      - [Filename, filename]
    default: title
  - slot_3_scope:
    type: checkbox
    title: Sitewide
  - slot_3_show_hidden:
    type: checkbox
    title: Show if Hidden
  - slot_3_removeSidebar:
    type: checkbox
    title: Remove Backpage Sidebar
  - slot_3_removeSubnav:
    type: checkbox
    title: Remove Backpage Subnav
  - slot_3_reverseItems:
    type: checkbox
    title: Reverse Items
  - slot_4:
    type: select
    title: Slot 4
    options:
      - [Action Hero, action-hero]
      - [Action Hero Banner, action-hero-banner]
      - [Action Hero Card, action-hero-card]
      - [Action Hero Split, action-hero-split]
      - [Action Hero Two Column, action-hero-two-column]
      - [Article, article]
      - [Article Collection, article-collection]
      - [Article Index, article-index]
      - [Agenda Item, agenda-item]
      - [Back Page, backpage]
      - [Big Search, big-search]
      - [Blob A, blob-a]
      - [Calendar Events, calendar-events]
      - [Cards, cards]
      - [Cards w/Overlay, cards-w-overlay]
      - [Child Page List, child-page-list]
      - [Columns, columns]
      - [Columns 1-2, columns-1-2]
      - [Columns 2-1, columns-2-1]
      - [Columns 2-1-1, columns-2-1-1]
      - [Contact Collection, contact-collection]
      - [Contact Collection Vertical, contact-collection-vertical]
      - [Contact Info, contact-info]
      - [Directory, directory]
      - [Editable Region, editable-region]
      - [Event Agenda, event-agenda]
      - [Faculty Member Hero, faculty-member-hero]
      - [Faculty Profile, faculty-profile]
      - [Featurettes, featurettes]
      - [Featurettes Card Columns, featurettes-card-columns]
      - [Featurettes Cards, featurettes-cards]
      - [Full Bleed Photo, full-bleed-photo]
      - [Hero, hero]
      - [Hero w/Subnav, hero-w-subnav]
      - [Hero w/Video, hero-w-video]
      - [Lede Text, lede-text]
      - [Page Collection, page-collection]
      - [Page Collection - Icons, page-collection-icons]
      - [Page Collection Colored Boxes, page-collection-colored-boxes]
      - [Page Collection Vertical, page-collection-vertical]
      - [Page Collection Vertical - Icons, page-collection-vertical-icons]
      - [People Collection, people-collection]
      - [People Collection Vertical, people-collection-vertical]
      - [Photo Gallery, photo-gallery]
      - [Profile, profile]
      - [Profile Hero, profile-hero]
      - [Profile Hero w/Quote, profile-hero-w-quote]
      - [Profile Hero w/Border, profile-hero-w-border]
      - [Profile Teaser, profile-teaser]
      - [Profiles, profiles]
      - [Profiles Vertical, profiles-vertical]
      - [Profiles - Alternating Grid, alternating-grid]
      - [Profiles - Photo Grid, photo-grid]
      - [Program Listing, program-listing]
      - [Quicklinks, quicklinks]
      - [Social Media, social-media]
      - [Stat Sheet, stat-sheet]
      - [Subnav, subnav]
      - [Testimonials, testimonials]
      - [Testimonials Fancy, testimonials-fancy]
      - [Timeline, timeline]
      - [Twitter Widget, twitter-widget]
      - [Video Feature, video-feature]
      - [YouTube Playlist, youtube-playlist]
    include_blank: true
  - slot_4_custom:
    title: If custom, name of partial
  - slot_4_custom_label:
    title: Custom Label
  - slot_4_is_edit_mode_only:
    type: checkbox
    title: Edit Mode Only
  - slot_4_where_to_display:
    title: Where to display
    type: select
    options:
      - [As Full-Width Block, as_full_width_block]
    include_blank: false
    default: as_full_width_block
  - slot_4_is_main:
    type: checkbox
    title: Is Main
  - slot_4_align:
    type: select
    title: Slot 4 Alignment
    options:
      - [Left, left]
      - [Middle, middle]
      - [Right, right]
    include_blank: false
    default: left
  - slot_4_featurettes_id:
    title: Root Page ID
  - slot_4_limit:
    title: Slot 4 Limit
  - slot_4_is_random:
    type: checkbox
    title: Randomize?
  - slot_4_number:
    type: select
    title: Slot 4 Instance
    options:
      - [1, 1]
      - [2, 2]
      - [3, 3]
      - [4, 4]
      - [5, 5]
      - [6, 6]
      - [7, 7]
      - [8, 8]
      - [9, 9]
      - [10, 10]
    include_blank: false
    default: 1
  - slot_4_loop_by:
    type: select
    title: Slot 4 Loop By
    options:
      - [Sort Order, sort_order]
      - [Alternate Name, alternate_name]
      - [Content Updated At, content_updated_at]
      - [Created At, none]
      - [Slug, slug]
      - [Meta Description, meta_description]
      - [Name, name]
      - [Published At, published_at]
      - [Template Name, template_name]
      - [Updated At, updated_at]
    include_blank: false
    default: sort_order
  - slot_4_loop_labels_match:
    type: select
    title: Slot 4 Loop Labels Match
    options:
      - [All, all]
      - [Any, any]
      - [None, none]
    include_blank: false
    default: all
  - slot_4_loop_order:
    type: select
    title: Slot 4 Loop Order
    options:
      - [ASC, asc]
      - [DESC, desc]
    include_blank: false
    default: asc
  - slot_4_primary_heading:
    type: select
    title: Primary Heading
    options:
      - [Default, default]
      - [H1, h1]
      - [H2, h2]
    include_blank: false
    default: default
  - slot_4_gallery_loop_by:
    type: select
    title: Gallery Loop By
    options:
      - [Title, title]
      - [Filename, filename]
    default: title
  - slot_4_scope:
    type: checkbox
    title: Sitewide
  - slot_4_show_hidden:
    type: checkbox
    title: Show if Hidden
  - slot_4_removeSidebar:
    type: checkbox
    title: Remove Backpage Sidebar
  - slot_4_removeSubnav:
    type: checkbox
    title: Remove Backpage Subnav
  - slot_4_reverseItems:
    type: checkbox
    title: Reverse Items
  - slot_5:
    type: select
    title: Slot 5
    options:
      - [Action Hero, action-hero]
      - [Action Hero Banner, action-hero-banner]
      - [Action Hero Card, action-hero-card]
      - [Action Hero Split, action-hero-split]
      - [Action Hero Two Column, action-hero-two-column]
      - [Article, article]
      - [Article Collection, article-collection]
      - [Article Index, article-index]
      - [Agenda Item, agenda-item]
      - [Back Page, backpage]
      - [Big Search, big-search]
      - [Blob A, blob-a]
      - [Calendar Events, calendar-events]
      - [Cards, cards]
      - [Cards w/Overlay, cards-w-overlay]
      - [Child Page List, child-page-list]
      - [Columns, columns]
      - [Columns 1-2, columns-1-2]
      - [Columns 2-1, columns-2-1]
      - [Columns 2-1-1, columns-2-1-1]
      - [Contact Collection, contact-collection]
      - [Contact Collection Vertical, contact-collection-vertical]
      - [Contact Info, contact-info]
      - [Directory, directory]
      - [Editable Region, editable-region]
      - [Event Agenda, event-agenda]
      - [Faculty Member Hero, faculty-member-hero]
      - [Faculty Profile, faculty-profile]
      - [Featurettes, featurettes]
      - [Featurettes Card Columns, featurettes-card-columns]
      - [Featurettes Cards, featurettes-cards]
      - [Full Bleed Photo, full-bleed-photo]
      - [Hero, hero]
      - [Hero w/Subnav, hero-w-subnav]
      - [Hero w/Video, hero-w-video]
      - [Lede Text, lede-text]
      - [Page Collection, page-collection]
      - [Page Collection - Icons, page-collection-icons]
      - [Page Collection Colored Boxes, page-collection-colored-boxes]
      - [Page Collection Vertical, page-collection-vertical]
      - [Page Collection Vertical - Icons, page-collection-vertical-icons]
      - [People Collection, people-collection]
      - [People Collection Vertical, people-collection-vertical]
      - [Photo Gallery, photo-gallery]
      - [Profile, profile]
      - [Profile Hero, profile-hero]
      - [Profile Hero w/Quote, profile-hero-w-quote]
      - [Profile Hero w/Border, profile-hero-w-border]
      - [Profile Teaser, profile-teaser]
      - [Profiles, profiles]
      - [Profiles Vertical, profiles-vertical]
      - [Profiles - Alternating Grid, alternating-grid]
      - [Profiles - Photo Grid, photo-grid]
      - [Program Listing, program-listing]
      - [Quicklinks, quicklinks]
      - [Social Media, social-media]
      - [Stat Sheet, stat-sheet]
      - [Subnav, subnav]
      - [Testimonials, testimonials]
      - [Testimonials Fancy, testimonials-fancy]
      - [Timeline, timeline]
      - [Twitter Widget, twitter-widget]
      - [Video Feature, video-feature]
      - [YouTube Playlist, youtube-playlist]
    include_blank: true
  - slot_5_custom:
    title: If custom, name of partial
  - slot_5_custom_label:
    title: Custom Label
  - slot_5_is_edit_mode_only:
    type: checkbox
    title: Edit Mode Only
  - slot_5_where_to_display:
    title: Where to display
    type: select
    options:
      - [As Full-Width Block, as_full_width_block]
    include_blank: false
    default: as_full_width_block
  - slot_5_is_main:
    type: checkbox
    title: Is Main
  - slot_5_align:
    type: select
    title: Slot 5 Alignment
    options:
      - [Left, left]
      - [Middle, middle]
      - [Right, right]
    include_blank: false
    default: left
  - slot_5_featurettes_id:
    title: Root Page ID
  - slot_5_limit:
    title: Slot 5 Limit
  - slot_5_is_random:
    type: checkbox
    title: Randomize?
  - slot_5_number:
    type: select
    title: Slot 5 Instance
    options:
      - [1, 1]
      - [2, 2]
      - [3, 3]
      - [4, 4]
      - [5, 5]
      - [6, 6]
      - [7, 7]
      - [8, 8]
      - [9, 9]
      - [10, 10]
    include_blank: false
    default: 1
  - slot_5_loop_by:
    type: select
    title: Slot 5 Loop By
    options:
      - [Sort Order, sort_order]
      - [Alternate Name, alternate_name]
      - [Content Updated At, content_updated_at]
      - [Created At, none]
      - [Slug, slug]
      - [Meta Description, meta_description]
      - [Name, name]
      - [Published At, published_at]
      - [Template Name, template_name]
      - [Updated At, updated_at]
    include_blank: false
    default: sort_order
  - slot_5_loop_labels_match:
    type: select
    title: Slot 5 Loop Labels Match
    options:
      - [All, all]
      - [Any, any]
      - [None, none]
    include_blank: false
    default: all
  - slot_5_loop_order:
    type: select
    title: Slot 5 Loop Order
    options:
      - [ASC, asc]
      - [DESC, desc]
    include_blank: false
    default: asc
  - slot_5_primary_heading:
    type: select
    title: Primary Heading
    options:
      - [Default, default]
      - [H1, h1]
      - [H2, h2]
    include_blank: false
    default: default
  - slot_5_gallery_loop_by:
    type: select
    title: Gallery Loop By
    options:
      - [Title, title]
      - [Filename, filename]
    default: title
  - slot_5_scope:
    type: checkbox
    title: Sitewide
  - slot_5_show_hidden:
    type: checkbox
    title: Show if Hidden
  - slot_5_removeSidebar:
    type: checkbox
    title: Remove Backpage Sidebar
  - slot_5_removeSubnav:
    type: checkbox
    title: Remove Backpage Subnav
  - slot_5_reverseItems:
    type: checkbox
    title: Reverse Items
  - slot_6:
    type: select
    title: Slot 6
    options:
      - [Action Hero, action-hero]
      - [Action Hero Banner, action-hero-banner]
      - [Action Hero Card, action-hero-card]
      - [Action Hero Split, action-hero-split]
      - [Action Hero Two Column, action-hero-two-column]
      - [Article, article]
      - [Article Collection, article-collection]
      - [Article Index, article-index]
      - [Agenda Item, agenda-item]
      - [Back Page, backpage]
      - [Big Search, big-search]
      - [Blob A, blob-a]
      - [Calendar Events, calendar-events]
      - [Cards, cards]
      - [Cards w/Overlay, cards-w-overlay]
      - [Child Page List, child-page-list]
      - [Columns, columns]
      - [Columns 1-2, columns-1-2]
      - [Columns 2-1, columns-2-1]
      - [Columns 2-1-1, columns-2-1-1]
      - [Contact Collection, contact-collection]
      - [Contact Collection Vertical, contact-collection-vertical]
      - [Contact Info, contact-info]
      - [Directory, directory]
      - [Editable Region, editable-region]
      - [Event Agenda, event-agenda]
      - [Faculty Member Hero, faculty-member-hero]
      - [Faculty Profile, faculty-profile]
      - [Featurettes, featurettes]
      - [Featurettes Card Columns, featurettes-card-columns]
      - [Featurettes Cards, featurettes-cards]
      - [Full Bleed Photo, full-bleed-photo]
      - [Hero, hero]
      - [Hero w/Subnav, hero-w-subnav]
      - [Hero w/Video, hero-w-video]
      - [Lede Text, lede-text]
      - [Page Collection, page-collection]
      - [Page Collection - Icons, page-collection-icons]
      - [Page Collection Colored Boxes, page-collection-colored-boxes]
      - [Page Collection Vertical, page-collection-vertical]
      - [Page Collection Vertical - Icons, page-collection-vertical-icons]
      - [People Collection, people-collection]
      - [People Collection Vertical, people-collection-vertical]
      - [Photo Gallery, photo-gallery]
      - [Profile, profile]
      - [Profile Hero, profile-hero]
      - [Profile Hero w/Quote, profile-hero-w-quote]
      - [Profile Hero w/Border, profile-hero-w-border]
      - [Profile Teaser, profile-teaser]
      - [Profiles, profiles]
      - [Profiles Vertical, profiles-vertical]
      - [Profiles - Alternating Grid, alternating-grid]
      - [Profiles - Photo Grid, photo-grid]
      - [Program Listing, program-listing]
      - [Quicklinks, quicklinks]
      - [Social Media, social-media]
      - [Stat Sheet, stat-sheet]
      - [Subnav, subnav]
      - [Testimonials, testimonials]
      - [Testimonials Fancy, testimonials-fancy]
      - [Timeline, timeline]
      - [Twitter Widget, twitter-widget]
      - [Video Feature, video-feature]
      - [YouTube Playlist, youtube-playlist]
    include_blank: true
  - slot_6_custom:
    title: If custom, name of partial
  - slot_6_custom_label:
    title: Custom Label
  - slot_6_is_edit_mode_only:
    type: checkbox
    title: Edit Mode Only
  - slot_6_where_to_display:
    title: Where to display
    type: select
    options:
      - [As Full-Width Block, as_full_width_block]
    include_blank: false
    default: as_full_width_block
  - slot_6_is_main:
    type: checkbox
    title: Is Main
  - slot_6_align:
    type: select
    title: Slot 6 Alignment
    options:
      - [Left, left]
      - [Middle, middle]
      - [Right, right]
    include_blank: false
    default: left
  - slot_6_featurettes_id:
    title: Root Page ID
  - slot_6_limit:
    title: Slot 6 Limit
  - slot_6_is_random:
    type: checkbox
    title: Randomize?
  - slot_6_number:
    type: select
    title: Slot 6 Instance
    options:
      - [1, 1]
      - [2, 2]
      - [3, 3]
      - [4, 4]
      - [5, 5]
      - [6, 6]
      - [7, 7]
      - [8, 8]
      - [9, 9]
      - [10, 10]
    include_blank: false
    default: 1
  - slot_6_loop_by:
    type: select
    title: Slot 6 Loop By
    options:
      - [Sort Order, sort_order]
      - [Alternate Name, alternate_name]
      - [Content Updated At, content_updated_at]
      - [Created At, none]
      - [Slug, slug]
      - [Meta Description, meta_description]
      - [Name, name]
      - [Published At, published_at]
      - [Template Name, template_name]
      - [Updated At, updated_at]
    include_blank: false
    default: sort_order
  - slot_6_loop_labels_match:
    type: select
    title: Slot 6 Loop Labels Match
    options:
      - [All, all]
      - [Any, any]
      - [None, none]
    include_blank: false
    default: all
  - slot_6_loop_order:
    type: select
    title: Slot 6 Loop Order
    options:
      - [ASC, asc]
      - [DESC, desc]
    include_blank: false
    default: asc
  - slot_6_primary_heading:
    type: select
    title: Primary Heading
    options:
      - [Default, default]
      - [H1, h1]
      - [H2, h2]
    include_blank: false
    default: default
  - slot_6_gallery_loop_by:
    type: select
    title: Gallery Loop By
    options:
      - [Title, title]
      - [Filename, filename]
    default: title
  - slot_6_scope:
    type: checkbox
    title: Sitewide
  - slot_6_show_hidden:
    type: checkbox
    title: Show if Hidden
  - slot_6_removeSidebar:
    type: checkbox
    title: Remove Backpage Sidebar
  - slot_6_removeSubnav:
    type: checkbox
    title: Remove Backpage Subnav
  - slot_6_reverseItems:
    type: checkbox
    title: Reverse Items
  - slot_7:
    type: select
    title: Slot 7
    options:
      - [Action Hero, action-hero]
      - [Action Hero Banner, action-hero-banner]
      - [Action Hero Card, action-hero-card]
      - [Action Hero Split, action-hero-split]
      - [Action Hero Two Column, action-hero-two-column]
      - [Article, article]
      - [Article Collection, article-collection]
      - [Article Index, article-index]
      - [Agenda Item, agenda-item]
      - [Back Page, backpage]
      - [Big Search, big-search]
      - [Blob A, blob-a]
      - [Calendar Events, calendar-events]
      - [Cards, cards]
      - [Cards w/Overlay, cards-w-overlay]
      - [Child Page List, child-page-list]
      - [Columns, columns]
      - [Columns 1-2, columns-1-2]
      - [Columns 2-1, columns-2-1]
      - [Columns 2-1-1, columns-2-1-1]
      - [Contact Collection, contact-collection]
      - [Contact Collection Vertical, contact-collection-vertical]
      - [Contact Info, contact-info]
      - [Directory, directory]
      - [Editable Region, editable-region]
      - [Event Agenda, event-agenda]
      - [Faculty Member Hero, faculty-member-hero]
      - [Faculty Profile, faculty-profile]
      - [Featurettes, featurettes]
      - [Featurettes Card Columns, featurettes-card-columns]
      - [Featurettes Cards, featurettes-cards]
      - [Full Bleed Photo, full-bleed-photo]
      - [Hero, hero]
      - [Hero w/Subnav, hero-w-subnav]
      - [Hero w/Video, hero-w-video]
      - [Lede Text, lede-text]
      - [Page Collection, page-collection]
      - [Page Collection - Icons, page-collection-icons]
      - [Page Collection Colored Boxes, page-collection-colored-boxes]
      - [Page Collection Vertical, page-collection-vertical]
      - [Page Collection Vertical - Icons, page-collection-vertical-icons]
      - [People Collection, people-collection]
      - [People Collection Vertical, people-collection-vertical]
      - [Photo Gallery, photo-gallery]
      - [Profile, profile]
      - [Profile Hero, profile-hero]
      - [Profile Hero w/Quote, profile-hero-w-quote]
      - [Profile Hero w/Border, profile-hero-w-border]
      - [Profile Teaser, profile-teaser]
      - [Profiles, profiles]
      - [Profiles Vertical, profiles-vertical]
      - [Profiles - Alternating Grid, alternating-grid]
      - [Profiles - Photo Grid, photo-grid]
      - [Program Listing, program-listing]
      - [Quicklinks, quicklinks]
      - [Social Media, social-media]
      - [Stat Sheet, stat-sheet]
      - [Subnav, subnav]
      - [Testimonials, testimonials]
      - [Testimonials Fancy, testimonials-fancy]
      - [Timeline, timeline]
      - [Twitter Widget, twitter-widget]
      - [Video Feature, video-feature]
      - [YouTube Playlist, youtube-playlist]
    include_blank: true
  - slot_7_custom:
    title: If custom, name of partial
  - slot_7_custom_label:
    title: Custom Label
  - slot_7_is_edit_mode_only:
    type: checkbox
    title: Edit Mode Only
  - slot_7_where_to_display:
    title: Where to display
    type: select
    options:
      - [As Full-Width Block, as_full_width_block]
    include_blank: false
    default: as_full_width_block
  - slot_7_is_main:
    type: checkbox
    title: Is Main
  - slot_7_align:
    type: select
    title: Slot 7 Alignment
    options:
      - [Left, left]
      - [Middle, middle]
      - [Right, right]
    include_blank: false
    default: left
  - slot_7_featurettes_id:
    title: Root Page ID
  - slot_7_limit:
    title: Slot 7 Limit
  - slot_7_is_random:
    type: checkbox
    title: Randomize?
  - slot_7_number:
    type: select
    title: Slot 7 Instance
    options:
      - [1, 1]
      - [2, 2]
      - [3, 3]
      - [4, 4]
      - [5, 5]
      - [6, 6]
      - [7, 7]
      - [8, 8]
      - [9, 9]
      - [10, 10]
    include_blank: false
    default: 1
  - slot_7_loop_by:
    type: select
    title: Slot 7 Loop By
    options:
      - [Sort Order, sort_order]
      - [Alternate Name, alternate_name]
      - [Content Updated At, content_updated_at]
      - [Created At, none]
      - [Slug, slug]
      - [Meta Description, meta_description]
      - [Name, name]
      - [Published At, published_at]
      - [Template Name, template_name]
      - [Updated At, updated_at]
    include_blank: false
    default: sort_order
  - slot_7_loop_labels_match:
    type: select
    title: Slot 7 Loop Labels Match
    options:
      - [All, all]
      - [Any, any]
      - [None, none]
    include_blank: false
    default: all
  - slot_7_loop_order:
    type: select
    title: Slot 7 Loop Order
    options:
      - [ASC, asc]
      - [DESC, desc]
    include_blank: false
    default: asc
  - slot_7_primary_heading:
    type: select
    title: Primary Heading
    options:
      - [Default, default]
      - [H1, h1]
      - [H2, h2]
    include_blank: false
    default: default
  - slot_7_gallery_loop_by:
    type: select
    title: Gallery Loop By
    options:
      - [Title, title]
      - [Filename, filename]
    default: title
  - slot_7_scope:
    type: checkbox
    title: Sitewide
  - slot_7_show_hidden:
    type: checkbox
    title: Show if Hidden
  - slot_7_removeSidebar:
    type: checkbox
    title: Remove Backpage Sidebar
  - slot_7_removeSubnav:
    type: checkbox
    title: Remove Backpage Subnav
  - slot_7_reverseItems:
    type: checkbox
    title: Reverse Items
  - slot_8:
    type: select
    title: Slot 8
    options:
      - [Action Hero, action-hero]
      - [Action Hero Banner, action-hero-banner]
      - [Action Hero Card, action-hero-card]
      - [Action Hero Split, action-hero-split]
      - [Action Hero Two Column, action-hero-two-column]
      - [Article, article]
      - [Article Collection, article-collection]
      - [Article Index, article-index]
      - [Agenda Item, agenda-item]
      - [Back Page, backpage]
      - [Big Search, big-search]
      - [Blob A, blob-a]
      - [Calendar Events, calendar-events]
      - [Cards, cards]
      - [Cards w/Overlay, cards-w-overlay]
      - [Child Page List, child-page-list]
      - [Columns, columns]
      - [Columns 1-2, columns-1-2]
      - [Columns 2-1, columns-2-1]
      - [Columns 2-1-1, columns-2-1-1]
      - [Contact Collection, contact-collection]
      - [Contact Collection Vertical, contact-collection-vertical]
      - [Contact Info, contact-info]
      - [Directory, directory]
      - [Editable Region, editable-region]
      - [Event Agenda, event-agenda]
      - [Faculty Member Hero, faculty-member-hero]
      - [Faculty Profile, faculty-profile]
      - [Featurettes, featurettes]
      - [Featurettes Card Columns, featurettes-card-columns]
      - [Featurettes Cards, featurettes-cards]
      - [Full Bleed Photo, full-bleed-photo]
      - [Hero, hero]
      - [Hero w/Subnav, hero-w-subnav]
      - [Hero w/Video, hero-w-video]
      - [Lede Text, lede-text]
      - [Page Collection, page-collection]
      - [Page Collection - Icons, page-collection-icons]
      - [Page Collection Colored Boxes, page-collection-colored-boxes]
      - [Page Collection Vertical, page-collection-vertical]
      - [Page Collection Vertical - Icons, page-collection-vertical-icons]
      - [People Collection, people-collection]
      - [People Collection Vertical, people-collection-vertical]
      - [Photo Gallery, photo-gallery]
      - [Profile, profile]
      - [Profile Hero, profile-hero]
      - [Profile Hero w/Quote, profile-hero-w-quote]
      - [Profile Hero w/Border, profile-hero-w-border]
      - [Profile Teaser, profile-teaser]
      - [Profiles, profiles]
      - [Profiles Vertical, profiles-vertical]
      - [Profiles - Alternating Grid, alternating-grid]
      - [Profiles - Photo Grid, photo-grid]
      - [Program Listing, program-listing]
      - [Quicklinks, quicklinks]
      - [Social Media, social-media]
      - [Stat Sheet, stat-sheet]
      - [Subnav, subnav]
      - [Testimonials, testimonials]
      - [Testimonials Fancy, testimonials-fancy]
      - [Timeline, timeline]
      - [Twitter Widget, twitter-widget]
      - [Video Feature, video-feature]
      - [YouTube Playlist, youtube-playlist]
    include_blank: true
  - slot_8_custom:
    title: If custom, name of partial
  - slot_8_custom_label:
    title: Custom Label
  - slot_8_is_edit_mode_only:
    type: checkbox
    title: Edit Mode Only
  - slot_8_where_to_display:
    title: Where to display
    type: select
    options:
      - [As Full-Width Block, as_full_width_block]
    include_blank: false
    default: as_full_width_block
  - slot_8_is_main:
    type: checkbox
    title: Is Main
  - slot_8_align:
    type: select
    title: Slot 8 Alignment
    options:
      - [Left, left]
      - [Middle, middle]
      - [Right, right]
    include_blank: false
    default: left
  - slot_8_featurettes_id:
    title: Root Page ID
  - slot_8_limit:
    title: Slot 8 Limit
  - slot_8_is_random:
    type: checkbox
    title: Randomize?
  - slot_8_number:
    type: select
    title: Slot 8 Instance
    options:
      - [1, 1]
      - [2, 2]
      - [3, 3]
      - [4, 4]
      - [5, 5]
      - [6, 6]
      - [7, 7]
      - [8, 8]
      - [9, 9]
      - [10, 10]
    include_blank: false
    default: 1
  - slot_8_loop_by:
    type: select
    title: Slot 8 Loop By
    options:
      - [Sort Order, sort_order]
      - [Alternate Name, alternate_name]
      - [Content Updated At, content_updated_at]
      - [Created At, none]
      - [Slug, slug]
      - [Meta Description, meta_description]
      - [Name, name]
      - [Published At, published_at]
      - [Template Name, template_name]
      - [Updated At, updated_at]
    include_blank: false
    default: sort_order
  - slot_8_loop_labels_match:
    type: select
    title: Slot 8 Loop Labels Match
    options:
      - [All, all]
      - [Any, any]
      - [None, none]
    include_blank: false
    default: all
  - slot_8_loop_order:
    type: select
    title: Slot 8 Loop Order
    options:
      - [ASC, asc]
      - [DESC, desc]
    include_blank: false
    default: asc
  - slot_8_primary_heading:
    type: select
    title: Primary Heading
    options:
      - [Default, default]
      - [H1, h1]
      - [H2, h2]
    include_blank: false
    default: default
  - slot_8_gallery_loop_by:
    type: select
    title: Gallery Loop By
    options:
      - [Title, title]
      - [Filename, filename]
    default: title
  - slot_8_scope:
    type: checkbox
    title: Sitewide
  - slot_8_show_hidden:
    type: checkbox
    title: Show if Hidden
  - slot_8_removeSidebar:
    type: checkbox
    title: Remove Backpage Sidebar
  - slot_8_removeSubnav:
    type: checkbox
    title: Remove Backpage Subnav
  - slot_8_reverseItems:
    type: checkbox
    title: Reverse Items
  - slot_9:
    type: select
    title: Slot 9
    options:
      - [Action Hero, action-hero]
      - [Action Hero Banner, action-hero-banner]
      - [Action Hero Card, action-hero-card]
      - [Action Hero Split, action-hero-split]
      - [Action Hero Two Column, action-hero-two-column]
      - [Article, article]
      - [Article Collection, article-collection]
      - [Article Index, article-index]
      - [Agenda Item, agenda-item]
      - [Back Page, backpage]
      - [Big Search, big-search]
      - [Blob A, blob-a]
      - [Calendar Events, calendar-events]
      - [Cards, cards]
      - [Cards w/Overlay, cards-w-overlay]
      - [Child Page List, child-page-list]
      - [Columns, columns]
      - [Columns 1-2, columns-1-2]
      - [Columns 2-1, columns-2-1]
      - [Columns 2-1-1, columns-2-1-1]
      - [Contact Collection, contact-collection]
      - [Contact Collection Vertical, contact-collection-vertical]
      - [Contact Info, contact-info]
      - [Directory, directory]
      - [Editable Region, editable-region]
      - [Event Agenda, event-agenda]
      - [Faculty Member Hero, faculty-member-hero]
      - [Faculty Profile, faculty-profile]
      - [Featurettes, featurettes]
      - [Featurettes Card Columns, featurettes-card-columns]
      - [Featurettes Cards, featurettes-cards]
      - [Full Bleed Photo, full-bleed-photo]
      - [Hero, hero]
      - [Hero w/Subnav, hero-w-subnav]
      - [Hero w/Video, hero-w-video]
      - [Lede Text, lede-text]
      - [Page Collection, page-collection]
      - [Page Collection - Icons, page-collection-icons]
      - [Page Collection Colored Boxes, page-collection-colored-boxes]
      - [Page Collection Vertical, page-collection-vertical]
      - [Page Collection Vertical - Icons, page-collection-vertical-icons]
      - [People Collection, people-collection]
      - [People Collection Vertical, people-collection-vertical]
      - [Photo Gallery, photo-gallery]
      - [Profile, profile]
      - [Profile Hero, profile-hero]
      - [Profile Hero w/Quote, profile-hero-w-quote]
      - [Profile Hero w/Border, profile-hero-w-border]
      - [Profile Teaser, profile-teaser]
      - [Profiles, profiles]
      - [Profiles Vertical, profiles-vertical]
      - [Profiles - Alternating Grid, alternating-grid]
      - [Profiles - Photo Grid, photo-grid]
      - [Program Listing, program-listing]
      - [Quicklinks, quicklinks]
      - [Social Media, social-media]
      - [Stat Sheet, stat-sheet]
      - [Subnav, subnav]
      - [Testimonials, testimonials]
      - [Testimonials Fancy, testimonials-fancy]
      - [Timeline, timeline]
      - [Twitter Widget, twitter-widget]
      - [Video Feature, video-feature]
      - [YouTube Playlist, youtube-playlist]
    include_blank: true
  - slot_9_custom:
    title: If custom, name of partial
  - slot_9_custom_label:
    title: Custom Label
  - slot_9_is_edit_mode_only:
    type: checkbox
    title: Edit Mode Only
  - slot_9_where_to_display:
    title: Where to display
    type: select
    options:
      - [As Full-Width Block, as_full_width_block]
    include_blank: false
    default: as_full_width_block
  - slot_9_is_main:
    type: checkbox
    title: Is Main
  - slot_9_align:
    type: select
    title: Slot 9 Alignment
    options:
      - [Left, left]
      - [Middle, middle]
      - [Right, right]
    include_blank: false
    default: left
  - slot_9_featurettes_id:
    title: Root Page ID
  - slot_9_limit:
    title: Slot 9 Limit
  - slot_9_is_random:
    type: checkbox
    title: Randomize?
  - slot_9_number:
    type: select
    title: Slot 9 Instance
    options:
      - [1, 1]
      - [2, 2]
      - [3, 3]
      - [4, 4]
      - [5, 5]
      - [6, 6]
      - [7, 7]
      - [8, 8]
      - [9, 9]
      - [10, 10]
    include_blank: false
    default: 1
  - slot_9_loop_by:
    type: select
    title: Slot 9 Loop By
    options:
      - [Sort Order, sort_order]
      - [Alternate Name, alternate_name]
      - [Content Updated At, content_updated_at]
      - [Created At, none]
      - [Slug, slug]
      - [Meta Description, meta_description]
      - [Name, name]
      - [Published At, published_at]
      - [Template Name, template_name]
      - [Updated At, updated_at]
    include_blank: false
    default: sort_order
  - slot_9_loop_labels_match:
    type: select
    title: Slot 9 Loop Labels Match
    options:
      - [All, all]
      - [Any, any]
      - [None, none]
    include_blank: false
    default: all
  - slot_9_loop_order:
    type: select
    title: Slot 9 Loop Order
    options:
      - [ASC, asc]
      - [DESC, desc]
    include_blank: false
    default: asc
  - slot_9_primary_heading:
    type: select
    title: Primary Heading
    options:
      - [Default, default]
      - [H1, h1]
      - [H2, h2]
    include_blank: false
    default: default
  - slot_9_gallery_loop_by:
    type: select
    title: Gallery Loop By
    options:
      - [Title, title]
      - [Filename, filename]
    default: title
  - slot_9_scope:
    type: checkbox
    title: Sitewide
  - slot_9_show_hidden:
    type: checkbox
    title: Show if Hidden
  - slot_9_removeSidebar:
    type: checkbox
    title: Remove Backpage Sidebar
  - slot_9_removeSubnav:
    type: checkbox
    title: Remove Backpage Subnav
  - slot_9_reverseItems:
    type: checkbox
    title: Reverse Items
  - slot_10:
    type: select
    title: Slot 10
    options:
      - [Action Hero, action-hero]
      - [Action Hero Banner, action-hero-banner]
      - [Action Hero Card, action-hero-card]
      - [Action Hero Split, action-hero-split]
      - [Action Hero Two Column, action-hero-two-column]
      - [Article, article]
      - [Article Collection, article-collection]
      - [Article Index, article-index]
      - [Agenda Item, agenda-item]
      - [Back Page, backpage]
      - [Big Search, big-search]
      - [Blob A, blob-a]
      - [Calendar Events, calendar-events]
      - [Cards, cards]
      - [Cards w/Overlay, cards-w-overlay]
      - [Child Page List, child-page-list]
      - [Columns, columns]
      - [Columns 1-2, columns-1-2]
      - [Columns 2-1, columns-2-1]
      - [Columns 2-1-1, columns-2-1-1]
      - [Contact Collection, contact-collection]
      - [Contact Collection Vertical, contact-collection-vertical]
      - [Contact Info, contact-info]
      - [Directory, directory]
      - [Editable Region, editable-region]
      - [Event Agenda, event-agenda]
      - [Faculty Member Hero, faculty-member-hero]
      - [Faculty Profile, faculty-profile]
      - [Featurettes, featurettes]
      - [Featurettes Card Columns, featurettes-card-columns]
      - [Featurettes Cards, featurettes-cards]
      - [Full Bleed Photo, full-bleed-photo]
      - [Hero, hero]
      - [Hero w/Subnav, hero-w-subnav]
      - [Hero w/Video, hero-w-video]
      - [Lede Text, lede-text]
      - [Page Collection, page-collection]
      - [Page Collection - Icons, page-collection-icons]
      - [Page Collection Colored Boxes, page-collection-colored-boxes]
      - [Page Collection Vertical, page-collection-vertical]
      - [Page Collection Vertical - Icons, page-collection-vertical-icons]
      - [People Collection, people-collection]
      - [People Collection Vertical, people-collection-vertical]
      - [Photo Gallery, photo-gallery]
      - [Profile, profile]
      - [Profile Hero, profile-hero]
      - [Profile Hero w/Quote, profile-hero-w-quote]
      - [Profile Hero w/Border, profile-hero-w-border]
      - [Profile Teaser, profile-teaser]
      - [Profiles, profiles]
      - [Profiles Vertical, profiles-vertical]
      - [Profiles - Alternating Grid, alternating-grid]
      - [Profiles - Photo Grid, photo-grid]
      - [Program Listing, program-listing]
      - [Quicklinks, quicklinks]
      - [Social Media, social-media]
      - [Stat Sheet, stat-sheet]
      - [Subnav, subnav]
      - [Testimonials, testimonials]
      - [Testimonials Fancy, testimonials-fancy]
      - [Timeline, timeline]
      - [Twitter Widget, twitter-widget]
      - [Video Feature, video-feature]
      - [YouTube Playlist, youtube-playlist]
    include_blank: true
  - slot_10_custom:
    title: If custom, name of partial
  - slot_10_custom_label:
    title: Custom Label
  - slot_10_is_edit_mode_only:
    type: checkbox
    title: Edit Mode Only
  - slot_10_where_to_display:
    title: Where to display
    type: select
    options:
      - [As Full-Width Block, as_full_width_block]
    include_blank: false
    default: as_full_width_block
  - slot_10_is_main:
    type: checkbox
    title: Is Main
  - slot_10_align:
    type: select
    title: Slot 10 Alignment
    options:
      - [Left, left]
      - [Middle, middle]
      - [Right, right]
    include_blank: false
    default: left
  - slot_10_featurettes_id:
    title: Root Page ID
  - slot_10_limit:
    title: Slot 10 Limit
  - slot_10_is_random:
    type: checkbox
    title: Randomize?
  - slot_10_number:
    type: select
    title: Slot 10 Instance
    options:
      - [1, 1]
      - [2, 2]
      - [3, 3]
      - [4, 4]
      - [5, 5]
      - [6, 6]
      - [7, 7]
      - [8, 8]
      - [9, 9]
      - [10, 10]
    include_blank: false
    default: 1
  - slot_10_loop_by:
    type: select
    title: Slot 10 Loop By
    options:
      - [Sort Order, sort_order]
      - [Alternate Name, alternate_name]
      - [Content Updated At, content_updated_at]
      - [Created At, none]
      - [Slug, slug]
      - [Meta Description, meta_description]
      - [Name, name]
      - [Published At, published_at]
      - [Template Name, template_name]
      - [Updated At, updated_at]
    include_blank: false
    default: sort_order
  - slot_10_loop_labels_match:
    type: select
    title: Slot 10 Loop Labels Match
    options:
      - [All, all]
      - [Any, any]
      - [None, none]
    include_blank: false
    default: all
  - slot_10_loop_order:
    type: select
    title: Slot 10 Loop Order
    options:
      - [ASC, asc]
      - [DESC, desc]
    include_blank: false
    default: asc
  - slot_10_primary_heading:
    type: select
    title: Primary Heading
    options:
      - [Default, default]
      - [H1, h1]
      - [H2, h2]
    include_blank: false
    default: default
  - slot_10_gallery_loop_by:
    type: select
    title: Gallery Loop By
    options:
      - [Title, title]
      - [Filename, filename]
    default: title
  - slot_10_scope:
    type: checkbox
    title: Sitewide
  - slot_10_show_hidden:
    type: checkbox
    title: Show if Hidden
  - slot_10_removeSidebar:
    type: checkbox
    title: Remove Backpage Sidebar
  - slot_10_removeSubnav:
    type: checkbox
    title: Remove Backpage Subnav
  - slot_10_reverseItems:
    type: checkbox
    title: Reverse Items
---

<!-- This is for the Design System documentation site. You will never need to use this. -->

<section class="py-2 bg-light" aria-labelledby="shared-partial-id">
  <div class="container">
    <h2 id="shared-partial-id" class="h6 d-inline-block mb-0 small">Shared Partial Name:</h2> <code>wvu-{{ page.slug }}</code>
  </div>
</section>
<main id="wvu-main-content" class="pt-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 me-md-auto">
        <h2 class="h1 wvu-bar wvu-bar--bottom">When to Use</h2>
        <div class="lead">
          {% editable_region name: "when-to-use" %}
        </div>
      </div>
    </div>
  </div>

  {% assign numberOfExamples = page.data.number_of_examples | default: '1' %}

  {% for i in (1..numberOfExamples) %}

    {% assign slotNumber = i | minus: 1 %}
    {% assign codeDemoSlot = page.slots[slotNumber] | where: 'where_to_display', 'as_full_width_block' %}
    {% assign exampleNameRegionName = 'example-' | append: i | append: '__example-name' %}

    {% if edit_mode %}
      {% editable_region name: exampleNameRegionName type: 'simple' %}
    {% endif %}

    <div class="container">
      <h2 class="h6 text-uppercase text-wvu-accent--burnt-orange mt-4">Example{% if numberOfExamples > '1' %} {{ i }}{% endif %}{% if page.content[exampleNameRegionName] != blank %}: <span class="helvetica-neue-light text-dark">{{ page.content[exampleNameRegionName] }}</span>{% endif %}</h2>
    </div>

    <div class="renderedSlot bg-light p-4 border-top">
      <div class="bg-white shadow">
        {% if page.data.disableInput != '1' %}
          <div class="input-{{ i }} position-relative">
            {% render "utilities/wvu-slots" slots: codeDemoSlot %}
          </div>
        {% else %}
          <div class="position-relative">
            {% render "utilities/wvu-slots" slots: codeDemoSlot %}
          </div>
        {% endif %}
      </div>
    </div>

    <div class="bg-light border-top border-bottom">
      <a class="d-block py-2 text-center text-decoration-none text-uppercase helvetica-neue-bold" data-bs-toggle="collapse" href="#example-{{ i }}" role="button"
      aria-expanded="false" aria-controls="exampleA">
        View Code <span aria-hidden="true" class="fa-solid fa-angle-down"></span>
      </a>
    </div>
    <div id="example-{{ i }}" class="collapse bg-dark pb-4">
      <div class="container">
        <div class="text-center py-4">
          <a role="button" tabindex="0" class="btn btn-secondary btn-{{ i }}" data-clipboard-target="#foo-{{ i }}" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="top" data-bs-content="Copied!">Copy</a>
        </div>
        <pre><code class="prettyprint lang-html wvu-output output-{{ i }}" id="foo-{{ i }}"></code></pre>
      </div>
    </div>
  {% endfor %}
</main>

{% case page.slug %}
  {% when 'editable-region' or 'columns' or 'columns-2-1' or 'columns-1-2' or 'columns-2-1-1' %}
  {% else %}
    {% render "components/documentation-site/wvu-component-doc__content-model" %}
{% endcase %}

{% render "components/documentation-site/wvu-component-doc__shared-partial" %}

{% unless edit_mode %}
  {% content_for "page_js" %}
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
    {% link_javascript name: "vendor/clipboard/clipboard.min" %}
    <script>

      for (let i = 1; i <= {{ page.data.number_of_examples }}; i++) {
        var wrapper=$(".input-" + i).html();
        wrapper=wrapper.replace(/\n\s*\n/g, '');
        wrapper=wrapper.replace(/\n\s*/g, '');
        $(".output-" + i).html(wrapper);
      }

      for (let i = 1; i <= {{ page.data.number_of_examples }}; i++) {
        var str = document.querySelector('.output-' + i).innerHTML

        function process(str) {
          var div = document.createElement('div');
          div.innerHTML = str.trim();
          return format(div, 0).innerHTML;
        }

        function format(node, level) {
          var indentBefore = new Array(level++ + 1).join('  '),
              indentAfter  = new Array(level - 1).join('  '),
              textNode;
          for (var i = 0; i < node.children.length; i++) {
            textNode = document.createTextNode('\n' + indentBefore);
            node.insertBefore(textNode, node.children[i]);
            format(node.children[i], level);
            if (node.lastElementChild == node.children[i]) {
              textNode = document.createTextNode('\n' + indentAfter);
              node.appendChild(textNode);
            }
          }
          return node;
        }
        document.querySelector('.output-' + i).innerText = process(str);
        new ClipboardJS('.btn-' + i);
      }

      var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
      var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
        return new bootstrap.Popover(popoverTriggerEl)
      })

      var popover = new bootstrap.Popover(document.querySelector('.popover-dismiss'), {
        trigger: 'focus'
      })

    </script>

    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
  {% endcontent_for %}
{% endunless %}
