---
layout: default
custom_data_attributes:
  - slot_1:
    type: select
    title: Slot 1
    options:
      - [Action Hero, action-hero]
      - [Action Hero Banner, action-hero-banner]
      - [Action Hero Card, action-hero-card]
      - [Action Hero Split, action-hero-split]
      - [Action Hero Two Column, action-hero-two-column]
      - [Cards, cards]
      - [Cards w/Overlay, cards-w-overlay]
      - [Columns, columns]
      - [Columns 1-2, columns-1-2]
      - [Columns 2-1, columns-2-1]
      - [Columns 2-1-1, columns-2-1-1]
      - [Contact Collection, contact-collection]
      - [Editable Region, editable-region]
      - [Featurettes, featurettes]
      - [Featurettes Cards, featurettes-cards]
      - [Hero, hero]
      - [Lede Text, lede-text]
      - [Page Collection, page-collection]
      - [Page Collection - Icons, page-collection-icons]
      - [People Collection, people-collection]
      - [Profile Hero, profile-hero]
      - [Profile Hero w/Quote, profile-hero-w-quote]
      - [Profile Teaser, profile-teaser]
      - [Profiles, profiles]
      - [Profiles - Photo Grid, photo-grid]
      - [Quicklinks, quicklinks]
      - [Social Media, social-media]
    include_blank: true
  - slot_1_number:
    type: select
    title: Slot 1 Instance
    options:
      - [1, 1]
      - [2, 2]
      - [3, 3]
      - [4, 4]
      - [5, 5]
      - [6, 6]
      - [7, 7]
      - [8, 8]
      - [9, 9]
      - [10, 10]
    include_blank: false
    default: 1
  - slot_1_limit:
    title: Slot 1 Limit
  - slot_1_align:
    type: select
    title: Slot 1 Alignment
    options:
      - [Left, left]
      - [Middle, middle]
      - [Right, right]
    include_blank: false
    default: left
  - slot_1_order:
    title: Slot Order
    type: number
    default: 10
  - slot_1_custom:
    title: If custom, name of partial
  - slot_1_custom_label:
    title: Custom Label
  - slot_1_is_edit_mode_only:
    type: checkbox
    title: Edit Mode Only
  - slot_1_where_to_display:
    title: Where to display
    type: select
    options:
      - [As Full-Width Block, as_full_width_block]
    include_blank: false
    default: as_full_width_block
  - slot_1_is_main:
    type: checkbox
    title: Is Main
  - slot_1_featurettes_id:
    title: Root Page ID
  - slot_1_is_random:
    type: checkbox
    title: Randomize?
  - slot_1_loop_by:
    type: select
    title: Slot 1 Loop By
    options:
      - [Sort Order, sort_order]
      - [Alternate Name, alternate_name]
      - [Content Updated At, content_updated_at]
      - [Created At, none]
      - [Slug, slug]
      - [Meta Description, meta_description]
      - [Name, name]
      - [Published At, published_at]
      - [Template Name, template_name]
      - [Updated At, updated_at]
    include_blank: false
    default: sort_order
  - slot_1_loop_labels_match:
    type: select
    title: Slot 1 Loop Labels Match
    options:
      - [All, all]
      - [Any, any]
      - [None, none]
    include_blank: false
    default: all
  - slot_1_loop_order:
    type: select
    title: Slot 1 Loop Order
    options:
      - [ASC, asc]
      - [DESC, desc]
    include_blank: false
    default: asc
  - slot_1_primary_heading:
    type: select
    title: Primary Heading
    options:
      - [Default, default]
      - [H1, h1]
      - [H2, h2]
    include_blank: false
    default: default
  - slot_1_scope:
    type: checkbox
    title: Sitewide
  - slot_1_show_hidden:
    type: checkbox
    title: Show if Hidden
  - slot_1_reverseItems:
    type: checkbox
    title: Reverse Items
  - slot_2:
    type: select
    title: Slot 2
    options:
      - [Action Hero, action-hero]
      - [Action Hero Banner, action-hero-banner]
      - [Action Hero Card, action-hero-card]
      - [Action Hero Split, action-hero-split]
      - [Action Hero Two Column, action-hero-two-column]
      - [Cards, cards]
      - [Cards w/Overlay, cards-w-overlay]
      - [Columns, columns]
      - [Columns 1-2, columns-1-2]
      - [Columns 2-1, columns-2-1]
      - [Columns 2-1-1, columns-2-1-1]
      - [Contact Collection, contact-collection]
      - [Editable Region, editable-region]
      - [Featurettes, featurettes]
      - [Featurettes Cards, featurettes-cards]
      - [Hero, hero]
      - [Lede Text, lede-text]
      - [Page Collection, page-collection]
      - [Page Collection - Icons, page-collection-icons]
      - [People Collection, people-collection]
      - [Profile Hero, profile-hero]
      - [Profile Hero w/Quote, profile-hero-w-quote]
      - [Profile Teaser, profile-teaser]
      - [Profiles, profiles]
      - [Profiles - Photo Grid, photo-grid]
      - [Quicklinks, quicklinks]
      - [Social Media, social-media]
    include_blank: true
  - slot_2_number:
    type: select
    title: Slot 2 Instance
    options:
      - [1, 1]
      - [2, 2]
      - [3, 3]
      - [4, 4]
      - [5, 5]
      - [6, 6]
      - [7, 7]
      - [8, 8]
      - [9, 9]
      - [10, 10]
    include_blank: false
    default: 1
  - slot_2_limit:
    title: Slot 2 Limit
  - slot_2_align:
    type: select
    title: Slot 2 Alignment
    options:
      - [Left, left]
      - [Middle, middle]
      - [Right, right]
    include_blank: false
    default: left
  - slot_2_order:
    title: Slot Order
    type: number
    default: 20
  - slot_2_custom:
    title: If custom, name of partial
  - slot_2_custom_label:
    title: Custom Label
  - slot_2_is_edit_mode_only:
    type: checkbox
    title: Edit Mode Only
  - slot_2_where_to_display:
    title: Where to display
    type: select
    options:
      - [As Full-Width Block, as_full_width_block]
    include_blank: false
    default: as_full_width_block
  - slot_2_featurettes_id:
    title: Root Page ID
  - slot_2_is_random:
    type: checkbox
    title: Randomize?
  - slot_2_loop_by:
    type: select
    title: Slot 2 Loop By
    options:
      - [Sort Order, sort_order]
      - [Alternate Name, alternate_name]
      - [Content Updated At, content_updated_at]
      - [Created At, none]
      - [Slug, slug]
      - [Meta Description, meta_description]
      - [Name, name]
      - [Published At, published_at]
      - [Template Name, template_name]
      - [Updated At, updated_at]
    include_blank: false
    default: sort_order
  - slot_2_loop_labels_match:
    type: select
    title: Slot 2 Loop Labels Match
    options:
      - [All, all]
      - [Any, any]
      - [None, none]
    include_blank: false
    default: all
  - slot_2_loop_order:
    type: select
    title: Slot 2 Loop Order
    options:
      - [ASC, asc]
      - [DESC, desc]
    include_blank: false
    default: asc
  - slot_2_primary_heading:
    type: select
    title: Primary Heading
    options:
      - [Default, default]
      - [H1, h1]
      - [H2, h2]
    include_blank: false
    default: default
  - slot_2_scope:
    type: checkbox
    title: Sitewide
  - slot_2_show_hidden:
    type: checkbox
    title: Show if Hidden
  - slot_2_reverseItems:
    type: checkbox
    title: Reverse Items
  - slot_3:
    type: select
    title: Slot 3
    options:
      - [Action Hero, action-hero]
      - [Action Hero Banner, action-hero-banner]
      - [Action Hero Card, action-hero-card]
      - [Action Hero Split, action-hero-split]
      - [Action Hero Two Column, action-hero-two-column]
      - [Cards, cards]
      - [Cards w/Overlay, cards-w-overlay]
      - [Columns, columns]
      - [Columns 1-2, columns-1-2]
      - [Columns 2-1, columns-2-1]
      - [Columns 2-1-1, columns-2-1-1]
      - [Contact Collection, contact-collection]
      - [Editable Region, editable-region]
      - [Featurettes, featurettes]
      - [Featurettes Cards, featurettes-cards]
      - [Hero, hero]
      - [Lede Text, lede-text]
      - [Page Collection, page-collection]
      - [Page Collection - Icons, page-collection-icons]
      - [People Collection, people-collection]
      - [Profile Hero, profile-hero]
      - [Profile Hero w/Quote, profile-hero-w-quote]
      - [Profile Teaser, profile-teaser]
      - [Profiles, profiles]
      - [Profiles - Photo Grid, photo-grid]
      - [Quicklinks, quicklinks]
      - [Social Media, social-media]
    include_blank: true
  - slot_3_number:
    type: select
    title: Slot 3 Instance
    options:
      - [1, 1]
      - [2, 2]
      - [3, 3]
      - [4, 4]
      - [5, 5]
      - [6, 6]
      - [7, 7]
      - [8, 8]
      - [9, 9]
      - [10, 10]
    include_blank: false
    default: 1
  - slot_3_limit:
    title: Slot 3 Limit
  - slot_3_align:
    type: select
    title: Slot 3 Alignment
    options:
      - [Left, left]
      - [Middle, middle]
      - [Right, right]
    include_blank: false
    default: left
  - slot_3_order:
    title: Slot Order
    type: number
    default: 30
  - slot_3_custom:
    title: If custom, name of partial
  - slot_3_custom_label:
    title: Custom Label
  - slot_3_is_edit_mode_only:
    type: checkbox
    title: Edit Mode Only
  - slot_3_where_to_display:
    title: Where to display
    type: select
    options:
      - [As Full-Width Block, as_full_width_block]
    include_blank: false
    default: as_full_width_block
  - slot_3_featurettes_id:
    title: Root Page ID
  - slot_3_is_random:
    type: checkbox
    title: Randomize?
  - slot_3_loop_by:
    type: select
    title: Slot 3 Loop By
    options:
      - [Sort Order, sort_order]
      - [Alternate Name, alternate_name]
      - [Content Updated At, content_updated_at]
      - [Created At, none]
      - [Slug, slug]
      - [Meta Description, meta_description]
      - [Name, name]
      - [Published At, published_at]
      - [Template Name, template_name]
      - [Updated At, updated_at]
    include_blank: false
    default: sort_order
  - slot_3_loop_labels_match:
    type: select
    title: Slot 3 Loop Labels Match
    options:
      - [All, all]
      - [Any, any]
      - [None, none]
    include_blank: false
    default: all
  - slot_3_loop_order:
    type: select
    title: Slot 3 Loop Order
    options:
      - [ASC, asc]
      - [DESC, desc]
    include_blank: false
    default: asc
  - slot_3_primary_heading:
    type: select
    title: Primary Heading
    options:
      - [Default, default]
      - [H1, h1]
      - [H2, h2]
    include_blank: false
    default: default
  - slot_3_scope:
    type: checkbox
    title: Sitewide
  - slot_3_show_hidden:
    type: checkbox
    title: Show if Hidden
  - slot_3_reverseItems:
    type: checkbox
    title: Reverse Items
---

{% assign slots = page.slots | where: 'where_to_display', 'as_full_width_block' %}

{% render "utilities/wvu-slots" slots: slots %}
