---
layout: default
custom_data_attributes:
  - removeCalendarEvents:
    type: checkbox
    title: Remove Calendar Events
  - removePeopleCollection:
    type: checkbox
    title: Remove Speakers
  - showPeopleIfHidden:
    type: checkbox
    title: Show Speaker Even if Hidden
  - limit:
    title: Speaker Limit
  - alignHero:
    type: select
    title: Hero Alignment
    options:
      - [Left, left]
      - [Middle, middle]
      - [Right, right]
    include_blank: false
    default: left
---

{%- liquid
  assign componentShowPeopleIfHidden = page.data.showPeopleIfHidden | default: '0'
  assign compnentLimit = page.data.limit | default: 4
  assign alignHero = page.data.alignHero | default: 'left'
-%}

{% render "components/wvu-hero" number: 1, main: true, align: alignHero %}

{% if page.data.removeCalendarEvents != '1' %}
  {% render "components/wvu-calendar-events" number: 1 %}
{% endif %}

{% if page.data.removePeopleCollection != '1' %}
  {% render "components/wvu-people-collection" number: 1, limit: componentLimit, showHidden: showPeopleIfHidden %}
{% endif %}
