---
layout: default
custom_data_attributes:
  - custom_page_labels:
    title: Custom Labels for Page Collection
  - limit:
    title: Featured Pages Limit
  - removeFeaturedPages:
    type: checkbox
    title: Remove Featured Pages
  - removeCalendarEvents:
    type: checkbox
    title: Remove Calendar Events
  - removeQuicklinks:
    type: checkbox
    title: Remove Quicklinks
  - showFeaturedPagesIfHidden:
    type: checkbox
    title: Show Featured Pages if Hidden
  - alignHero:
    title: Hero Alignment
    type: select
    options:
      - [Left, left]
      - [Middle, middle]
      - [Right, right]
    include_blank: false
    default: left
---

{%- liquid
  assign featuredPagesLimit = page.data.limit | default: 4
  assign alignHero = page.data.alignHero | default: false
  assign customPageLabels = page.data.custom_page_labels | default: ""
-%}

{% render "components/wvu-hero" number: 1, main: true, align: alignHero, defaultComponentClasses: "bg-wvu-blue", defaultHeaderClasses: "iowan-old-style-black-italic" %}

{% if page.data.removeFeaturedPages != '1' %}
  {% render "components/wvu-page-collection" number: 1, limit: featuredPagesLimit, showHidden: componentShowFeaturedPagesIfHidden, customLabel: customPageLabels %}
{% endif %}

{% if page.data.removeCalendarEvents != '1' %}
  {% render "components/wvu-calendar-events" number: 1 %}
{% endif %}

{% if page.data.removeQuicklinks != '1' %}
  {% render "components/wvu-quicklinks" number: 1 %}
{% endif %}
