---
layout: default
custom_data_attributes:
  - removePageCollection:
    type: checkbox
    title: Remove Featured Pages
  - removeCalendarEvents:
    type: checkbox
    title: Remove Calendar Events
  - removeSocialMedia:
    type: checkbox
    title: Remove Social Media
  - removeTwitterWidget:
    type: checkbox
    title: Remove Twitter Widget
  - alignHero
    type: select
    title: Hero Alignment
    options:
      - [Left, left]
      - [Middle, middle]
      - [Right, right]
    include_blank: false
    default: left
---

{% assign alignHero = page.data.alignHero | default: 'left' %}

{% render "components/wvu-hero" number: 1, main: true, align: alignHero %}

{% if page.data.removePageCollection != '1' %}
  {% render "components/wvu-page-collection" number: 1 %}
{% endif %}

{% if page.data.removeCalendarEvents != '1' %}
  {% render "components/wvu-calendar-events" number: 1 %}
{% endif %}

{% if page.data.removeSocialMedia != '1' %}
  {% render "components/wvu-social-media" number: 1 %}
{% endif %}

{% if page.data.removeTwitterWidget != '1' %}
  {% render "components/wvu-twitter-widget" number: 1 %}
{% endif %}
