---
layout: default
custom_data_attributes:
  - showArticlesIfHidden:
    type: checkbox
    title: Show Featured Articles if Hidden
  - articleLimit:
    title: Article Limit
  - removePageCollection:
    type: checkbox
    title: Remove Categories
  - categoryLimit:
    title: Category Pages Limit
  - showPagesIfHidden:
    type: checkbox
    title: Show Featured Articles if Hidden
---

{% render "components/wvu-hero" number: 1, main: true %}

{% render "components/wvu-article-collection" number: 1, limit: articleLimit %}

{% if page.data.removePageCollection != '1' %}
  {% render "components/wvu-page-collection" number: 1, limit: categoryLimit %}
{% endif %}
