---
layout: default
custom_data_attributes:
  - showArticlesIfHidden:
    type: checkbox
    title: Show Featured Articles if Hidden
  - articleLimit:
    title: Article Limit
  - removePageCollection:
    type: checkbox
    title: Remove Colored Boxes
  - categoryLimit:
    title: Colored Boxes Page Limit
  - showPagesIfHidden:
    type: checkbox
    title: Show Featured Articles if Hidden
  - showColoredBoxesIfHidden:
    type: checkbox
    title: Show Colored Boxes if Hidden
  - alignHero:
    type: select
    title: Hero Alignment
    options:
      - [Left, left]
      - [Middle, middle]
      - [Right, right]
    include_blank: false
    default: left
  - disable_articles_author:
    type: checkbox
    title: Disable Author for Articles
---

{%- liquid
  assign articleLimit = page.data.articleLimit | default: 4
  assign categoryLimit = page.data.categoryLimit | default: 4
  assign alignHero = page.data.alignHero | default: 'left'
  assign disableAuthor = page.data.disable_articles_author | default: false
-%}

{% render "components/wvu-hero" number: 1, main: true, align: alignHero %}

{% render "components/wvu-article-collection" number: 1, limit: articleLimit, disableAuthor: disableAuthor, showHidden: showPagesIfHidden %}

{% if page.data.removePageCollection != '1' %}
  {% render "components/wvu-page-collection-colored-boxes" number: 1, limit: categoryLimit, showHidden: showColoredBoxesIfHidden %}
{% endif %}
