---
layout: default
custom_data_attributes:
  - removeColoredBoxes:
    type: checkbox
    title: Remove Colored Boxes
  - removeCalendarEvents:
    type: checkbox
    title: Remove Calendar Events
  - removeActionHero:
    type: checkbox
    title: Remove Action Hero
  - removeArticleCollection:
    type: checkbox
    title: Remove News
  - removePhotoGrid:
    type: checkbox
    title: Remove Profiles
  - removeQuicklinks:
    type: checkbox
    title: Remove Quicklinks
  - coloredBoxesLimit:
    title: Colored Boxes Limit
  - showBoxesIfHidden:
    type: checkbox
    title: Show Boxes if Pages are Hidden
  - articleLimit:
    title: Article Limit
  - showArticlesIfHidden:
    type: checkbox
    title: Show Articles if Hidden
  - disable_articles_author:
    type: checkbox
    title: Disable Author for Articles
  - alignHero:
    type: select
    title: Hero Alignment
    options:
      - [Left, left]
      - [Middle, middle]
      - [Right, right]
    include_blank: false
    default: left
---

{%- liquid
  assign componentShowBoxesIfHidden = page.data.showBoxesIfHidden | default: '0'
  assign componentShowArticlesIfHidden = page.data.showArticlesIfHidden | default: '0'
  assign alignHero = page.data.alignHero | default: 'left'
  assign articleLimit = page.data.articleLimit | default: 4
  assign coloredBoxesLimit = page.data.coloredBoxesLimit | default: 4
  assign disableAuthor = page.data.disable_articles_author | default: false
-%}

{% render "components/wvu-hero" number: 1, main: true, align: alignHero %}

{% if page.data.removeColoredBoxes != 1 %}
  {% render "components/wvu-page-collection-colored-boxes" number: 1, showHidden: componentShowBoxesIfHidden, limit: coloredBoxesLimit %}
{% endif %}

{% if page.data.removeCalendarEvents != 1 %}
  {% render "components/wvu-calendar-events" number: 1 %}
{% endif %}

{% if page.data.removeActionHero != 1 %}
  {% render "components/wvu-action-hero" number: 1 %}
{% endif %}

{% if page.data.removeArticleCollection != 1 %}
  {% render "components/wvu-article-collection" number: 1, showHidden: componentShowArticlesIfHidden, limit: articleLimit, disableAuthor: disableAuthor %}
{% endif %}

{% if page.data.removePhotoGrid != 1 %}
  {% render "components/wvu-photo-grid" number: 1, limit: 2 %}
{% endif %}

{% if page.data.removeQuicklinks != 1 %}
  {% render "components/wvu-quicklinks" number: 1 %}
{% endif %}
