---
layout: default
custom_data_attributes:
  - alternate_url:
    title: Alternate URL
  - article_has_hero:
    type: checkbox
    title: Show hero?
    default: checked
  - backpage_header:
    type: checkbox
    title: Remove header
    default: checked
  - article_has_hero:
    type: checkbox
    title: If blog article, show hero
  - article_index_hide_author:
    type: checkbox
    title: Hide blog index author?
  - breadcrumbs:
    type: checkbox
    title: Remove breadcrumbs
  - description:
    type: text
    rows: 6
    tile: Description
    required: false
    maxlength: 255
  - header_label:
    type: checkbox
    title: Show header label
  - header_subhead:
    type: checkbox
    title: Show header subhead
  - link_text:
    title: Link text
  - search_action:
    title: Search action
  - content_keys:
    title: Content Keys for Big Search
  - enable_keywords:
    type: checkbox
    title: Enable keywords?
  - thumbnail_alt:
    title: Thumbnail Alt Text
  - thumbnail_url:
    title: Thumnbail URL
  - thumbnail_url_sq:
    title: Thumnbail URL Square
  - slot_1:
    type: select
    title: Slot 1
    options:
      - [Audio, audio]
      - [Embed, embed]
      - [Full-Width Photo, full-width-photo]
      - [Photo Set, photo-set]
      - [Single Photo, single-photo]
      - [Quote, quote]
      - [Video, video]
    include_blank: false
    default: backpage
  - slot_1_order:
    title: Slot Order
    type: number
    default: 10
  - slot_1_custom:
    title: If custom, name of partial
  - slot_1_custom_label:
    title: Custom Label
  - slot_1_is_edit_mode_only:
    type: checkbox
    title: Edit Mode Only
  - slot_1_where_to_display:
    title: Where to display
    type: select
    options:
      - [As Full-Width Block, as_full_width_block]
    include_blank: false
    default: as_full_width_block
  - slot_1_align:
    type: select
    title: Slot 1 Alignment
    options:
      - [Left, left]
      - [Middle, middle]
      - [Right, right]
    include_blank: false
    default: left
  - slot_1_number:
    type: select
    title: Slot 1 Instance
    options:
      - [1, 1]
      - [2, 2]
      - [3, 3]
      - [4, 4]
      - [5, 5]
      - [6, 6]
      - [7, 7]
      - [8, 8]
      - [9, 9]
      - [10, 10]
    include_blank: false
    default: 1
  - slot_1_loop_labels_match:
    type: select
    title: Slot 1 Loop Labels Match
    options:
      - [All, all]
      - [Any, any]
      - [None, none]
    include_blank: false
    default: all
  - slot_1_primary_heading:
    type: select
    title: Primary Heading
    options:
      - [Default, default]
      - [H1, h1]
      - [H2, h2]
    include_blank: false
    default: default
  - slot_2:
    type: select
    title: Slot 2
    options:
      - [Audio, audio]
      - [Embed, embed]
      - [Full-Width Photo, full-width-photo]
      - [Photo Set, photo-set]
      - [Single Photo, single-photo]
      - [Quote, quote]
      - [Video, video]
    include_blank: true
  - slot_2_order:
    title: Slot Order
    type: number
    default: 100
  - slot_2_custom:
    title: If custom, name of partial
  - slot_2_custom_label:
    title: Custom Label
  - slot_2_is_edit_mode_only:
    type: checkbox
    title: Edit Mode Only
  - slot_2_where_to_display:
    title: Where to display
    type: select
    options:
      - [As Full-Width Block, as_full_width_block]
    include_blank: false
    default: as_full_width_block
  - slot_2_align:
    type: select
    title: Slot 2 Alignment
    options:
      - [Left, left]
      - [Middle, middle]
      - [Right, right]
    include_blank: false
    default: left
  - slot_2_number:
    type: select
    title: Slot 2 Instance
    options:
      - [1, 1]
      - [2, 2]
      - [3, 3]
      - [4, 4]
      - [5, 5]
      - [6, 6]
      - [7, 7]
      - [8, 8]
      - [9, 9]
      - [10, 10]
    include_blank: false
    default: 1
  - slot_2_loop_labels_match:
    type: select
    title: Slot 2 Loop Labels Match
    options:
      - [All, all]
      - [Any, any]
      - [None, none]
    include_blank: false
    default: all
  - slot_2_primary_heading:
    type: select
    title: Primary Heading
    options:
      - [Default, default]
      - [H1, h1]
      - [H2, h2]
      - [H3, h3]
    include_blank: false
    default: default
---

{% if page.data.article_has_hero == '1' %}
  {% render "components/wvu-article-hero-photo-essay", component: component, article: article %}
{% endif %}

{% assign slots = page.slots | where: 'where_to_display', 'as_full_width_block' %}

<main class="wvu-main-content iowan-old-style">
  {% render "utilities/wvu-slots-photo-essay" slots: slots %}
</main>

