---
layout: default
custom_data_attributes:
  - lat:
    title: Latitude
    placeholder: 39.6480359
  - long:
    title: Longitude
    placeholder: -79.9722896
  - include_video:
    type: checkbox
    title: Include Video Component
  - include_events:
    type: checkbox
    title: Include Events Component
  - include_gallery:
    type: checkbox
    title: Include Photo Gallery Component
---

{% render "components/wvu-place" number: 1, main: true %}

{% if page.data.include_video == '1' %}
  {% render "components/wvu-video-feature" number: 1 %}
{% endif %}

{% if page.data.include_events == '1' %}
  {% render "components/wvu-calendar-events" number: 1 %}
{% endif %}

{% if page.data.include_gallery == '1' %}
  {% render "components/wvu-photo-gallery" number: 1 %}
{% endif %}