{% if profileItem.template_name == 'student' %}
  {% if profileItem.content['wvu-profile-1__major'] != blank %}
    <p class="text-uppercase small helvetica-neue-light mb-0 text-white">
      {% if profileItem.content['wvu-profile-1__major'] != blank %}
        {{ profileItem.content['wvu-profile-1__major'] }}
      {% endif %}
    </p>
  {% endif %}
  {% if profileItem.content['wvu-profile-1__graduation-year'] != blank %}
    <p class="text-uppercase small helvetica-neue-light mb-0 text-white">
      {% if profileItem.content['wvu-profile-1__graduation-year'] != blank %}
        {{ profileItem.content['wvu-profile-1__graduation-year'] }}
      {% endif %}
    </p>
  {% endif %}
{% else %}
  {% if profileItem.content['wvu-profile-1__title'] != blank %}
    <p class="text-uppercase small helvetica-neue-light mb-0 text-white">
      {% if profileItem.content['wvu-profile-1__title'] != blank %}
        {{ profileItem.content['wvu-profile-1__title'] }}
      {% endif %}
    </p>
  {% endif %}
  {% if profileItem.content['wvu-profile-1__organization'] != blank %}
    <p class="text-uppercase small helvetica-neue-light mb-0 text-white">
      {% if profileItem.content['wvu-profile-1__organization'] != blank %}
        {{ profileItem.content['wvu-profile-1__organization'] }}
      {% endif %}
    </p>
  {% endif %}
{% endif %}
