{% if profileItem.template_name == 'student' %}
  {% if profileItem.content['wvu-profile-1__major'] != blank %}
    <p class="small helvetica-neue-light mb-0 text-white">
      <span class="text-uppercase">
        {% if profileItem.content['wvu-profile-1__major'] != blank %}
          {{ profileItem.content['wvu-profile-1__major'] }}
        {% endif %}
      </span>
    </p>
  {% endif %}
  {% if profileItem.content['wvu-profile-1__graduation-year'] != blank %}
    <p class="small helvetica-neue-light mb-0 text-white">
      <span class="text-uppercase">
        {% if profileItem.content['wvu-profile-1__graduation-year'] != blank %}
          {{ profileItem.content['wvu-profile-1__graduation-year'] }}
        {% endif %}
      </span>
    </p>
  {% endif %}
{% else %}
  {% if profileItem.content['wvu-profile-1__title'] != blank %}
    <p class="small helvetica-neue-light mb-0 text-white">
      <span class="text-uppercase">
        {% if profileItem.content['wvu-profile-1__title'] != blank %}
          {{ profileItem.content['wvu-profile-1__title'] }}
        {% endif %}
      </span>
    </p>
  {% endif %}
  {% if profileItem.content['wvu-profile-1__organization'] != blank %}
    <p class="small helvetica-neue-light mb-0 text-white">
      <span class="text-uppercase">
        {% if profileItem.content['wvu-profile-1__organization'] != blank %}
          {{ profileItem.content['wvu-profile-1__organization'] }}
        {% endif %}
      </span>
    </p>
  {% endif %}
{% endif %}
