{%- liquid
  assign rowClasses = page.content[component.region_names.rowClasses] | default: component.defaultRowClasses
  assign itemHeaderClasses = page.content[component.region_names.itemHeaderClasses] | default: component.defaultItemHeaderClasses
  assign itemBodyClasses = page.content[component.region_names.itemBodyClasses]
  assign defaultItemColors = "wvu-accent--burnt-orange,wvu-accent--blue,wvu-accent--brown,wvu-accent--green,wvu-accent--red,wvu-neutral--dark-gray"
  assign customItemColorsRegion = component.name | append: '__item-colors'
  assign customItemColors = page.content[customItemColorsRegion] | split: ','
  assign startPage = site | get_page: component.featurettesID
  assign root = startPage | default: site.root_page
  assign componentLabels = component.customLabel | default: component.itemLabels
  assign items = root.descendants | filter_pages: by: component.loopBy, sort: component.loopOrder, tags: componentLabels, tags_match: component.loopLabelsMatch, hidden: component.showHidden, random: component.random, limit: component.limit
  assign itemCount = 0
  assign i = 0

  if page.content[component.region_names.header] != blank
    assign htag = 'h3'
  else
    assign htag = 'h2'
  endif

  for items in items.all
    assign itemCount = itemCount | plus: 1
  endfor

  if items > component.limit
    assign itemCount = component.limit | times: 1
  endif

  if page.content[customItemColorsRegion] != blank
    assign itemColors = page.content[customItemColorsRegion] | split: ','
  else
    assign itemColors = defaultItemColors | split: ','
  endif
-%}

{% capture component_content %}
  <div class="wvu-z-index-content">
    <div class="wvu-z-index-content">

      {% if edit_mode or page.content[component.region_names.header] != blank %}
        <div class="container">
          {% if edit_mode %}<span class="d-inline-block badge bg-primary mb-1">Header</span>{% endif %}
          {% editable_region_block name: component.region_names.header scope: component.scope %}
            <h2 id="{{ component.name }}-label" class="display-3 wvu-shout text-wvu-blue">Page Collection Headline</h2>
            <p class="h3 helvetica-neue-light text-wvu-blue mb-3">Subhead goes here.</p>
          {% endeditable_region_block %}
        </div>
      {% endif %}

      {% if itemCount == 0 %}
        {% if edit_mode %}
          <div class="container my-3">
            {% render "includes/wvu-collection-warnings/wvu-collection-labels-warning--v1" component: component %}
          </div>
        {% endif %}
      {% else %}
        {%- capture itemClasses %}{% render "includes/wvu-column-classes/wvu-column-classes--v1" numberOfItems: itemCount component: component %}{% endcapture -%}
        {% assign itemClasses = itemClasses | strip %}
      {% endif %}

      {% capture loopContent %}

        {% for item in items.all %}

          {% liquid
            if item.data.alternate_url != blank
              assign link_href = item.data.alternate_url
            else
              assign link_href = item.url
            endif
          %}

          {% capture htag_id %}{{ item.slug }}-{{ component.name }}-{{ item.id }}{% endcapture %}
          {% if itemColors[i] != blank %}
            {% capture bgColorListItem %}bg-{{ itemColors[i] }}{% endcapture %}
          {% endif %}

          <div class="d-flex flex-column {{ page.content[component.region_names.itemClasses] | default: itemClasses }}">
            <div class="position-relative h-100 p-3 p-xl-4 text-white {{ bgColorListItem | default: 'bg-wvu-neutral--dark-gray' }}">
              <{{ htag }} class="card-title {{ itemHeaderClasses }}" id="{{ htag_id }}">
                <a class="{% unless edit_mode %}stretched-link{% endunless %} link-white text-decoration-none" href="{{ link_href }}">
                  {{ item.alternate_name | default: item.name }}
                </a>
              </{{ htag }}>
              {%- if item.data.description != blank %}
                <p class="{{ itemBodyClasses }} flex-grow-1">
                  {{ item.data.description }}
                </p>
              {% else %}
                {% render "includes/wvu-collection-warnings/wvu-collection-description-warning--v1" component: component, itemName: item.name %}
              {%- endif %}
              <div class="h1 mb-0">
                <span aria-hidden="true" class="fa-solid fa-arrow-circle-right"></span>
              </div>
            </div>
          </div>

          {% assign i = i | plus: 1 %}

        {% endfor %}
      {% endcapture %}

      <div class="container-fluid p-3">
        <div class="row {{ rowClasses }}">{{ loopContent }}</div>
      </div>

      {% if edit_mode or page.content[component.region_names.postscript] != blank %}
        <div class="container mt-3">
          {% if edit_mode %}<span class="d-inline-block badge bg-primary mb-1">Postscript</span>{% endif %}
          {% editable_region_block name: component.region_names.postscript scope: component.scope %}
            <p class="mb-0">Put additional info or <a href="#">links</a> here.</p>
          {% endeditable_region_block %}
        </div>
      {% endif %}
    </div>
  </div>
{% endcapture %}

{% render "utilities/wvu-component-tag/wvu-component-tag--v1" component: component, content: component_content %}
{% render "includes/wvu-component-footer/wvu-component-footer--v1" footerItemClasses: itemClasses component: component %}
