{%- liquid
  assign listClassesRegionName = 'wvu-CNAME__list-classes' | replace: 'CNAME', component.name
  assign listClasses = page.content[listClassesRegionName] | default: component.defaultListClasses
  assign latRegionName = 'wvu-CNAME__lat' | replace: 'CNAME', component.name
  assign longRegionName = 'wvu-CNAME__long' | replace: 'CNAME', component.name
  assign jsonUrlRegionName = 'wvu-CNAME__json-url' | replace: 'CNAME', component.name
  assign lat = page.content[latRegionName] | default: "39.6480359"
  assign long = page.content[longRegionName] | default: "-79.9722896"
  assign mapData = page.content[jsonUrlRegionName] | default: "/map-data.json"
  if component.primaryHeading == 'h1'
    assign htag = 'h1'
  elsif component.primaryHeading == 'h2'
    assign htag = 'h2'
  else
    assign htag = 'h2'
  endif
-%}

{% capture component_content %}
  <div id="lat" aria-hidden="true" class="visually-hidden">{{ lat | strip }}</div>
  <div id="long" aria-hidden="true" class="visually-hidden">{{ long | strip }}</div>
  <div id="dataSrc" aria-hidden="true" class="visually-hidden">{{ mapData | strip }}</div>
  <div class="container-fluid mx-0 px-0">
    <div class="row mx-0 px-0">
      <div class="col-md-4 col-xxl-3">
        <div class="px-3 px-lg-4 py-4 py-lg-5">
          {% if edit_mode %}
            <small class="wvu-z-index-content d-block mb-2 text-left text-muted p-1 bg-wvu-neutral--dark-gray bg-wvu-accent--blue-dark no-preview">Header classes:
              <div class="mb-0 text-white">{% editable_region name: component.region_names.headerClasses, type: "simple", scope: component.scope %}</div>
              {% comment %}<!-- Show the default classes in case the user forgets, or needs to revert back to the original styling. -->{% endcomment %}
              <strong class="text-muted">Default classes:</strong> <pre class="mb-0 text-muted">{{ component.defaultHeaderClasses }}</pre>
            </small>
          {% endif %}
          {% if edit_mode %}<span class="d-inline-block badge bg-primary mb-1 no-preview">Header</span>{% endif %}
          <{{ htag }} id="{{ component.name }}-label" class="{{ page.content[component.region_names.headerClasses] | default: component.defaultHeaderClasses }}">
            {% editable_region name: component.region_names.header, scope: component.scope, type: "simple", placeholder="Places" %}
          </{{ htag }}>
          {% if edit_mode %}
            <div class="my-3 p-2 alert alert-info">
              <h2 class="h5">Properties</h2>
              <p>Used to center map and define data source.</p>
              {% editable_region name: latRegionName type: "simple", scope: component.scope, placeholder="39.6480359" %}
              {% editable_region name: longRegionName type: "simple", scope: component.scope, placeholder="-79.9722896" %}
              <h3 class="h6">JSON URL</h3>
              {% editable_region name: jsonUrlRegionName type: "simple", scope: component.scope, placeholder="/map-data.json" %}
            </div>
          {% endif %}
          {% editable_region_block name: component.region_names.main scope: component.scope %}
            <p>Lorem ipsum.</p>
          {% endeditable_region_block %}
          {% if edit_mode %}
            <small class="wvu-z-index-content d-block mb-2 text-left text-muted p-1 bg-wvu-neutral--dark-gray bg-wvu-accent--blue-dark no-preview">List classes:
              <div class="mb-0 text-white">{% editable_region name: listClassesRegionName, type: "simple", scope: component.scope %}</div>
              {% comment %}<!-- Show the default classes in case the user forgets, or needs to revert back to the original styling. -->{% endcomment %}
              <strong class="text-muted">Default classes:</strong> <pre class="mb-0 text-muted">{{ component.defaultListClasses }}</pre>
            </small>
          {% endif %}
          <ul id="markers" class="{{ listClasses }} mb-0 mt-3"></ul>
          <div class="mt-3">
            {% editable_region_block name: component.region_names.postscript scope: component.scope %}
              <p>Lorem ipsum.</p>
            {% endeditable_region_block %}
          </div>
        </div>
      </div>
      <div class="col-md-8 col-xxl-9 pe-md-0 relative">
        <div id="map" class="h-100"></div>
      </div>
    </div>
  </div>
{% endcapture %}

{% render "utilities/wvu-component-tag/wvu-component-tag--v1" component: component, content: component_content %}
{% render "includes/wvu-component-footer/wvu-component-footer--v1" component: component %}

{% content_for "page_js" %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDzg4DjNPpQLIH3Z5DfGVPufpPwVaxeSZc&callback=Function.prototype"></script>
  <script defer>
    var map;
    var jsonSource = document.getElementById("dataSrc").innerText + "?=" + Math.floor(Math.random() * 100);
    var lat = document.getElementById("lat").innerText;
    var long = document.getElementById("long").innerText;
    var arrMarkers = [];
    var arrInfoWindows = [];

    function mapInit(){
      var centerCoord = new google.maps.LatLng(lat, long); // WVU Morgantown Campus 39.6480359, -79.9722896
      // start Center Map
      function HomeControl(controlDiv, map) {

        // Set CSS styles for the DIV containing the control
        // Setting padding to 5 px will offset the control
        // from the edge of the map.
        controlDiv.style.padding = '1px';

        // Set CSS for the control border.
        var controlUI = document.createElement('div');
        controlUI.style.backgroundColor = '#4c4d4f';
        controlUI.style.backgroundColor = '#4c4d4f';
        controlUI.style.opacity = '0.8';
        controlUI.style.color = '#f0ede4';
        controlUI.style.borderStyle = 'solid';
        controlUI.style.borderWidth = '2px';
        controlUI.style.cursor = 'pointer';
        controlUI.style.textAlign = 'center';
        controlUI.title = 'Reset the map to center';
        controlDiv.appendChild(controlUI);

        // Set CSS for the control interior.
        var controlText = document.createElement('div');
        controlText.style.fontFamily = 'Helvetica, Arial,sans-serif';
        controlText.style.fontSize = '0.75em';
        controlText.style.padding = '0.689em';
        controlText.innerHTML = 'Center Map';
        controlUI.appendChild(controlText);

        // Setup the click event listeners: simply set the map to center of WVU Tech.
        google.maps.event.addDomListener(controlUI, 'click', function() {
          map.setCenter(centerCoord);
        map.setZoom(16);
        });
      } // end Center Map

      var mapOptions = {
        zoom: 16,
        center: centerCoord,
        mapTypeId: google.maps.MapTypeId.ROADMAP,

        styles: [
          {
            featureType: "poi.business",
            elementType: "labels",
            stylers:
            [
              {
                visibility: "off"
              }
            ]
          }
        ]
      };

      map = new google.maps.Map(document.getElementById("map"), mapOptions);
      //start Center Map
      var homeControlDiv = document.createElement('div');
      var homeControl = new HomeControl(homeControlDiv, map);

      homeControlDiv.index = 1;
      map.controls[google.maps.ControlPosition.TOP].push(homeControlDiv);
      // end Center Map

      $.getJSON(jsonSource, {}, function(data){
          $.each(data.places, function(i, item){
          $("#markers").append('<li><a class="text-decoration-none" href="#map" rel="' + i + '">' + item.title + '</a></li>');
          var marker = new google.maps.Marker({
            position: new google.maps.LatLng(item.lat, item.lng),
            map: map,
            title: item.title
          });
          arrMarkers[i] = marker;
          var infowindow = new google.maps.InfoWindow({
            maxWidth: 300,
            content: "<div id='infoWindow'><h3>" + item.title +"</h3>" + item.img + "<p>" + item.description + "</p></div>"
          });
          arrInfoWindows[i] = infowindow;
          google.maps.event.addListener(marker, 'click', function() {
            //for(x=0; x < infowindow.length; x++){ infowindow[x].close(); }
            for(x=0; x < arrInfoWindows.length; x++){ arrInfoWindows[x].close(); }
            infowindow.open(map, marker);
          });
        });
      });
    }

    $(function(){
      // initialize map (create markers, infowindows and list)
      mapInit();

      // "live" bind click event
      $(document).on("click", "#markers a", function(){
        var i = $(this).attr("rel");
        // this next line closes all open infowindows before opening the selected one
        for(x=0; x < arrInfoWindows.length; x++){ arrInfoWindows[x].close(); }
        arrInfoWindows[i].open(map, arrMarkers[i]);
      });
    });
  </script>
{% endcontent_for %}
