{%- liquid
  assign listClassesRegionName = 'wvu-CNAME__list-classes' | replace: 'CNAME', component.name
  assign listClasses = page.content[listClassesRegionName] | default: component.defaultListClasses
  assign latRegionName = 'wvu-CNAME__lat' | replace: 'CNAME', component.name
  assign longRegionName = 'wvu-CNAME__long' | replace: 'CNAME', component.name
  assign zoomRegionName = 'wvu-CNAME__zoom' | replace: 'CNAME', component.name
  assign jsonUrlRegionName = 'wvu-CNAME__json-url' | replace: 'CNAME', component.name
  assign lat = page.content[latRegionName] | default: "39.6480359"
  assign long = page.content[longRegionName] | default: "-79.9722896"
  assign zoom = page.content[zoomRegionName] | default: "16"
  assign mapData = page.content[jsonUrlRegionName] | default: "/map-data.json"
  if component.primaryHeading == 'h1'
    assign htag = 'h1'
  elsif component.primaryHeading == 'h2'
    assign htag = 'h2'
  else
    assign htag = 'h2'
  endif
-%}

{% capture component_content %}
  <div class="d-none">
    <div id="js-lat">{{ lat | strip }}</div>
    <div id="js-long">{{ long | strip }}</div>
    <div id="js-zoom">{{ zoom | strip }}</div>
    <div id="js-dataSrc">{{ mapData | strip }}</div>
  </div>
  <div class="container-fluid mx-0 px-0">
    <div class="row mx-0 px-0">
      <div class="col-md-4 col-xxl-3">
        <div class="row justify-content-center">
          <div class="col-xxl-11 mx-xxl-auto">
            <div class="px-3 px-lg-4 py-4 py-lg-5">
              {% if edit_mode %}
                <div class="my-3 p-2 alert alert-info small no-preview">
                  <h2 class="h5 mb-1">Properties</h2>
                  <p>Used to center map and define data source.</p>
                  {% editable_region name: latRegionName type: "simple", scope: component.scope, placeholder="39.6480359" %}
                  {% editable_region name: longRegionName type: "simple", scope: component.scope, placeholder="-79.9722896" %}
                  <h3 class="h6 mb-1 mt-2">Zoom Level</h3>
                  {% editable_region name: zoomRegionName type: "simple", scope: component.scope, placeholder="16" %}
                  <h3 class="h6 mb-1 mt-2">JSON URL</h3>
                  {% editable_region name: jsonUrlRegionName type: "simple", scope: component.scope, placeholder="/map-data.json" %}
                </div>
                <small class="wvu-z-index-content d-block mb-2 text-left text-muted p-1 bg-wvu-neutral--dark-gray bg-wvu-accent--blue-dark no-preview">Header classes:
                  <div class="mb-0 text-white">{% editable_region name: component.region_names.headerClasses, type: "simple", scope: component.scope %}</div>
                  {% comment %}<!-- Show the default classes in case the user forgets, or needs to revert back to the original styling. -->{% endcomment %}
                  <strong class="text-muted">Default classes:</strong> <pre class="mb-0 text-muted">{{ component.defaultHeaderClasses }}</pre>
                </small>
              {% endif %}
              {% if edit_mode %}<span class="d-inline-block badge bg-primary mb-1 no-preview">Header</span>{% endif %}
              <{{ htag }} id="{{ component.name }}-label" class="{{ page.content[component.region_names.headerClasses] | default: component.defaultHeaderClasses }}">
                {% editable_region name: component.region_names.header, scope: component.scope, type: "simple", placeholder="Places" %}
              </{{ htag }}>
              {% editable_region_block name: component.region_names.main scope: component.scope %}
                <p>Lorem ipsum.</p>
              {% endeditable_region_block %}
              {% if edit_mode %}
                <div class="alert alert-info p-2 small mt-2">
                  <p class="mb-0"><strong>Note:</strong> Map locations and markers will only populate on the live, published web page, not in Edit Mode.</p>
                </div>
                <small class="wvu-z-index-content d-block mt-2 text-left text-muted p-1 bg-wvu-neutral--dark-gray bg-wvu-accent--blue-dark no-preview">List classes:
                  <div class="mb-0 text-white">{% editable_region name: listClassesRegionName, type: "simple", scope: component.scope %}</div>
                  {% comment %}<!-- Show the default classes in case the user forgets, or needs to revert back to the original styling. -->{% endcomment %}
                  <strong class="text-muted">Default classes:</strong> <pre class="mb-0 text-muted">{{ component.defaultListClasses }}</pre>
                </small>
              {% endif %}
              <ul id="js-markers" class="{{ listClasses }} mb-0 mt-3"></ul>
              <div class="mt-3">
                {% editable_region_block name: component.region_names.postscript scope: component.scope %}
                  <p>Lorem ipsum.</p>
                {% endeditable_region_block %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="map-container" class="col-md-8 col-xxl-9 pe-md-0 relative">
        <div id="js-map" class="h-100"></div>
      </div>
    </div>
  </div>
{% endcapture %}

{% render "utilities/wvu-component-tag/wvu-component-tag--v1" component: component, content: component_content %}
{% render "includes/wvu-component-footer/wvu-component-footer--v1" component: component %}

{% content_for "header_extras" %}
  <style>
    @media(max-width: 768px) {
      #map-container {
        min-height: 600px;
      }
    }
  </style>
{% endcontent_for %}

{% content_for "page_js" %}
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDzg4DjNPpQLIH3Z5DfGVPufpPwVaxeSZc&callback=Function.prototype"></script>
  <script defer>
    /* global crypto google fetch */
    const googleMap = (() => {
      'use strict';

      //
      // Variables
      //

      const getJsonSource = `${document.querySelector('#js-dataSrc')?.innerText}?=${crypto.randomUUID()}`;
      const getLat = document.querySelector('#js-lat')?.innerText;
      const getLong = document.querySelector('#js-long')?.innerText;
      const getMarkersEl = document.querySelector('#js-markers');
      const getMapEl = document.querySelector('#js-map');
      const getZoomEl = document.querySelector('#js-zoom');
      const zoomLevel = Number(getZoomEl?.innerText);
      const centerCoord = new google.maps.LatLng(getLat, getLong);
      const arrMarkers = [];
      const arrInfoWindows = [];
      let map;

      const mapOptions = {
        zoom: zoomLevel,
        center: centerCoord,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        styles: [
          {
            featureType: 'poi.business',
            elementType: 'labels',
            stylers: [
              {
                visibility: 'off'
              }
            ]
          }
        ]
      };

      //
      // Methods
      //

      // Fetch JSON:
      const fetchData = async (source) => {
        try {
          const response = await fetch(source);
          if (!response.ok) {
            throw new Error('Network response was not OK.');
          }
          return response.json();
        } catch (error) {
          console.error('Error fetching JSON:', error);
          renderFetchError(error);
        }
      };

      // Render fetch errors to the UI:
      const renderFetchError = (error) => {
        const liError = document.createElement('li');
        liError.innerText = `${error} Please contact the site administrator about this issue and include this URL.`;
        getMarkersEl.appendChild(liError);
      };

      // Render an error to the UI and console if a DOM element doesn't exist as it should:
      const renderDomError = () => {
        const liError = document.createElement('li');
        liError.innerText = 'One of the required HTML elements for this map is missing. Please contact the site administrator about this issue and include this URL.';
        getMarkersEl.appendChild(liError);
        console.error('Missing DOM element: check that each DOM node we\'re looking for via querySelector exists and that the selectors actually match what we\'re looking for.');
      };

      // Render an error to the UI and console if there's no places in the JSON data:
      const renderNoPlacesError = () => {
        const liError = document.createElement('li');
        liError.innerText = 'No places have been added to this map. Please contact the site administrator about this issue and include this URL.';
        getMarkersEl.appendChild(liError);
        console.warn('Missing child pages: add child pages that use the \'Place\' template underneath this page. This makes markers show up on the map. Be sure to fill out each page\'s Custom Data. Right now, there\'s no data in the places array; hence, the blank map.');
      };

      // Render `<li>`s to the left side of the map:
      const renderPlacesList = (item, index) => {
        const listItem = document.createElement('li');
        listItem.innerHTML = `<button type="button" class="marker__btn btn-link bg-transparent border-0" data-index="${index}"></button>`;
        listItem.firstChild.innerText = item.title;
        getMarkersEl.appendChild(listItem);
      };

      // Render map markers (pins) and infoWindows:
      const renderMapItems = (data, map) => {
        // If no places exist, notify user:
        if (!data?.places?.length) {
          return renderNoPlacesError();
        }

        // Render places and infoWindows:
        data.places.forEach((item, i) => {
          renderPlacesList(item, i);

          const marker = new google.maps.Marker({
            position: new google.maps.LatLng(item.lat, item.lng),
            map: map,
            title: item.title
          });
          arrMarkers[i] = marker;

          const infoWindow = new google.maps.InfoWindow({
            maxWidth: 300,
            content: `
              <div id="infoWindow" class="text-dark">
                <h3 class="infoWindow__h3 mb-0">${item.title}</h3>
                <div class="infoWindow__image">${item.img}</div>
                <div class="infoWindow__address">${item.address}</div>
                <div class="infoWindow__description">${item.description}</div>
                <div class="infoWindow__url">${item.url}</div>
              </div>
            `
          });
          arrInfoWindows[i] = infoWindow;

          // If an infoWindow is already open on the map, close it when opening a different infoWindow:
          google.maps.event.addListener(marker, 'click', () => {
            arrInfoWindows.forEach(infoWindow => {
              infoWindow.close();
            });
            infoWindow.open(map, marker);
          });
        });
      };

      const infoWindowState = (map, markers) => {
        markers.addEventListener('click', (event) => {
          if (!event.target.matches('#js-markers button')) return;
          const i = event.target.getAttribute('data-index');

          // Close all open infoWindows before opening the selected one:
          arrInfoWindows.forEach(infoWindow => {
            infoWindow.close();
          });
          arrInfoWindows[i].open(map, arrMarkers[i]);
        }, false);
      };

      //
      // Classes
      //

      // Center map button creator class:
      class HomeControl {
        constructor (controlDiv, map) {
          controlDiv.style.padding = '1px';

          const controlUI = document.createElement('button');
          controlUI.type = 'button';
          controlUI.id = 'js-center-map';
          controlUI.classList.add('btn', 'btn-white', 'btn-sm', 'mt-1');
          controlUI.title = 'Reset the map to center';
          controlUI.innerText = 'Center Map';
          controlDiv.appendChild(controlUI);

          document.addEventListener('click', (event) => {
            if (!event.target.matches('#js-center-map')) return;
            map.setCenter(centerCoord);
            map.setZoom(zoomLevel);
          }, false);
        }
      }

      //
      // Inits
      //

      const mapInit = async () => {
        map = new google.maps.Map(getMapEl, mapOptions);

        const homeControlDiv = document.createElement('div');
        const centerMap = new HomeControl(homeControlDiv, map);
        map.controls[google.maps.ControlPosition.TOP].push(homeControlDiv);

        const data = await fetchData(getJsonSource);
        renderMapItems(data, map);
        infoWindowState(map, getMarkersEl);
      };

      // Variable guards:
      if (!getJsonSource || !getLat || !getLong || !getMarkersEl || !getMapEl || !getZoomEl) {
        return renderDomError();
      }

      // Start the party:
      mapInit();
    })();
  </script>
{% endcontent_for %}
