{%- liquid
  assign listClassesRegionName = 'wvu-CNAME__list-classes' | replace: 'CNAME', component.name
  assign listClasses = page.content[listClassesRegionName] | default: component.defaultListClasses
  assign latRegionName = 'wvu-CNAME__lat' | replace: 'CNAME', component.name
  assign longRegionName = 'wvu-CNAME__long' | replace: 'CNAME', component.name
  assign zoomRegionName = 'wvu-CNAME__zoom' | replace: 'CNAME', component.name
  assign zoomSwitchRegionName = 'wvu-CNAME__zoom-switch' | replace: 'CNAME', component.name
  assign jsonUrlRegionName = 'wvu-CNAME__json-url' | replace: 'CNAME', component.name
  assign lat = page.content[latRegionName] | default: "39.6480359"
  assign long = page.content[longRegionName] | default: "-79.9722896"
  assign zoom = page.content[zoomRegionName] | default: "16"
  assign zoomSwitch = page.content[zoomSwitchRegionName] | default: "16"
  assign mapData = page.content[jsonUrlRegionName] | default: "/map-data.json"
  if component.primaryHeading == 'h1'
    assign htag = 'h1'
  elsif component.primaryHeading == 'h2'
    assign htag = 'h2'
  else
    assign htag = 'h2'
  endif
-%}

{% capture component_content %}
  <div class="d-none">
    <div id="js-lat">{{ lat | strip }}</div>
    <div id="js-long">{{ long | strip }}</div>
    <div id="js-zoom">{{ zoom | strip }}</div>
    <div id="js-zoom-switch">{{ zoomSwitch | strip }}</div>
    <div id="js-dataSrc">{{ mapData | strip }}</div>
  </div>
  <div class="container-fluid mx-0 px-0">
    <div class="row mx-0 px-0">
      <div class="col-md-4 col-xxl-3">
        <div class="row justify-content-center">
          <div class="col-xxl-11 mx-xxl-auto">
            <div class="px-3 px-lg-4 py-4 py-lg-5">
              {% if edit_mode %}
                <div class="my-3 p-2 alert alert-info small no-preview">
                  <h2 class="h5 mb-1">Properties</h2>
                  <p>Used to center map and define data source.</p>
                  {% editable_region name: latRegionName type: "simple", scope: component.scope, placeholder="39.6480359" %}
                  {% editable_region name: longRegionName type: "simple", scope: component.scope, placeholder="-79.9722896" %}
                  <h3 class="h6 mb-1 mt-2">Zoom Level</h3>
                  {% editable_region name: zoomRegionName type: "simple", scope: component.scope, placeholder="16" %}
                  <h3 class="h6 mb-1 mt-2">Zoom Level When Switching Locations</h3>
                  {% editable_region name: zoomSwitchRegionName type: "simple", scope: component.scope, placeholder="16" %}
                  <h3 class="h6 mb-1 mt-2">JSON URL</h3>
                  {% editable_region name: jsonUrlRegionName type: "simple", scope: component.scope, placeholder="/map-data.json" %}
                </div>
                <small class="wvu-z-index-content d-block mb-2 text-left text-muted p-1 bg-wvu-neutral--dark-gray bg-wvu-accent--blue-dark no-preview">Header classes:
                  <div class="mb-0 text-white">{% editable_region name: component.region_names.headerClasses, type: "simple", scope: component.scope %}</div>
                  {% comment %}<!-- Show the default classes in case the user forgets, or needs to revert back to the original styling. -->{% endcomment %}
                  <strong class="text-muted">Default classes:</strong> <pre class="mb-0 text-muted">{{ component.defaultHeaderClasses }}</pre>
                </small>
              {% endif %}
              {% if edit_mode %}<span class="d-inline-block badge bg-primary mb-1 no-preview">Header</span>{% endif %}
              <{{ htag }} id="{{ component.name }}-label" class="{{ page.content[component.region_names.headerClasses] | default: component.defaultHeaderClasses }}">
                {% editable_region name: component.region_names.header, scope: component.scope, type: "simple", placeholder="Places" %}
              </{{ htag }}>
              {% editable_region_block name: component.region_names.main scope: component.scope %}
                <p>Lorem ipsum.</p>
              {% endeditable_region_block %}
              {% if edit_mode %}
                <div class="alert alert-info p-2 small mt-2">
                  <p class="mb-0"><strong>Note:</strong> Map locations and markers will only populate on the live, published web page, not in Edit Mode.</p>
                </div>
                <small class="wvu-z-index-content d-block mt-2 text-left text-muted p-1 bg-wvu-neutral--dark-gray bg-wvu-accent--blue-dark no-preview">List classes:
                  <div class="mb-0 text-white">{% editable_region name: listClassesRegionName, type: "simple", scope: component.scope %}</div>
                  {% comment %}<!-- Show the default classes in case the user forgets, or needs to revert back to the original styling. -->{% endcomment %}
                  <strong class="text-muted">Default classes:</strong> <pre class="mb-0 text-muted">{{ component.defaultListClasses }}</pre>
                </small>
              {% endif %}
              <div class="d-none d-md-block">
                <ul id="js-markers" class="{{ listClasses }} mb-0 mt-3"></ul>
              </div>
              {% if edit_mode or page.content[component.region_names.postscript] != blank %}
                <div class="mt-3">
                  {% editable_region_block name: component.region_names.postscript scope: component.scope %}
                    <p>Lorem ipsum.</p>
                  {% endeditable_region_block %}
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      <div id="map-container" class="col-md-8 col-xxl-9 pe-md-0 relative sticky-top mb-4 mb-md-0" style="max-height: 100vh;">
        <div id="js-map" class="h-100"></div>
      </div>
    </div>
  </div>
{% endcapture %}

{% render "utilities/wvu-component-tag/wvu-component-tag--v1" component: component, content: component_content %}
{% render "includes/wvu-component-footer/wvu-component-footer--v1" component: component %}

{% content_for "header_extras" %}
  <style>
    @media(max-width: 768px) {
      #map-container {
        max-height: 100vh;
        min-height: 600px;
      }
    }
  </style>
{% endcontent_for %}

{% content_for "page_js" %}
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDzg4DjNPpQLIH3Z5DfGVPufpPwVaxeSZc&callback=Function.prototype"></script>
  {% link_javascript name: "google-map--v1", defer: true %}
{% endcontent_for %}
