{%- liquid
  assign headerClasses = page.content[component.region_names.headerClasses] | default: component.defaultHeaderClasses

  if component.primaryHeading == 'h1'
    assign htag = 'h1'
  elsif component.primaryHeading == 'h2'
    assign htag = 'h2'
  else
    assign htag = 'h2'
  endif
-%}

{% capture component_content %}
  <div class="position-relative p-4 m-n4 wvu-bg-topo-dark">
    <div class="wvu-bg-size-cover position-relative {{ component.classes | strip }}" {{ component.bgTag | background_styler: format: 'webp' }}>
      <div class="container wvu-z-index-content">
        {% capture block_content %}
          <div class="col col-md-7 col-lg-5 py-6 px-4 px-xl-5 my-n4 bg-wvu-neutral--black">
            {% if edit_mode %}
              <small class="wvu-z-index-content d-block mb-2 text-left text-muted p-1 bg-wvu-neutral--dark-gray bg-wvu-accent--blue-dark no-preview">Header classes (default: {{ component.defaultHeaderClasses }}):
                <div class="mb-1 px-1 text-white">{% editable_region name: component.region_names.headerClasses, type: "simple", scope: component.scope %}</div>
              </small>
              {% comment %}<!-- This is just a label for the editable region that follows in order to make it clear to content editors what the region is for (in case they delete content and forget). -->{% endcomment %}
              <span class="d-inline-block badge bg-primary mb-1 no-preview">Header</span>
            {% endif %}
            <{{ htag }} id="{{ component.name }}-label" class="{{ headerClasses }}">
              {% editable_region name: component.region_names.header, scope: component.scope, type: "simple", placeholder="It Starts Now" %}
            </{{ htag }}>
            {% editable_region_block name: component.region_names.main, scope: component.scope %}
              <p class="lead pb-2 text-white">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
              <a class="btn btn-outline-white" href="#">Call to Action</a>
            {% endeditable_region_block %}
          </div>
        {% endcapture %}

        {% case component.align %}
          {% when 'right' %}<div class="row justify-content-end">{{ block_content }}</div>
          {% when 'middle' %}<div class="row justify-content-center">{{ block_content }}</div>
          {% else %}<div class="row justify-content-start">{{ block_content }}</div>
        {% endcase %}
      </div>
    </div>
  </div>
{% endcapture %}

{% render "utilities/wvu-component-tag/wvu-component-tag--v1" component: component, content: component_content %}
{% render "includes/wvu-component-footer/wvu-component-footer--v1" component: component %}
