{%- liquid
  assign sidebarNumber = component.number
  assign numberOfTabsRegionName = component.name | append: '__number-of-tabs'
-%}

{% capture component_content %}
  <div class="container wvu-z-index-content">
    <div class="row">
      {% if page.data.ifBackpageRemoveSidebar != '1' %}
        {% if component.removeSidebar != '1' and component.align == 'right' %}
          {% render "components/wvu-sidebar" component: component %}
        {% endif %}
      {% endif %}
      <div class="col-md-8">
        {% if edit_mode %}<span class="d-inline-block badge bg-primary mb-1">Main Content</span>{% endif %}
        {% editable_region_block name: component.region_names.main, scope: component.scope %}
          <p class="lead mb-3 mt-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
        {% endeditable_region_block %}
        {% if edit_mode %}
          <div class="alert alert-info my-4">
            <p>Enter the number of accordion tabs you want, then save and refresh the page:</p>
            {% editable_region name: numberOfTabsRegionName, type: "simple" scope: component.scope %}
          </div>
        {% endif %}
        {% assign numberOfTabs = page.content[numberOfTabsRegionName] %}
        {% assign i = 1 %}
        <div class="accordion my-4" id="accordionExample">
          {% for item in (1..numberOfTabs) %}
            {% assign accordionLabelRegionName = component.name | append: '__accordion-label-' | append: i %}
            {% assign accordionPanelRegionName = component.name | append: '__accordion-panel-' | append: i %}
            <div class="accordion-item">
              <h3 class="accordion-header" id="heading-{{ i }}">
                <button class="accordion-button collapsed wvu-shout text-wvu-blue fs-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ i }}" aria-expanded="false" aria-controls="collapse-{{ i }}">
                  {% editable_region_block name: accordionLabelRegionName type: "Simple" %}Label {{ i }}{% endeditable_region_block %}
                </button>
              </h3>
              <div id="collapse-{{ i }}" class="accordion-collapse collapse" aria-labelledby="heading-{{ i }}" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  {% editable_region_block name: accordionPanelRegionName %}
                    <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                  {% endeditable_region_block %}
                </div>
              </div>
            </div>
            {% assign i = i | plus: 1 %}
          {% endfor %}
        </div>
        {% editable_region name: component.region_names.postscript, scope: component.scope %}
      </div>
      {% if page.data.ifBackpageRemoveSidebar != '1' %}
        {% if component.removeSidebar != '1' and component.align != 'right' %}
          {% render "components/wvu-sidebar" component: component, number: sidebarNumber %}
        {% endif %}
      {% endif %}
    </div>
  </div>
{% endcapture %}

{% render "utilities/wvu-component-tag/wvu-component-tag--v1" component: component, content: component_content %}
{% render "includes/wvu-component-footer/wvu-component-footer--v1" component: component %}
