{%- liquid
  assign iconClassesRegionName = component.name | append: '__icon-classes'
  assign rowClasses = page.content[component.region_names.rowClasses] | default: component.defaultRowClasses
  assign iconClasses = page.content[iconClassesRegionName] | default: component.defaultIconClasses
  assign itemHeaderClasses = page.content[component.region_names.itemHeaderClasses] | default: component.defaultItemHeaderClasses
  assign itemBodyClasses = page.content[component.region_names.itemBodyClasses]
  assign itemButtonClasses = page.content[component.region_names.itemButtonClasses] | default: component.defaultItemButtonClasses
  assign itemReadMoreButtonText = page.content[component.region_names.readMoreButtonText] | default: component.defaultItemButtonText
  assign startPage = site | get_page: component.featurettesID
  assign root = startPage | default: site.root_page
  assign componentLabels = component.customLabel | default: component.itemLabels
  assign items = root.descendants | filter_pages: by: component.loopBy, sort: component.loopOrder, tags: componentLabels, tags_match: component.loopLabelsMatch, hidden: component.showHidden, random: component.random, limit: component.limit
  assign itemCount = 0

  assign componentLoopBy = component.loopBy
  
  case componentLoopBy
    when "published_at" or "created_at" or "updated_at"
      assign sortedItems = items | sort: componentLoopBy | reverse
    else
      assign sortedItems = items | sort: componentLoopBy
  endcase

  if component.loopOrder == "desc"
    assign sortedItems = sortedItems | reverse
  endif

  if page.content[component.region_names.header] != blank
    assign htag = 'h3'
  else
    assign htag = 'h2'
  endif

  for items in items.all
    assign itemCount = itemCount | plus: 1
  endfor

  if items > component.limit
    assign itemCount = component.limit | times: 1
  endif
-%}

{% capture component_content %}
  <div class="wvu-z-index-content">
    <div class="container wvu-z-index-content">

      {% if edit_mode or page.content[component.region_names.header] != blank %}
        {% if edit_mode %}<span class="d-inline-block badge bg-primary mb-1 no-preview">Header</span>{% endif %}
        {% editable_region_block name: component.region_names.header scope: component.scope %}
          <h2 id="{{ component.name }}-label" class="display-3 wvu-shout text-wvu-blue">Page Collection Headline</h2>
          <p class="h3 helvetica-neue-light text-wvu-blue mb-4">Subhead goes here.</p>
        {% endeditable_region_block %}
      {% endif %}

      {% if itemCount == 0 %}
        {% render "includes/wvu-collection-warnings/wvu-collection-labels-warning--v1" component: component %}
      {% else %}
        {%- capture itemClasses %}{% render "includes/wvu-column-classes/wvu-column-classes--v1" numberOfItems: itemCount component: component %}{% endcapture -%}
        {% assign itemClasses = itemClasses | strip %}
        {% render "includes/wvu-collection-warnings/wvu-collection-labels-label-tooltip--v1" component: component %}
      {% endif %}

      {% capture loopContent %}

        {% for item in sortedItems limit: component.limit %}

          {% liquid
            if item.data.alternate_url != blank
              assign link_href = item.data.alternate_url
            else
              assign link_href = item.url
            endif
          %}

          {% capture htag_id %}{{ item.slug }}-{{ component.name }}-{{ item.id }}{% endcapture %}

          <div class="{{ page.content[component.region_names.itemClasses] | default: itemClasses }} position-relative">
            {% if item.data.icon_code != blank %}
              <div class="mb-2 d-flex justify-items-center">
                <div class="{{ iconClasses }} h1 rounded-circle p-4 d-flex mx-auto align-items-center justify-content-center {{ iconClasses }}">
                  <span class="{{ item.data.icon_code }} position-absolute" aria-hidden="true"></span>
                </div>
              </div>
            {% endif %}

            <{{ htag }} class="card-title mb-0" id="{{ htag_id }}">
              <a title="{% if itemReadMoreButtonText != 'none' %}{{ itemReadMoreButtonText }}: {% endif %}{{ item.name }}" class="{{ itemHeaderClasses }}" {% if item.link_target != blank %}target="{{ item.link_target }}"{% endif %} href="{{ link_href }}">
                {{ item.alternate_name | default: item.name }}
              </a>
            </{{ htag }}>
            {%- if item.data.description != blank %}
              <p class="{{ itemBodyClasses }}">
                {{ item.data.description }}
              </p>
            {% else %}
              {% render "includes/wvu-collection-warnings/wvu-collection-description-warning--v1" component: component, itemName: item.name %}
            {%- endif %}

            {% if itemReadMoreButtonText != 'none' %}
              {% if item.data.link_text != blank %}
                {% assign link_text = item.data.link_text %}
              {% else %}
                {% capture link_text %}{{ itemReadMoreButtonText }}<span class="visually-hidden">: {{ item.name }}</span>{% endcapture %}
              {% endif %}
              <a class="{{ itemButtonClasses }} stretched-link" {% if item.link_target != blank %}target="{{ item.link_target }}"{% endif %} href="{{ link_href }}">{{ link_text }}</a>
            {% endif %}
          </div>
        {% endfor %}
      {% endcapture %}

      <div class="row {{ rowClasses }}">{{ loopContent }}</div>

      {% if edit_mode or page.content[component.region_names.postscript] != blank %}
        <div class="mt-2">
          {% if edit_mode %}<span class="d-inline-block badge bg-primary mb-1 no-preview">Postscript</span>{% endif %}
          {% editable_region_block name: component.region_names.postscript scope: component.scope %}
            <p class="mb-0">Put additional info or <a href="#">links</a> here.</p>
          {% endeditable_region_block %}
        </div>
      {% endif %}
    </div>
  </div>
{% endcapture %}

{% render "utilities/wvu-component-tag/wvu-component-tag--v1" component: component, content: component_content %}
{% render "includes/wvu-component-footer/wvu-component-footer--v1" footerItemClasses: itemClasses component: component %}
