{% capture gallerypage %}{{ page.slug }}-{{ component.name }}{% endcapture %}
{% assign images = site.files | filter_files: tags: gallerypage, tags_match: 'any', types: 'image', limit: 9, order: component.galleryLoopBy, sort: component.loopOrder %}
{% assign totalImages = images.length %}

<div class="parvus-gallery__container container wvu-z-index-content mb-4">
  {% if edit_mode or page.content[component.region_names.header] != blank or page.content[component.region_names.header] != blank %}
    <div class="row mb-4">
      <div class="col-sm-8 col-md-6 mx-auto mx-sm-auto">
        {% if edit_mode or page.content[component.region_names.header] != blank %}
          {% comment %}<!-- This is just a label for the editable region that follows in order to make it clear to content editors what the region is for (in case they delete content and forget). -->{% endcomment %}
          {% if edit_mode %}<span class="d-inline-block badge bg-primary mb-1 no-preview">Header</span>{% endif %}
          <h2 id="{{ component.name }}-label" class="h1 helvetica-neue-bold">{% editable_region name: component.region_names.header, type: "simple", scope: component.scope, placeholder="Photo Set Headline" %}</h2>
        {% endif %}
        {% if edit_mode or page.content[component.region_names.header] != blank or page.content[component.region_names.main] != blank %}
          {% editable_region_block name: component.region_names.main, scope: component.scope %}
            <p>Type your story here.</p>
          {% endeditable_region_block %}
        {% endif %}
        {% if edit_mode %}<p class="small helvetica-neue no-preview">Label for photo set: <span class="d-inline-block badge bg-primary mb-1">{{ gallerypage }}</span></p>{% endif %}
      </div>
    </div>
  {% endif %}
  <ul class="parvus-gallery__row list-unstyled mx-xxl-n6">
    {% assign numberOfImages = 0 %}
    <div class="d-sm-flex me-n1 justify-content-center">
      {% for image in images.all %}
        <li class="parvus-gallery__item me-1 mb-1">
          <a class="js-parvus-lightbox parvus-gallery__link" data-group="gallery" data-caption="{{ image.description }}" href="{{ image | image_url: size: '960x640', format: 'webp' }}" data-srcset="{{ image | image_url: size: '1920x1280', format: 'webp' }} 1920w, {{ image | image_url: size: '1366x911', format: 'webp' }} 1366w, {{ image | image_url: size: '960x640', format: 'webp' }} 960w, {{ image | image_url: size: '450x300', format: 'webp' }} 450w">
            <img class="parvus-gallery__thumbnail" loading="lazy" decoding="async" src="{{ image | image_url: size: '960x640', format: 'webp' }}" alt="{{ image.alt_text }}" />
          </a>
        </li>
        {% case totalImages %}
          {% when 6 or 7 %}
            {% if numberOfImages == 3 %}
              </div>
              <div class="d-sm-flex me-n1">
            {% endif %}
          {% when 8 or 9 %}
            {% if numberOfImages == 4 %}
              </div>
              <div class="d-sm-flex me-n1">
            {% endif %}
        {% endcase %}
        {% assign numberOfImages = numberOfImages | plus: 1 %}
      {% endfor %}
    </div>
    {% if edit_mode and numberOfImages == 0 %}
      <div class="col-12 no-preview">
        <div class="alert alert-warning p-3 p-xl-4 mb-0 text-start">
          <h2>Whoops!</h2>
          <p class="mb-0">
            It looks like you don’t have any images labeled yet. To get images to appear here, label the pages with <span class="badge rounded-pill bg-secondary">{{ page.slug }}-{{ component.name }}</span>. You can add labels to images from the Files tab in the CleanSlate dashboard by hovering over the image, clicking Edit, then entering your labels in the Labels field. Be sure to include alternate text to avoid accessibility errors. You can also enter a description of the image if you want that visible to the user when they click to expand a gallery image.
          </p>
        </div>
      </div>
    {% endif %}
  </ul>
</div>

{% content_for "page_js" %}
  {% link_javascript name: "vendor/parvus/parvus.min, parvus-gallery--custom" %}
{% endcontent_for %}

{% content_for "header_extras" %}
  <style>
    @supports (aspect-ratio: 4/3) {
      .parvus-gallery__thumbnail {
        aspect-ratio: auto !important;
      }
    }
    .parvus-gallery__item {
      max-height: fit-content !important;
    }
  </style>
{% endcontent_for %}