{%- liquid
  assign rowClasses = page.content[component.region_names.rowClasses] | default: component.defaultRowClasses
  assign itemHeaderClasses = page.content[component.region_names.itemHeaderClasses] | default: component.defaultItemHeaderClasses
  assign itemBodyClasses = page.content[component.region_names.itemBodyClasses]
  assign itemButtonClasses = page.content[component.region_names.itemButtonClasses] | default: component.defaultItemButtonClasses
  assign itemReadMoreButtonText = page.content[component.region_names.readMoreButtonText] | default: component.defaultItemButtonText
  assign startPage = site | get_page: component.featurettesID
  assign root = startPage | default: site.root_page
  assign componentLabels = component.customLabel | default: component.itemLabels
  assign items = root.descendants | filter_pages: by: component.loopBy, sort: component.loopOrder, tags: componentLabels, tags_match: component.loopLabelsMatch, hidden: component.showHidden, random: component.random, limit: component.limit
  assign itemCount = 0

  if page.content[component.region_names.header] != blank
    assign htag = 'h3'
  else
    assign htag = 'h2'
  endif

  for items in items.all
    assign itemCount = itemCount | plus: 1
  endfor

  if items > component.limit
    assign itemCount = component.limit
  endif
-%}

{% capture component_content %}
  <div class="wvu-z-index-content">
    <div class="container wvu-z-index-content">

      {% if edit_mode or page.content[component.region_names.header] != blank %}
        <div class="mb-2">
          {% if edit_mode %}<span class="d-inline-block badge bg-primary mb-1">Header</span>{% endif %}
          {% editable_region_block name: component.region_names.header scope: component.scope %}
            <h2 id="{{ component.name }}-label" class="display-3 wvu-shout text-wvu-blue">Testimonials Collection Headline</h2>
            <p class="h3 helvetica-neue-light text-wvu-blue">Subhead goes here.</p>
          {% endeditable_region_block %}
        </div>
      {% endif %}

      {% if itemCount == 0 %}
        {% render "includes/wvu-collection-warnings/wvu-collection-labels-warning--v1" component: component %}
      {% else %}
        {%- capture itemClasses %}{% render "includes/wvu-column-classes/wvu-column-classes--v1" numberOfItems: itemCount component: component %}{% endcapture -%}
        {% assign itemClasses = itemClasses | strip %}
      {% endif %}

      {% capture loopContent %}

        {% for item in items.all %}

          {% liquid
            if item.data.alternate_url != blank
              assign link_href = item.data.alternate_url
            else
              assign link_href = item.url
            endif
          %}

          {% capture htag_id %}{{ item.slug }}-{{ component.name }}-{{ item.id }}{% endcapture %}

          <div class="{{ page.content[component.region_names.itemClasses] | default: itemClasses }}">
            <div class="mt-3">
              <blockquote class="wvu-quote iowan-old-style h4 mb-3 mx-0">
                <p>
                  {{ item.content.wvu-profile-1__quote }}
                </p>
              </blockquote>

              <div class="row">
                <div class="{% if itemCount == 1 %}col-5 mx-auto{% else %}col-3{% endif %}">
                  {% if item.data.thumbnail_url_sq != blank %}
                    <div class="mb-2">
                      {% if item.data.thumbnail_url_sq != blank %}
                        {%- capture itemThumbnailSrc %}
                          {% render "includes/wvu-thumbnail-parser/wvu-thumbnail-parser--v1" thumbnailSrc: item.data.thumbnail_url_sq %}
                        {%- endcapture %}
                        <img class="rounded-circle shadow text-center w-100" src="{{ itemThumbnailSrc | strip }}/381x381.jpg" srcset="{{ itemThumbnailSrc | strip }}/960x960.jpg, {{ itemThumbnailSrc | strip }}/586x586.jpg, {{ itemThumbnailSrc | strip }}/381x381.jpg, {{ itemThumbnailSrc | strip }}/286x286.jpg, {{ itemThumbnailSrc | strip }}/279x279.jpg, {{ itemThumbnailSrc | strip }}/217x217.jpg" sizes="960px, (min-width: 768px) 586px" alt="{{ item.data.thumbnail_alt  }}">
                      {% endif %}
                    </div>
                  {% endif %}
                </div>
                <div class="{% if itemCount == 1 %}col-12{% else %}col text-start{% endif %}">
                  <div class="mb-2">
                    <{{ htag }} class="card-title {{ itemHeaderClasses }}" id="{{ htag_id }}">
                      {% if item.content['wvu-profile-1__name'] != blank %}
                        {{ item.content['wvu-profile-1__name'] }}
                      {% else %}
                        {{ item.alternate_name | default: item.name }}
                      {% endif %}
                    </{{ htag }}>
                    {% if item.content.wvu-profile-1__title != blank %}
                      <p class="helvetica-neue-light">{{ item.content.wvu-profile-1__title }}</p>
                    {% endif %}
                    {%- if item.content.wvu-profile-1__profile-title != blank %}
                      <p class="small {{ itemBodyClasses }}">
                        {{ item.content.wvu-profile-1__profile-title }}
                      </p>
                    {%- endif %}
                  </div>

                  {% if itemReadMoreButtonText != 'none' %}
                    {% if item.data.link_text != blank %}
                      {% assign link_text = item.data.link_text %}
                    {% else %}
                      {% capture link_text %}{{ itemReadMoreButtonText }}<span class="visually-hidden">: {{ item.name }}</span>{% endcapture %}
                    {% endif %}
                    <a class="{{ itemButtonClasses }}" {% if item.link_target != blank %}target="{{ item.link_target }}"{% endif %} href="{{ link_href }}">{{ link_text }}</a>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      {% endcapture %}

      <div class="row {{ rowClasses }}">{{ loopContent }}</div>

      {% if edit_mode or page.content[component.region_names.postscript] != blank %}
        <div class="mt-4">
          {% if edit_mode %}<span class="d-inline-block badge bg-primary mb-1">Postscript</span>{% endif %}
          {% editable_region_block name: component.region_names.postscript scope: component.scope %}
            <p class="mb-0">Put additional info or <a href="#">links</a> here.</p>
          {% endeditable_region_block %}
        </div>
      {% endif %}
    </div>
  </div>
{% endcapture %}

{% render "utilities/wvu-component-tag/wvu-component-tag--v1" component: component, content: component_content %}
{% render "includes/wvu-component-footer/wvu-component-footer--v1" footerItemClasses: itemClasses component: component %}
