{%- if blog.months_archive.size > 0 %}
<ul class="nav flex-column border-start border-muted ps-2 mb-3">
  {%- for entry in blog.months_archive -%}
    <li><a href="{{ blog.path | append: '/' | append: entry[0] }}">{{ entry[0] | date: "%B %Y" }}</a> <span class="badge bg-wvu-neutral--dark-gray text-white">{{ entry[1] }}</span></li>
  {%- endfor -%}
</ul>
{%- endif %}
<p><i class="fa-solid fa-rss-square text-wvu-accent--burnt-orange text-decoration-none"></i> <a href="{{ page.url | append: '.rss' }}"> <span class="text-primary">Articles RSS Feed</span></a></p>
