{%- liquid
  assign itemHeaderClasses = page.content[component.region_names.itemHeaderClasses] | default: component.defaultItemHeaderClasses
  assign itemButtonClasses = page.content[component.region_names.itemButtonClasses] | default: component.defaultItemButtonClasses
  assign itemReadMoreButtonText = page.content[component.region_names.readMoreButtonText] | default: component.defaultItemButtonText
  assign defaultItemColors = "wvu-accent--blue"
  assign defaultTextColors = "white"
  assign customItemColorsRegion = component.name | append: '__item-colors'
  assign customTextColorsRegion = component.name | append: '__text-colors'
  assign customItemColors = page.content[customItemColorsRegion] | split: ','
  assign customTextColors = page.content[customTextColorsRegion] | split: ','
  assign startPage = site | get_page: component.featurettesID
  assign root = startPage | default: site.root_page
  assign componentLabels = component.customLabel | default: component.itemLabels
  assign items = root.descendants | filter_pages: by: component.loopBy, sort: component.loopOrder, tags: componentLabels, tags_match: component.loopLabelsMatch, hidden: component.showHidden, random: component.random, limit: component.limit
  assign i = 0
  assign itemCount = 0

  if page.content[component.region_names.header] != blank
    assign htag = 'h3'
  else
    assign htag = 'h2'
  endif

  for items in items.all
    assign itemCount = itemCount | plus: 1
  endfor

  if items > component.limit
    assign itemCount = component.limit | times: 1
  endif

  if page.content[customItemColorsRegion] != blank
    assign itemColors = page.content[customItemColorsRegion] | split: ','
  else
    assign itemColors = defaultItemColors | split: ','
  endif

  if page.content[customTextColorsRegion] != blank
    assign textColors = page.content[customTextColorsRegion] | split: ','
  else
    assign textColors = defaultTextColors | split: ','
  endif
-%}

{% capture component_content %}
  <div class="wvu-z-index-content">

    {% if itemCount == 0 %}
      <div class="container mb-4">
        {% render "includes/wvu-collection-warnings/wvu-collection-labels-warning--v1" component: component %}
      </div>
    {% else %}
      <div class="container mb-4">
        {% render "includes/wvu-collection-warnings/wvu-collection-labels-label-tooltip--v1" component: component %}
      </div>
    {% endif %}

    {% capture loopContent %}
      {% for item in items.all %}

        {% liquid
          if item.data.alternate_url != blank
            assign link_href = item.data.alternate_url
          else
            assign link_href = item.url
          endif
        %}

        {% assign itemThumbnailSrc = item.data.thumbnail_url | build_image_url: size: '1600x1200', format: 'webp' %}

        {% if itemColors[i] != blank %}
          {% capture bgColorListItem %}bg-{{ itemColors[i] }}{% endcapture %}
        {% endif %}
        {% if textColors[i] != blank %}
          {% capture textColorListItem %}text-{{ textColors[i] }}{% endcapture %}
          {% capture buttonColorListItem %}btn-outline-{{ textColors[i] }}{% endcapture %}
        {% endif %}

        <div class="row mx-0 {% cycle 'flex-row-reverse', 'flex-row' %} {{ bgColorListItem | default: defaultItemColors }} {{ textColorListItem | default: defaultTextColors }}">
          <div class="px-0 col-lg-6">
            <div class="h-100 mb-0 wvu-bg-size-cover" style="background-image: url({{ itemThumbnailSrc }}); padding-top: 66.6667%">
            </div>
          </div>

          <div class="px-0 col-lg-6 d-flex align-items-center">
            <div class="col-xl-10 col-xxl-8">
              <div class="p-3 p-md-4 p-xl-5">
                {% assign barModifier = '' %}
                {% if itemHeaderClasses contains 'wvu-bar' %}
                  {% case bgColorListItem %}
                    {% when 'bg-wvu-gold' or 'bg-wvu-accent--light-blue' or 'bg-wvu-accent--yellow' or 'bg-wvu-accent--sunset' or 'bg-wvu-neutral--warm-gray-light' or 'bg-wvu-neutral--warm-gray-medium' or 'bg-wvu-neutral--cream' or 'bg-wvu-neutral--tan' %}
                      {% assign barModifier = 'wvu-bar--blue' %}
                      {% assign itemHeaderClasses = itemHeaderClasses | replace: 'wvu-bar--blue', '' | replace: 'wvu-bar--white', '' %}
                    {% else %}
                  {% endcase %}
                {% endif %}

                <{{ htag }} id="{{ component.name }}-label" class="{{ textColorListItem | default: defaultTextColors }} {{ itemHeaderClasses }} {{ barModifier }}">{{ item.name }}</{{ htag }}>

                {% if item.content['wvu-profile-1__name'] != blank %}
                  <p class="h2 iowan-old-style-black pt-2 mb-1">
                    {{ item.content['wvu-profile-1__name'] }}
                  </p>
                {% endif %}

                {% render "includes/wvu-profile-info/wvu-profile-info--v1" profileItem: item %}

                <p class="card-text mt-2 mb-0 fs-5">
                  {%- if item.data.description != blank %}
                    {{ item.data.description }}
                  {% else %}
                    {% render "includes/wvu-collection-warnings/wvu-collection-description-warning--v1" component: component, itemName: item.name %}
                  {%- endif %}
                </p>

                <p class="mt-2 mb-0">
                  {% if itemReadMoreButtonText != 'none' %}
                    {% if item.data.link_text != blank %}
                      {% assign link_text = item.data.link_text %}
                    {% else %}
                      {% capture link_text %}{{ itemReadMoreButtonText }}<span class="visually-hidden">: {{ item.name }}</span>{% endcapture %}
                    {% endif %}
                    <a class="btn {{ buttonColorListItem | default: 'btn-outline-white' }}" href="{{ link_href }}">{{ link_text }}</a>
                  {% endif %}
                </p>
              </div>
            </div>
          </div>
        </div>

        {% assign bgColorListItem = '' %}
        {% assign textColorListItem = '' %}
        {% assign buttonColorListItem = '' %}
        {% assign i = i | plus: 1 %}

      {% endfor %}
    {% endcapture %}

    {{ loopContent }}
  </div>
{% endcapture %}

{% render "utilities/wvu-component-tag/wvu-component-tag--v1" component: component, content: component_content %}
{% render "includes/wvu-component-footer/wvu-component-footer--v1" component: component %}
