{% assign authorRegionName = component.name | append: "__author" %}
<div class="containe mb-4">
  <div class="row text-center my-4">
    <div class="col-lg-8 col-xl-9 mx-lg-auto">
      <blockquote class="iowan-old-style-black border-0 mx-0 ps-0">
        <span class="d-block display-1 text-wvu-gold">“</span>
        <span class="fs-2 lh-1 d-block mt-n4 mb-1">
          {% editable_region name: component.region_names.main, type="simple", scope: component.scope, placeholder="Put quote here" %}
        </span>
        <span class="d-block display-1 text-wvu-gold">”</span>
      </blockquote>
      <p class="helvetica-neue-bold mt-n4">&mdash; {% editable_region name: authorRegionName, type="simple", scope: component.scope, placeholder="Author Name" %}</p>
    </div>
  </div>
</div>
