{% assign authorRegionName = component.name | append: "__author" %}
<div class="row text-center my-4">
  <div class="col-lg-8 col-xl-9 mx-lg-auto">
    <blockquote class="h1 iowan-old-style-black border-0 ms-0 ps-0">
      <span class="d-block display-2 text-wvu-gold">“</span>
      {% editable_region name: component.region_names.main, type="simple", scope: component.scope, placeholder="Put quote here" %}
      <span class="d-block display-2">”</span>
    </blockquote>
    <p class="helvetica-neue-bold text-wvu-gold">&mdash; {% editable_region name: authorRegionName, type="simple", scope: component.scope, placeholder="Author Name" %}</p>
  </div>
</div>