{%- liquid
  assign videoUrlRegionName = component.name | append: '__video-url'
  assign videoTitleRegionName = component.name | append: '__video-title'

  if component.main == true and page.data.backpage_header == '1'
    assign htag = 'h1'
  else
    assign htag = 'h2'
  endif

-%}

{% capture component_content %}
  <div class="container position-relative wvu-z-index-content" data-aos="fade" data-aos-once="true" data-aos-anchor-placement="top-bottom">
    <div class="row py-5{% if page.data.hero_text_alignment == '1' %} justify-content-end{% endif %}">
      <div class="col-xl-4 me-xl-auto mb-4 mb-xl-0 d-flex flex-column justify-content-center">
        <div>
          {% if edit_mode %}
            <small class="wvu-z-index-content d-block mb-2 text-left text-muted p-1 bg-wvu-neutral--dark-gray">Header classes:
              <pre class="mb-0 text-white">{% editable_region name: component.region_names.headerClasses, type: "simple", scope: component.scope %}</pre>
              <strong class="text-muted">Default classes:</strong> <pre class="mb-0 text-muted">{{ component.defaultHeaderClasses }}</pre>
            </small>
          {% endif %}
          {% if edit_mode %}<span class="d-inline-block badge bg-primary mb-1">Header</span>{% endif %}
          <{{ htag }} id="{{ component.name }}-label" class="{{ page.content[component.region_names.headerClasses] | default: component.defaultHeaderClasses }}">
            {% editable_region name: component.region_names.header, scope: component.scope, type: "simple", placeholder="It Starts Now" %}
          </{{ htag }}>
          {% if edit_mode %}<span class="d-inline-block badge bg-primary mb-1">Main Content</span>{% endif %}
          {% editable_region_block name: component.region_names.main scope: component.scope %}
            <p class="lead py-2">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            <a class="btn btn-primary" href="#" role="button">Call to Action</a>
          {% endeditable_region_block %}
        </div>
      </div>
      <div class="col-xl-7">
        {% if edit_mode %}
          <div class="alert alert-warning p-3 p-xl-4 text-start">
            <h2>Video</h2>
            <p><strong>Enter the URL of the video</strong> you wish to display e.g. <strong>https://www.youtube.com/watch?v=uF_Ti3i-sOo</strong>, then save and refresh the page.</p>
            {% editable_region name: videoUrlRegionName type: 'simple' %}
            <p class="mt-2"><strong>Enter a title for the video:</strong></p>
            {% editable_region name: videoTitleRegionName type: 'simple' %}
          </div>
        {% endif %}
        {% assign videoId = page.content[videoUrlRegionName] | split: 'https://www.youtube.com/watch?v=' | split: 'https://youtu.be/' %}
        {% if page.content[videoUrlRegionName] != blank %}
          <div class="ratio ratio-16x9">
            <iframe src="https://www.youtube.com/embed/{{ videoId }}" title="{{ page.content[videoTitleRegionName] }}" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endcapture %}

{% render "utilities/wvu-component-tag/wvu-component-tag--v1" component: component, content: component_content %}
{% render "includes/wvu-component-footer/wvu-component-footer--v1" component: component %}
