{% liquid
  assign componentVersion = theme.data.component_versions.backpage_header | default: '1'
  assign basename = "backpage-header"
  assign defaultComponentClasses = site.data['classes_wvu_backpage_header'] | default: defaultComponentClasses | default: "wf-border mx-4"
  assign defaultHeaderClasses = site.data['classes_wvu_backpage_header__h1'] | default: defaultHeaderClasses | default: "display-4"
  assign defaultSubheadClasses = site.data['classes_wvu_backpage_header__subhead'] | default: defaultSubheadClasses | default: "fs-4 mb-2 mt-1"
%}

{%- define_component component %}
  {
    "baseName": "{{ basename }}",
    "defaultComponentClasses": "{{ defaultComponentClasses }}",
    "defaultHeaderClasses": "{{ defaultHeaderClasses }}",
    "defaultSubheadClasses": "{{ defaultSubheadClasses }}",
    "mainTagClasses": null
  }
{%- enddefine_component %}

{% case componentVersion %}
  {% when 1 %}{% render "components/wvu-backpage-header/wvu-backpage-header--v1" component: component %}
  {% when 2 %}{% render "components/wvu-backpage-header/wvu-backpage-header--v2" component: component %}
  {% else %}{% render "components/wvu-backpage-header/wvu-backpage-header--v1" component: component %}
{% endcase %}
