{% comment %}<!-- See webstandards.wvu.edu/design-system for information about shared partials -->{% endcomment %}

{% liquid
  assign componentVersion = theme.data.component_versions.article_index | default: '1'
%}

{%- define_component component %}
  {
    "baseName": "article-index",
    "defaultComponentClasses": "border-gray border-bottom border-5",
    "defaultHeaderClasses": null,
    "defaultItemHeaderClasses": "text-decoration-none",
    "mainTagClasses": "py-5"
  }
{%- enddefine_component %}

{% case componentVersion %}
  {% when 1 %}{% render "components/wvu-article-index/wvu-article-index--v1" component: component %}
  {% else %}{% render "components/wvu-article-index/wvu-article-index--v1" component: component %}
{% endcase %}
