{% liquid
  assign componentVersion = theme.data.component_versions.action_hero | default: '1'
  assign defaultComponentClasses = defaultComponentClasses | default: "text-center border-dark border-bottom border-5"
  assign defaultHeaderClasses = defaultHeaderClasses | default: "display-3"
%}

{%- define_component component %}
  {
    "baseName": "action-hero",
    "defaultComponentClasses": "{{ defaultComponentClasses }}",
    "defaultHeaderClasses": "{{ defaultHeaderClasses }}",
    "mainTagClasses": "py-5"
  }
{%- enddefine_component %}

{% case componentVersion %}
  {% when 1 %}{% render "components/wvu-action-hero/wvu-action-hero--v1" component: component %}
  {% else %}{% render "components/wvu-action-hero/wvu-action-hero--v1" component: component %}
{% endcase %}
