{% comment %}<!-- See webstandards.wvu.edu/design-system for information about shared partials -->{% endcomment %}

{% liquid
  assign componentVersion = theme.data.component_versions.article | default: '1'
%}

{%- define_component component %}
  {
    "baseName": "article",
    "needsARIALabel": true,
    "defaultComponentClasses": "wvu-backpage-main border-bottom border-gray border-5",
    "defaultHeaderClasses": "",
    "mainTagClasses": null
  }
{%- enddefine_component %}

{% case componentVersion %}
  {% when 1 %}{% render "components/wvu-article/wvu-article--v1" component: component %}
  {% when 2 %}{% render "components/wvu-article/wvu-article--v2" component: component %}
  {% else %}{% render "components/wvu-article/wvu-article--v1" component: component %}
{% endcase %}
