{% comment %}<!-- See webstandards.wvu.edu/design-system for information about shared partials -->{% endcomment %}

{% liquid
  assign componentVersion = theme.data.component_versions.article_collection | default: '1'
%}

{%- define_component component %}
  {
    "baseName": "article-collection",
    "defaultComponentClasses": null,
    "defaultRowClasses": "justify-content-left",
    "defaultItemClasses": null,
    "defaultHeaderClasses": "mb-4",
    "defaultItemHeaderClasses": "h2 d-block mb-2 text-decoration-none",
    "defaultItemBodyClasses": null,
    "defaultItemButtonClasses": "btn btn-primary btn-sm wf-border",
    "defaultItemButtonText": "Read More",
    "mainTagClasses": "py-5"
  }
{%- enddefine_component %}

{% case componentVersion %}
  {% when 1 %}{% render "components/wvu-article-collection/wvu-article-collection--v1" component: component %}
  {% else %}{% render "components/wvu-article-collection/wvu-article-collection--v1" component: component %}
{% endcase %}
