{% comment %}<!-- See webstandards.wvu.edu/design-system for information about shared partials -->{% endcomment %}

{% liquid
  assign componentVersion = theme.data.component_versions.action_hero_card | default: '1'
  assign defaultComponentClasses = defaultComponentClasses | default: "border-dark border-bottom border-5"
  assign defaultHeaderClasses = defaultHeaderClasses | default: "display-3 mb-2"
  assign defaultItemClasses = defaultItemClasses | default: "col-md-9"
%}

{%- define_component component %}
  {
    "baseName": "action-hero-card",
    "defaultComponentClasses": "{{ defaultComponentClasses }}",
    "defaultHeaderClasses": "{{ defaultHeaderClasses }}",
    "defaultItemClasses": "{{ defaultItemClasses }}",
    "mainTagClasses": "p-3"
  }
{%- enddefine_component %}

{% case componentVersion %}
  {% when 1 %}{% render "components/wvu-action-hero-card/wvu-action-hero-card--v1" component: component %}
  {% else %}{% render "components/wvu-action-hero-card/wvu-action-hero-card--v1" component: component %}
{% endcase %}
