{% comment %}<!-- Define editable region names using our component name (base component name + instance number) within namespaced labels. -->{% endcomment %}
{%- liquid
  assign captionRegion = 'wvu-CNAME__caption' | replace: 'CNAME', component.name
  assign captionClassesRegion = 'wvu-CNAME-caption-classes' | replace: 'CNAME', component.name
  assign captionClasses = page.content[captionClassesRegion] | default: component.defaultCaptionClasses
%}

{% capture component_content %}
  <figure>
    {% if edit_mode %}<span class="d-inline-block badge bg-primary mb-1">Image</span>{% endif %}
    {% editable_region_block name: component.region_names.main, scope: component.scope %}
      <img src="https://designsystem.sandbox.wvu.edu/files/7f5da73f-36df-4693-a2c8-f01398b3adbd/1720x1720" alt="Cheerleaders waving a flag">
    {% endeditable_region_block %}
  </figure>
  {% if edit_mode or page.content[captionRegion] != blank %}
    <figcaption class="mb-0 p-2 me-2 mb-2 wvu-bg-tint position-absolute" style="bottom: 0; right: 0;">
      <div class="wvu-z-index-content {{ captionClasses }}">
        {% if edit_mode %}
          <div class="small d-block mb-2 p-2 text-left text-muted p-1 bg-wvu-neutral--dark-gray">
            <p class="mb-1">Caption classes:</p>
            <div class="mb-1 text-white">{% editable_region name: captionClassesRegion, type: "simple", scope: component.scope %}</div>
            <strong class="text-muted">Default caption classes:</strong> <pre class="mb-0 text-muted">{{ component.defaultCaptionClasses }}</pre>
          </div>
        {% endif %}
        {% if edit_mode %}<span class="d-inline-block badge bg-primary mb-1">Caption</span>{% endif %}
        {% editable_region_block name: captionRegion, scope: component.scope %}
          <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        {% endeditable_region_block %}
      </div>
    </figcaption>
  {% endif %}
{% endcapture %}

{% render "utilities/wvu-component-tag/wvu-component-tag--v1" component: component, content: component_content %}
{% render "includes/wvu-component-footer/wvu-component-footer--v1" component: component %}
