{% assign photoLabel = article.author.full_name | replace: ' ', '-' | downcase | append: '-author' %}
{% assign images = site.files | filter_files: tags: photoLabel, tags_match: 'any', types: 'image', limit: 1 %}
{% for image in images %}
  {%- capture authorImage -%}
    <img class="rounded-circle mb-1" src="{{ image | image_url: size: '48x48', format: 'webp' }}" alt="Portrait of {{ article.author.full_name }}">
  {%- endcapture -%}
{% endfor %}

{% capture component_content %}
  <div class="w-100 position-absolute h-100 wvu-z-index-content">
    <div class="d-flex flex-column text-center h-100">
      <div class="h-100 d-flex align-items-center">
        <div class="container">
          <div class="row">
            <div class="col col-md-6 col-xl-8 mx-md-auto">
              {% if edit_mode %}
                <small class="wvu-z-index-content d-block mb-2 text-left text-muted p-1 bg-wvu-neutral--dark-gray bg-wvu-accent--blue-dark">Header classes:
                  <div class="mb-0 text-white">{% editable_region name: component.region_names.headerClasses, type: "simple" %}</div>
                  <strong class="text-muted">Default classes:</strong> <pre class="mb-0 text-muted">{{ component.defaultHeaderClasses }}</pre>
                </small>
              {% endif %}
              <h1 id="{{ component.name }}-label" itemprop="headline" class="{{ page.content[component.region_names.headerClasses] | default: component.defaultHeaderClasses }}">
                {{ article.name }}
              </h1>
              {% editable_region_block name: component.region_names.subhead %}<p class="helvetica-neue-bold h2">Subhead goes here.</p>{% endeditable_region_block %}
              {% if edit_mode %}
                <p class="small helvetica-neue-bold">Label for background photo: <span class="d-inline-block badge bg-primary mb-1">{{ page.slug }}-{{ component.name }}-background</span></p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      <div class="mb-4">
        {% if edit_mode %}
          <div class="container">
            <div class="alert alert-info p-2 my-2 small">
              <p>If the name of the author is different from the user who is publishing the article, enter their name:</p>
              {% editable_region name: "wvu-article-1__author" type: 'simple' %}
            </div>
            <p class="small helvetica-neue-bold">Label for headshot: <span class="d-inline-block badge bg-primary mb-1">{{ photoLabel }}</span></p>
          </div>
        {% endif %}

        {% if article.parent.data.disable_articles_author != '1' %}
          {% if article.data.article_hide_author != '1' %}
            {% if images.length >= 1 %}
              {{ authorImage }}
            {% endif %}

            <p class="iowan-old-style">
              <span class="d-block" itemprop="author" itemscope="" itemtype="http://schema.org/Person">
                <span itemprop="name">
                  By <span class="helvetica-neue-bold text-uppercase">{{ article.content['wvu-article-1__author'] | default: article.author.full_name }}</span>
                </span>
              </span>
            
              <time class="small d-block" datetime="{{ article.published_at | date_iso8601 }}">{{ article.published_at | date: '%B %d, %Y' | default: 'Not yet published' }}</time>
            </p>
          {% endif %}
        {% endif %}

      </div>
    </div>
  </div>
{% endcapture %}

{% render "utilities/wvu-component-tag/wvu-component-tag--v1" component: component, content: component_content %}

{% content_for "header_extras" %}
  <style>
    .ratio-3x2 {
      --bs-aspect-ratio: 66.6667%; // 3x2
    }
  </style>
{% endcontent_for %}