{%- liquid
  assign rowClasses = page.content[component.region_names.rowClasses] | default: component.defaultRowClasses
  assign itemHeaderClasses = page.content[component.region_names.itemHeaderClasses] | default: component.defaultItemHeaderClasses
  assign itemBodyClasses = page.content[component.region_names.itemBodyClasses]
  assign itemButtonClasses = page.content[component.region_names.itemButtonClasses] | default: component.defaultItemButtonClasses
  assign itemReadMoreButtonText = page.content[component.region_names.readMoreButtonText] | default: component.defaultItemButtonText | strip
  assign startPage = site | get_page: component.featurettesID
  assign root = startPage | default: site.root_page
  assign componentLabels = component.customLabel | default: component.itemLabels
  assign items = root.descendants | filter_pages: by: component.loopBy, sort: component.loopOrder, tags: componentLabels, tags_match: component.loopLabelsMatch, hidden: component.showHidden, random: component.random, limit: component.limit
  assign itemCount = 0

  if page.content[component.region_names.header] != blank
    assign htag = 'h3'
  else
    assign htag = 'h2'
  endif

  for items in items.all
    assign itemCount = itemCount | plus: 1
  endfor

  if items > component.limit
    assign itemCount = component.limit
  endif
-%}

{% capture component_content %}
  <div class="wvu-z-index-content">
    <div class="container wvu-z-index-content">

      {% if edit_mode or page.content[component.region_names.header] != blank %}
        {% if edit_mode %}<span class="d-inline-block badge bg-primary mb-1 no-preview">Header</span>{% endif %}
        {% editable_region_block name: component.region_names.header scope: component.scope %}
          <h2 id="{{ component.name }}-label" class="display-3 wvu-shout text-wvu-blue">Contact Collection Headline</h2>
          <p class="h3 helvetica-neue-light text-wvu-blue mb-4">Subhead goes here.</p>
        {% endeditable_region_block %}
      {% endif %}

      {% if itemCount == 0 %}
        {% render "includes/wvu-collection-warnings/wvu-collection-labels-warning--v1" component: component %}
      {% else %}
        {%- capture itemClasses %}{% render "includes/wvu-column-classes/wvu-column-classes--v1" numberOfItems: itemCount component: component %}{% endcapture -%}
        {% assign itemClasses = itemClasses | strip %}
        {% render "includes/wvu-collection-warnings/wvu-collection-labels-label-tooltip--v1" component: component %}
      {% endif %}

      {% capture loopContent %}

        {% for item in items.all %}

          {% liquid
            if item.data.alternate_url != blank
              assign link_href = item.data.alternate_url
            else
              assign link_href = item.url
            endif
          %}

          {% capture htag_id %}{{ item.slug }}-{{ component.name }}-{{ item.id }}{% endcapture %}

          <div class="{{ page.content[component.region_names.itemClasses] | default: itemClasses }}">
            {% if item.data.thumbnail_url_sq != blank %}
              <div class="row mb-1">
                <div class="col-6 mx-auto col-sm-4 col-md-6">
                  {% if item.data.thumbnail_url_sq != blank %}
                    {% assign itemThumbnailSrc = item.data.thumbnail_url_sq | build_image_url: size: '960x640', format: 'webp' %}
                    <img class="rounded-circle shadow mb-2" src="{{ itemThumbnailSrc }}" alt="{{ item.data.thumbnail_alt  }}">
                  {% endif %}
                </div>
              </div>
            {% else %}
              {% if site.data.use_contact_placeholders == 'true' %}
                <div class="row mb-1">
                  <div class="col-6 mx-auto col-sm-4 col-md-6">
                    <div class="border border-5 border-black-50 h1 rounded-circle p-4 d-flex mx-auto align-items-center justify-content-center">
                      <span aria-hidden="true" class="fa-regular fa-user position-absolute text-black-50"></span>
                    </div>
                  </div>
                </div>
              {% endif %}
            {% endif %}

            <{{ htag }} class="card-title {{ itemHeaderClasses }}" id="{{ htag_id }}">
              {% if item.content['wvu-profile-1__name'] != blank %}
                {{ item.content['wvu-profile-1__name'] }}
              {% else %}
                {{ item.alternate_name | default: item.name }}
              {% endif %}
            </{{ htag }}>

            <div class="mb-2">
              {% if item.content.wvu-profile-1__title != blank %}
                <p>
                  <span class="d-block helvetica-neue-bold text-uppercase">{{ item.content.wvu-profile-1__title }}</span>
                  {% if item.content.wvu-profile-1__organization != blank %}
                    <span class="d-block helvetica-neue-light">{{ item.content.wvu-profile-1__organization }}</span>
                  {% endif %}
                </p>
              {% endif %}

              {% if item.content.wvu-profile-1__phone != blank %}
                <p class="mb-0">
                  <span aria-hidden="true" class="fa-solid fa-phone"></span> <a href="tel:{{ item.content.wvu-profile-1__phone }}">{{ item.content.wvu-profile-1__phone }}</a>
                </p>
              {% endif %}
              {% if item.content.wvu-profile-1__email != blank %}
                <p class="mb-0">
                  <span aria-hidden="true" class="fa-solid fa-envelope"></span> <a href="mailto:{{ item.content.wvu-profile-1__email }}">{{ item.content.wvu-profile-1__email }}</a>
                </p>
              {% endif %}
              {% if item.content.wvu-profile-1__office != blank %}
                <p class="mb-0">
                  {% if item.content.wvu-profile-1__office-url != blank %}
                    <span aria-hidden="true" class="fa-solid fa-building"></span> <a href="{{ item.content.wvu-profile-1__office-url }}">{{ item.content.wvu-profile-1__office }}</a>
                  {% else %}
                    <span aria-hidden="true" class="fa-solid fa-building"></span> {{ item.content.wvu-profile-1__office }}
                  {% endif %}
                </p>
              {% endif %}
            </div>

            {% if itemReadMoreButtonText != 'none' %}
              {% if item.data.link_text != blank %}
                {% assign link_text = item.data.link_text %}
              {% else %}
                {% capture link_text %}{{ itemReadMoreButtonText }}<span class="visually-hidden">: {{ item.name }}</span>{% endcapture %}
              {% endif %}
              <a class="{{ itemButtonClasses }}" {% if item.link_target != blank %}target="{{ item.link_target }}"{% endif %} href="{{ link_href }}">{{ link_text }}</a>
            {% endif %}
          </div>
        {% endfor %}
      {% endcapture %}

      <div class="row {{ rowClasses }}">{{ loopContent }}</div>

      {% if edit_mode or page.content[component.region_names.postscript] != blank %}
        <div class="mt-2">
          {% if edit_mode %}<span class="d-inline-block badge bg-primary mb-1 no-preview">Postscript</span>{% endif %}
          {% editable_region_block name: component.region_names.postscript scope: component.scope %}
            <p class="mb-0">Put additional info or <a href="#">links</a> here.</p>
          {% endeditable_region_block %}
        </div>
      {% endif %}
    </div>
  </div>
{% endcapture %}

{% render "utilities/wvu-component-tag/wvu-component-tag--v1" component: component, content: component_content %}
{% render "includes/wvu-component-footer/wvu-component-footer--v1" footerItemClasses: itemClasses component: component %}
