{% case slot.custom %}
  {% when 'custom-example' %}{% render "components/custom/custom-example" slot: slot %}
  {% when 'how-to-guides' %}{% render "components/documentation-site/wvu-how-to-guides" slot: slot %}
  {% when 'global-calculator' %}{% render "components/custom/global-calculator" slot: slot %}
  {% when 'wvu-profiles-campaign' %}{% render "components/custom/wvu-profiles-campaign" slot: slot %}
  {% when 'wvu-graduation-program' %}{% render "components/custom/wvu-graduation-program" slot: slot %}
  {% when 'alumni-chapter-search' %}{% render "components/custom/alumni-chapter-search" slot: slot %}
  {% when 'alumni-double-hero' %}{% render "components/custom/alumni-double-hero" slot: slot %}
  {% when 'alumni-events' %}{% render "components/custom/alumni-events" slot: slot %}
  {% when 'alumni-news' %}{% render "components/custom/alumni-news" slot: slot %}
  {% when 'alumni-podcast-hero' %}{% render "components/custom/alumni-podcast-hero" slot: slot %}
  {% when 'page-table' %}{% render "components/custom/wvu-page-table" slot: slot %}
  {% else %}ERROR: Unsupported custom component '{{ slot.custom }}'
{% endcase %}
