{% comment %}<!-- Slots for context: {{ forContext | default: 'default' }} -->{% endcomment %}
{% if slots == blank and forContext != blank %}
  {% assign slots = page.slots | where: 'where_to_display', forContext %}
{% endif %}

{% for slot in slots %}
  {% if slot.value != blank and slot.custom == blank %}
    {% case slot.value %}
      {% when 'action-hero' %}{% render "components/wireframes/wvu-action-hero" slot: slot %}
      {% when 'action-hero-banner' %}{% render "components/wireframes/wvu-action-hero-banner" slot: slot %}
      {% when 'action-hero-card' %}{% render "components/wireframes/wvu-action-hero-card" slot: slot %}
      {% when 'action-hero-split' %}{% render "components/wireframes/wvu-action-hero-split" slot: slot %}
      {% when 'action-hero-two-column' %}{% render "components/wireframes/wvu-action-hero-two-column" slot: slot %}
      {% when 'alternating-grid' %}{% render "components/wireframes/wvu-alternating-grid" slot: slot %}
      {% when 'article' %}{% render "components/wireframes/wvu-article" slot: slot %}
      {% when 'article-collection' %}{% render "components/wireframes/wvu-article-collection" slot: slot %}
      {% when 'article-index' %}{% render "components/wireframes/wvu-article-index" slot: slot %}
      {% when 'backpage' %}{% render "components/wireframes/wvu-backpage" slot: slot %}
      {% when 'backpage-accordion' %}{% render "components/wireframes/wvu-backpage-accordion" slot: slot %}
      {% when 'big-search' %}{% render "components/wireframes/wvu-big-search" slot: slot %}
      {% when 'blob-a' %}{% render "components/wireframes/wvu-blob-a" slot: slot %}
      {% when 'calendar-events' %}{% render "components/wireframes/wvu-calendar-events" slot: slot %}
      {% when 'cards' %}{% render "components/wireframes/wvu-cards" slot: slot %}
      {% when 'cards-w-overlay' %}{% render "components/wireframes/wvu-cards-w-overlay" slot: slot %}
      {% when 'child-page-list' %}{% render "components/wireframes/wvu-child-page-list" slot: slot %}
      {% when 'columns' %}{% render "components/wireframes/wvu-columns" slot: slot %}
      {% when 'columns-1-2' %}{% render "components/wireframes/wvu-columns-1-2" slot: slot %}
      {% when 'columns-2-1' %}{% render "components/wireframes/wvu-columns-2-1" slot: slot %}
      {% when 'columns-2-1-1' %}{% render "components/wireframes/wvu-columns-2-1-1" slot: slot %}
      {% when 'contact-collection' %}{% render "components/wireframes/wvu-contact-collection" slot: slot %}
      {% when 'contact-collection-vertical' %}{% render "components/wireframes/wvu-contact-collection-vertical" slot: slot %}
      {% when 'contact-info' %}{% render "components/wireframes/wvu-contact-info" slot: slot %}
      {% when 'directory' %}{% render "components/wireframes/wvu-directory" slot: slot %}
      {% when 'editable-region' %}{% render "components/wireframes/wvu-editable-region" slot: slot %}
      {% when 'event-agenda' %}{% render "components/wireframes/wvu-event-agenda" slot: slot %}
      {% when 'faculty-member-hero' %}{% render "components/wireframes/wvu-faculty-member-hero" slot: slot %}
      {% when 'faculty-profile' %}{% render "components/wireframes/wvu-faculty-profile" slot: slot %}
      {% when 'featurettes' %}{% render "components/wireframes/wvu-featurettes" slot: slot %}
      {% when 'featurettes-cards' %}{% render "components/wireframes/wvu-featurettes-cards" slot: slot %}
      {% when 'full-bleed-photo' %}{% render "components/wireframes/wvu-full-bleed-photo" slot: slot %}
      {% when 'hero' %}{% render "components/wireframes/wvu-hero" slot: slot %}
      {% when 'hero-w-subnav' %}{% render "components/wireframes/wvu-hero-w-subnav" slot: slot %}
      {% when 'hero-w-video' %}{% render "components/wireframes/wvu-hero-w-video" slot: slot %}
      {% when 'lede-text' %}{% render "components/wireframes/wvu-lede-text" slot: slot %}
      {% when 'nav' %}{% render "components/wireframes/wvu-nav" slot: slot %}
      {% when 'page-collection' %}{% render "components/wireframes/wvu-page-collection" slot: slot %}
      {% when 'page-collection-colored-boxes' %}{% render "components/wireframes/wvu-page-collection-colored-boxes" slot: slot %}
      {% when 'page-collection-icons' %}{% render "components/wireframes/wvu-page-collection-icons" slot: slot %}
      {% when 'page-collection-vertical' %}{% render "components/wireframes/wvu-page-collection-vertical" slot: slot %}
      {% when 'page-collection-vertical-icons' %}{% render "components/wireframes/wvu-page-collection-vertical-icons" slot: slot %}
      {% when 'people-collection' %}{% render "components/wireframes/wvu-people-collection" slot: slot %}
      {% when 'people-collection-vertical' %}{% render "components/wireframes/wvu-people-collection-vertical" slot: slot %}
      {% when 'photo-gallery' %}{% render "components/wireframes/wvu-photo-gallery" slot: slot %}
      {% when 'photo-grid' %}{% render "components/wireframes/wvu-photo-grid" slot: slot %}
      {% when 'profile' %}{% render "components/wireframes/wvu-profile" slot: slot %}
      {% when 'profile-hero' %}{% render "components/wireframes/wvu-profile-hero" slot: slot %}
      {% when 'profile-hero-w-border' %}{% render "components/wireframes/wvu-profile-hero-w-border" slot: slot %}
      {% when 'profile-hero-w-quote' %}{% render "components/wireframes/wvu-profile-hero-w-quote" slot: slot %}
      {% when 'profile-teaser' %}{% render "components/wireframes/wvu-profile-teaser" slot: slot %}
      {% when 'profiles-vertical' %}{% render "components/wireframes/wvu-profiles-vertical" slot: slot %}
      {% when 'program-listing' %}{% render "components/wireframes/wvu-program-listing" slot: slot %}
      {% when 'quicklinks' %}{% render "components/wireframes/wvu-quicklinks" slot: slot %}
      {% when 'social-media' %}{% render "components/wireframes/wvu-social-media" slot: slot %}
      {% when 'stat-sheet' %}{% render "components/wireframes/wvu-stat-sheet" slot: slot %}
      {% when 'testimonials' %}{% render "components/wireframes/wvu-testimonials" slot: slot %}
      {% when 'testimonials-fancy' %}{% render "components/wireframes/wvu-testimonials-fancy" slot: slot %}
      {% when 'timeline' %}{% render "components/wireframes/wvu-timeline" slot: slot %}
      {% when 'twitter-widget' %}{% render "components/wireframes/wvu-twitter-widget" slot: slot %}
      {% when 'subnav' %}{% render "components/wireframes/wvu-subnav" slot: slot %}
      {% when 'video-feature' %}{% render "components/wireframes/wvu-video-feature" slot: slot %}
      {% when 'youtube-playlist' %}{% render "components/wireframes/wvu-youtube-playlist" slot: slot %}
      {% else %}ERROR: Unsupported component '{{ slot.value }}'
    {% endcase %}
  {% elsif slot.custom != blank %}
    {% render "utilities/custom_components" slot: slot %}
  {% endif %}
{% endfor %}
