.btn {
  text-decoration: none $global-important;
}

@each $text-color in $light-theme-colors {
  .btn-#{$text-color} {
    color: $wvu-neutral--black $global-important;
  }
}

@each $text-color in $light-theme-colors {
  .btn-outline-#{$text-color} {
    &:hover {
      color: #000 $global-important;
    }
  }
}

@each $text-color in $dark-theme-colors {
  .btn-outline-#{$text-color} {
    &:hover {
      color: #FFF $global-important;
    }
  }
}

@each $text-color, $text-value in $theme-colors {
  .text-#{$text-color} {
    a:link:not(.btn), a:visited:not(.btn) {
      color: inherit $global-important;
    }
  }
}
