// NOTE: These are temporary until I get Nathan to allow us to add Bootstrap’s classes to our nav and sub-nav.

@mixin font-awesome-external-link() {
  font: var(--fa-font-solid) $global-important;
  content: "\f08e" $global-important;
  display: none $global-important;
}

#nav-primary {
  z-index: $wvu-z-index-primary-nav $global-important;
}

.nav-item {
  ul {
    list-style-type: none;
  }
}

.nav-link {
  &.active {
    background-color: $gray-100;
  }
}

.nav-secondary--open {
  ul {
    // font-size: $small-font-size;
    font-weight: $font-weight-normal;
    list-style-type: none;
    padding-left: $spacer * 0.5;
  }
}

.cs-external-link {
  svg {
    font-size: .8rem $global-important;
    margin-left: 5px $global-important;
  }
  &::after {
    @include font-awesome-external-link();
  }
}
