.wireframe .wf-border {
  align-self:center;
  background:transparent;
  transition:all .5s ease;
  color:#41403E;
  letter-spacing:1px;
  outline:none;
  box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  border:solid 7px #41403E !important;
}

