{%- liquid
  assign items = page.children
-%}

{% capture component_content %}
  <div class="container">
    <ul class="wvu-ul-chevrons">
      {% if edit_mode or component.component.region_names.main != blank %}
        <div class="mb-4">
          {% editable_region name: component.region_names.main scope: component.scope %}
        </div>
      {% endif %}
      {% for childPage in items %}
        <li><a href="{{ childPage.url }}">{{ childPagealternate_name | default: childPage.name }}</a></li>
      {% endfor %}
    </ul>
  </div>
{% endcapture %}

{% render "utilities/wvu-component-tag/wvu-component-tag--v1" component: component, content: component_content %}
{% render "includes/wvu-component-footer/wvu-component-footer--v1" component: component %}
