{%- liquid
  if component.bgStyler != blank
    unless component.classes contains "luminosity"
      assign heroBodyClasses = 'wvu-bg-tint p-3 p-lg-4 my-n4'
    endunless
  endif

  if component.primaryHeading == 'h1'
    assign htag = 'h1'
  elsif component.primaryHeading == 'h2'
    assign htag = 'h2'
  else
    assign htag = 'h1'
  endif
-%}

{% capture component_content %}
  <div class="container position-relative wvu-z-index-content">
    <div class="row py-5{% if page.data.hero_text_alignment == '1' %} justify-content-end{% endif %}">
      <div class="col col-md-6 {% if component.align == 'right' %}ms-md-auto{% elsif component.align == 'middle' %}mx-md-auto{% endif %}">
        <div class="{{ heroBodyClasses }}">
          <div class="wvu-z-index-content">
            {% content_for "styleEditor" %}
              <small class='wvu-z-index-content d-block mb-2 text-left text-muted p-1 bg-wvu-neutral--dark-gray bg-wvu-accent--blue-dark no-preview'>Header classes:
                <div class='mb-0 text-white'>{% editable_region name: component.region_names.headerClasses, type: 'simple', scope: component.scope %}</div>
                <strong class='text-muted'>Default classes:</strong> <pre class='mb-0 text-muted'>{{ component.defaultHeaderClasses }}</pre>
              </small>
            {% endcontent_for %}
            {% if edit_mode %}
              <button type="button" class="btn btn-secondary" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-html="true" data-bs-content="{{ content_for['styleEditor'] }}">
                Edit Styles
              </button>
            {% endif %}
            {% if edit_mode %}<span class="d-inline-block badge bg-primary mb-1 no-preview">Header</span>{% endif %}
            <{{ htag }} id="{{ component.name }}-label" class="{{ page.content[component.region_names.headerClasses] | default: component.defaultHeaderClasses }}">
              {% comment %}<!-- Use the editable region name for th header section of the hero, which you defined above. -->{% endcomment %}
              {% editable_region name: component.region_names.header, scope: component.scope, type: "simple", placeholder="It Starts Now" %}
            </{{ htag }}>
            {% if edit_mode %}<span class="d-inline-block badge bg-primary mb-1 no-preview">Main Content</span>{% endif %}
            {% editable_region_block name: component.region_names.main scope: component.scope %}
              <p class="lead py-2">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
              <a class="btn btn-primary btn-lg" href="#">Call to Action</a>
            {% endeditable_region_block %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endcapture %}

{% render "utilities/wvu-component-tag/wvu-component-tag--v1" component: component, content: component_content %}
{% render "includes/wvu-component-footer/wvu-component-footer--v1" component: component %}

{% content_for "page_js" %}
  <script>
    var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
    var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
      return new bootstrap.Popover(popoverTriggerEl)
    })
  </script>
{% endcontent_for %}