{%- liquid
  assign componentHeaderLabel = 'wvu-CNAME__label' | replace: 'CNAME', component.name
  assign componentSubhead = 'wvu-CNAME__subhead' | replace: 'CNAME', component.name
  assign subheadClasses = 'wvu-CNAME-subhead-classes' | replace: 'CNAME', component.name
  assign defaultSubheadClasses = component.defaultSubheadClasses
  assign headerSubnavRegionName = component.name | append: '__sub-nav'
  assign pageAncestors = page.ancestors

  assign bgTag1 = 'backpage-header-background'
  assign bg1 = site | first_random_image_tagged_with: label: bgTag1 | image_url: size: '1780x580' | css_background_image

  assign bg2 = ''
  for ancestor in pageAncestors.all
    if bg2 != blank
      assign isBroken = 'yes'
      break
    else
      assign bgTag2 = 'SLUG-section-header-background' | replace: 'SLUG', ancestor.slug
      assign bg2 = site | first_random_image_tagged_with: label: bgTag2 | image_url: size: '1780x580' | css_background_image
    endif
  endfor

  assign bgTag3 = 'SLUG-CNAME-background' | replace: 'SLUG', page.slug | replace: 'CNAME', component.name
  assign bg3 = site | first_random_image_tagged_with: label: bgTag3 | image_url: size: '1780x580' | css_background_image

  assign styleVal = ''

  if bg1
    assign styleVal = bg1 | append: '; '
  endif

  if bg2
    assign styleVal = styleVal | append: bg2 | append: '; '
  endif

  if bg3
    assign styleVal = styleVal | append: bg3
  endif

  if styleVal != blank
    assign styleAttr = styleVal | prepend: 'style="' | append: '"'
  endif

  assign mainTagClasses = page.content[component.region_names.classes] | default: site.data['classes_wvu_backpage_header'] | default: component.defaultComponentClasses
%}

<!-- Ancestor Root Page: {{ bgTag2 }} Filename: {{ bg2 }} Did for loop break? {{ isBroken }}-->

<div class="py-3 {{ mainTagClasses }}" {{ styleAttr }} >
  <div class="container position-relative wvu-z-index-content">
    <div class="row align-items-stretch">
      <div class="col-8 mt-5">
        {% if page.data.header_label == '1' %}
          <p class="helvetica-neue-light mb-1">
            <span class="text-uppercase">
              {% comment %}<!-- This is just a label for the editable region that follows in order to make it clear to content editors what the region is for (in case they delete content and forget). -->{% endcomment %}
              {% if edit_mode %}<span class="d-inline-block badge bg-primary mb-1">Label</span>{% endif %}
              {% editable_region_block name: componentHeaderLabel %}
                <span class="wvu-shout text-wvu-gold text-uppercase">Label pre</span> <span class="text-uppercase">Label Post</span>
              {% endeditable_region_block %}
            </span>
          </p>
        {% endif %}
        {% comment %}<!-- This is where you can add utility classes that will apply to the heading. -->{% endcomment %}
        {% if edit_mode %}
          <small class="wvu-z-index-content d-block mb-2 text-left text-muted py-1 px-2 bg-wvu-neutral--dark-gray"><strong>Header classes:</strong> (Default: {{ component.defaultHeaderClasses }})
            <div class="mb-1 text-white">{% editable_region name: component.region_names.headerClasses, type: "simple" %}</div>
          </small>
        {% endif %}
        {% comment %}<!-- Apply classes to the header. If supplied by user, use those. If not use default. -->{% endcomment %}
        <h1 id="{{ component.name }}-label" class="{{ page.content[component.region_names.headerClasses] | default: site.data['classes_wvu_backpage_header__h1'] | default: component.defaultHeaderClasses }}">{{ page.alternate_name | default: page.name }}</h1>
        {% comment %}<!-- If user has toggled the “Header has subhead?” option in their page data, display a subhead region. -->{% endcomment %}
        {% if edit_mode or page.content[componentSubhead] != blank %}
          {% if edit_mode %}
            <div class="d-inline-block badge bg-primary mb-1 mt-2">Subhead / Title (optional)</div>
            <small class="wvu-z-index-content d-block mb-2 text-left text-muted py-1 px-2 bg-wvu-neutral--dark-gray"><strong>Subhead classes</strong> (Default: {{ defaultSubheadClasses }})
              <div class="mb-1 text-white">{% editable_region name: subheadClasses, type: "simple" %}</div>
            </small>
          {% endif %}
          <div class="{{ page.content[subheadClasses] | default: defaultSubheadClasses }}">
            {% editable_region name: componentSubhead, type: "simple" %}
          </div>
        {% endif %}
      </div>
      {% if page.data.activate_header_subnav == '1' %}
        <div class="col-md-4 d-flex align-items-center">
          <div class="wvu-bg-tint p-3 w-100">
            <div class="wvu-z-index-max">
              <h2 id="header-select-menu-label" class="text-uppercase text-white h6">In This Section:</h2>
              <div class="dropdown">
                <button class="btn btn-white btn-lg bs-dropdown-toggle w-100 text-start d-flex align-items-center justify-content-between" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  Select Page <span aria-hidden="true" class="fa-solid fa-angle-down float-right"></span>
                </button>
                <ul class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton1">
                  {% for page in page.children %}
                    <li><a class="dropdown-item" href="{{ page.url }}">{{ page.alternate_name | default: page.name }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      {% else %}
        {% if edit_mode or page.content[headerSubnavRegionName] != blank %}
          <div class="col-md-4 mt-3 mt-md-0">
            <div class="d-flex align-items-center h-100">
              <div class="flex-grow-1">
                {% if edit_mode %}
                  <div class="alert alert-info p-2 mb-2 small">
                    <p class="mb-0"><strong class="text-uppercase">Tip:</strong> You can use this region to <a class="text-wvu-blue" href="https://dsws.sandbox.wvu.edu/shared-cleanslate-partials/theme-development-and-site-configuration-how-tos-and-tips/add-a-dropdown-menu-to-a-page-header">insert a dropdown menu</a> and link to sections on this page. You can also generate a dropdown automatically that links to this page’s children by checking the “Activate Header Subnav” option in your page properties.</p>
                  </div>
                {% endif %}
                {% editable_region name: headerSubnavRegionName %}
              </div>
            </div>
          </div>
        {% endif %}
      {% endif %}
    </div>
  </div>
</div><!-- End markup -->

{% render "includes/wvu-component-footer/wvu-component-footer--v1" component: component %}
