{%- liquid
  assign headerClasses = page.content[component.region_names.headerClasses] | default: component.defaultHeaderClasses

  if component.primaryHeading == 'h1'
    assign htag = 'h1'
  elsif component.primaryHeading == 'h2'
    assign htag = 'h2'
  else
    assign htag = 'h2'
  endif
-%}

{% capture component_content %}
  <div class="row ms-0 me-0">
    {% if component.align != 'right' %}
      <div class="col-md-6 wvu-bg-size-cover {{ component.classes }}" {{ component.bgStyler }}>

      </div>
    {% endif %}
    <div class="col-md-6 me-auto bg-light py-5 wvu-z-index-content{% if component.align == 'right' %} text-end{% endif %}">

      {% comment %}<!-- This is where you can add utility classes that will apply to the hero’s heading. -->{% endcomment %}
      {% if edit_mode %}
        <small class="wvu-z-index-content d-block mb-2 text-left text-muted p-1 bg-wvu-neutral--dark-gray">Header classes:
          <pre class="mb-0 text-white">{% editable_region name: component.region_names.headerClasses, type: "simple", scope: component.scope %}</pre>
          <strong class="text-muted">Default classes:</strong> <pre class="mb-0 text-muted">{{ component.defaultHeaderClasses }}</pre>
        </small>
        {% comment %}<!-- This is just a label for the editable region that follows in order to make it clear to content editors what the region is for (in case they delete content and forget). -->{% endcomment %}
        <span class="d-inline-block badge bg-primary mb-1">Header</span>
      {% endif %}
      {% comment %}<!-- For the h2, apply an ID that will tell screanreaders to use this element as the label for the section. Also apply classes to the header. If supplied by user, use those. If not use default. -->{% endcomment %}
      <{{ htag }} id="{{ component.name }}-label" class="{{ headerClasses }}{% if component.align != 'right' %} ms-md-n5{% endif %}{% if component.align == 'right' %} me-md-n5 float-end{% endif %}">{% editable_region name: component.region_names.header, scope: component.scope, type: "simple" placeholder: 'Emerging mobile ready drone.' %}</{{ htag }}>
      <div class="{% if component.align != 'right' %}ps-3{% endif %}{% if component.align == 'right' %}pe-3 float-end{% endif %}">
        {% comment %}<!-- This is just a label for the editable region that follows in order to make it clear to content editors what the region is for (in case they delete content and forget). -->{% endcomment %}
        {% if edit_mode %}<span class="d-inline-block badge bg-primary mb-1">Main Content</span>{% endif %}
        {% comment %}<!-- Editable region for main content. -->{% endcomment %}
        <div class="wvu-p-max-width">
          {% editable_region_block name: component.region_names.main, scope: component.scope %}
            <p class="iowan-old-style-italic text-wvu-blue h1">Iterative disrupt click bait.</p>
            <p class="lead mb-3">Tablet optimized for social sharing native content dynamic content. CPM granular hackathon intuitive vertical-specific hashtag. Gen Y cross-device engagement brand awareness.</p>
            <a href="#" class="btn btn-primary">Action Item</a>
          {% endeditable_region_block %}
        </div>
      </div>
    </div>
    {% if component.align == 'right' %}
      <div class="col-md-6 wvu-bg-size-cover {{ component.classes }}" {{ component.bgStyler }}>

      </div>
    {% endif %}
  </div>
{% endcapture %}

{% render "utilities/wvu-component-tag/wvu-component-tag--v1" component: component, content: component_content %}
{% render "includes/wvu-component-footer/wvu-component-footer--v1" component: component %}
