<section aria-label="Join or See Benefits" class="bg-dark text-white">
  <div class="container-fluid px-0">
    <div class="row gx-0">
      <div class="col-md-6">
        <div class="px-3 py-5 px-xl-4 bg-wvu-blue h-100">
          <div class="row">
            <div class="col-xl-9 mx-xl-auto">
              {% editable_region_block name: 'alumni-double-hero__join' %}
                <h2 class="wvu-shout display-4 wvu-header-max-width wvu-bar">Join the Alumni Association</h2>
                <p class="fs-5 my-3 wvu-p-max-width">At the WVU Alumni Association we create connection and community for
                  people who love West Virginia University. Help us
                  <strong class="text-wvu-accent--blue-light">support new programs</strong>
                  for alumni and
                  <strong class="text-wvu-accent--blue-light">scholarships</strong> for current students at WVU by becoming a member
                  today.
                </p>
                <a href="#" class="btn btn-lg btn-outline-wvu-gold">Join Today
                  <span class="fa-regular fa-arrow-circle-right" aria-hidden="true"></span>
                </a>
                <ul class="mt-3 wvu-ul-chevrons wvu-ul-chevrons-wvu-gold">
                  <li>Are you a new grad?
                    <a class="text-wvu-gold" href="#">Claim your membership</a> so you
                    <strong class="text-wvu-accent--blue-light">don't lose it</strong>.</li>
                </ul>
              {% endeditable_region_block %}
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="px-3 py-5 px-xl-4 bg-wvu-gold text-wvu-blue h-100">
          <div class="row">
            <div class="col-xl-9 mx-xl-auto">
              {% editable_region_block name: 'alumni-double-hero__why-join' %}
                <h2 class="wvu-shout display-4 wvu-header-max-width wvu-bar wvu-bar--blue">Why join?</h2>
                <ul class="list-unstyled fs-4 mb-0 mt-3">
                  <li class="d-flex lh-1 mb-2">
                    <span class="fa-regular fa-globe-americas me-1" aria-hidden="true"></span>
                    <span>Travel the world with fellow alums.</span>
                  </li>
                  <li class="d-flex lh-1 mb-2">
                    <span class="fa-regular fa-ticket me-1" aria-hidden="true"></span>
                    <span>Get priority tickets to WVU sporting events.</span>
                  </li>
                  <li class="d-flex lh-1 mb-2">
                    <span class="fa-regular fa-user-group me-1" aria-hidden="true"></span>
                    <span>Network with fellow alumni at exclusive events.</span>
                  </li>
                  <li class="d-flex lh-1 mb-2">
                    <span class="fa-regular fa-money-bills me-1" aria-hidden="true"></span>
                    <span>Get deals on products and services.</span>
                  </li>
                  <li class="d-flex lh-1 mb-2">
                    <span class="fa-regular fa-shirt me-1" aria-hidden="true"></span>
                    <span>Exclusive WVU Alumni clothing, license plates, and more.</span>
                  </li>
                </ul>
                <a href="#" class="btn btn-lg btn-outline-wvu-blue mt-3">View Benefits
                  <span class="fa-regular fa-arrow-circle-right" aria-hidden="true"></span>
                </a>
              {% endeditable_region_block %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>