{%- define_component component %}
  {
    "baseName": "big-search",
    "defaultComponentClasses": "text-center bg-wvu-gold wvu-bg-topo-dark text-wvu-blue",
    "mainTagClasses": "py-5"
  }
{%- enddefine_component %}

{% capture component_content %}
  <div class="container position-relative">

    {% if edit_mode or page.content[component.region_names.header] != blank %}
      <div class="wvu-z-index-content">
        {% if edit_mode %}<span class="d-inline-block badge bg-primary mb-1 no-preview">Header</span>{% endif %}
        {% editable_region_block name: component.region_names.header scope: component.scope %}
          <h2 id="{{ component.name }}-label" class="display-2 wvu-shout mb-2">Big Search Header</h2>
          <p class="helvetica-neue-light h3 mb-0">Type your search term below.</p>
        {% endeditable_region_block %}
      </div>
    {% endif %}

    <div class="row d-flex justify-content-center my-2">
      <div class="col-md-6 mx-auto">
        <div class="row mb-2">
          <div class="col-md-12">
            <form id="search-form" autocomplete="off" class="position-relative w-100" action="https://search.wvu.edu/search">
              <label for="search" class="visually-hidden">Search</label>
              <input
                autocomplete="off"
                type="search"
                name="search"
                id="search"
                class="wvu-z-index-content shadow form-control p-2 border-end-0 border-top-0 border-start-0 border-bottom-1 border-bottom-dark mt-3"
                placeholder="Search"
              />
              <div id="search-results" class="wvu-z-index-max btn-group-vertical position-absolute bg-white w-100 text-start" style="left: 0;"></div>
            </form>
          </div>
        </div>
      </div>
    </div>

    {% if edit_mode or page.content[component.region_names.postscript] != blank %}
      <div class="wvu-z-index-content">
        {% if edit_mode %}<span class="d-inline-block badge bg-primary mb-1 no-preview">Postscript</span>{% endif %}
        {% editable_region_block name: component.region_names.postscript scope: component.scope %}
          <p class="mb-0">Not sure what to search for? Browse our <a class="text-wvu-blue" href="#">categories</a>.</p>
        {% endeditable_region_block %}
      </div>
    {% endif %}
  </div>
  <div class="d-none">
    {%- liquid
      assign startPage = site | get_page: 171476
      assign items = startPage.children
      assign i = 0
    -%}
    {% content_for "searchData" %}[
    {%- for item in items %}
      {
        "name": "{{ item.name }}",
        "keywords": "{{ item.name }},{{ item.data.content_keys | strip }}",
        "href": "{{ item.url }}"
      }{% assign i = i | plus: 1 %}{% if i < items.length %},{% endif %}
    {%- endfor %}
    ]{% endcontent_for %}
    <pre><code id="search-data">{{ content_for['searchData'] }}</code></pre>
  </div>
{% endcapture %}

{% render "utilities/wvu-component-tag/wvu-component-tag--v1" component: component, content: component_content %}
{% render "includes/wvu-component-footer/wvu-component-footer--v1" component: component %}

{% content_for "header_extras" %}
  {% link_javascript name: "search", type: "module" %}
{% endcontent_for %}