{%- liquid
  assign giftPage = site | get_page: 170781
  assign awardsPage = site | get_page: 170779
  assign root = startPage | default: site.root_page
  assign posterPages = root.descendants | filter_pages: tags: 'home-event-poster'
  assign awardsPages = awardsPage.descendants | filter_pages: tags: 'home-award'
  assign giftPages = giftPage.children | filter_pages: hidden: true
-%}
<section aria-label="Featured Events and Giving" class="py-5">
  <div class="container wvu-z-index-content">
    <div class="row">
      <div class="mb-4 mb-lg-0 col-md-6 col-lg-3">
        <h3 class="wvu-shout wvu-bar text-wvu-blue">
          {% editable_region name: 'alumni-events__header' type: 'simple', placeholder: 'Upcoming Events' %}
        </h3>
        {% editable_region_block name: 'alumni-events__feed' %}
          <p>Put calendar feed here.</p>
          <ul class="list-unstyled small">
            <li>
              <a href="#" class="text-decoration-none d-flex align-items-center">
                <span class="fa-regular fa-calendar me-1" aria-hidden="true"></span> Full Calendar
              </a>
            </li>
            <li>
              <a href="#" class="text-decoration-none d-flex align-items-center">
                <span class="fa-regular fa-sportsball me-1" aria-hidden="true"></span> Sports Calendar
              </a>
            </li>
            <li>
              <a href="#" class="text-decoration-none d-flex align-items-center">
                <span class="fa-regular fa-party-horn me-1" aria-hidden="true"></span> Signature Events
              </a>
            </li>
            <li>
              <a href="#" class="text-decoration-none d-flex align-items-center">
                <span class="fa-regular fa-bullseye-pointer me-1" aria-hidden="true"></span> Submit an Event</a>
            </li>
          </ul>
        {% endeditable_region_block %}
      </div>
      <div class="mb-3 mb-lg-0 col-md-6 col-lg-3">
        {% for poster in posterPages limit: 1 %}
          {% assign posterThumbnailSrc = poster.data.thumbnail_url_vert | build_image_url: size: '640x960', format: 'webp' %}
          <div class="wvu-bg-position-center wvu-bg-size-cover h-100 d-flex align-items-end"
          style="background-image: url('{{ posterThumbnailSrc }}')">
            <div class="wvu-z-index-content text-white mb-3">
              <div class="bg-wvu-neutral--cream text-wvu-blue p-2">
                <div class="p-1">
                  <h3 class="wvu-shout">{{ poster.alternate_name | default: poster.name }}</h3>
                  <p class="small">
                    {{ poster.data.description }}
                  </p>
                  <a href="{{ poster.url }}" class="btn btn-outline-wvu-blue btn-sm text-wvu-neutral--black">More Info<span class="visually-hidden">: {{ poster.alternate_name | default: poster.name }}</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>

      <div class="col-md-6 col-lg-3 d-flex flex-column">
        <div class="flex-fill d-flex flex-column justify-content-between">
          {% assign i = 1 | times: 1 %}
          {% for award in awardsPages limit: 2 %}
            {% assign awardThumbnailSrc = award.data.thumbnail_url | build_image_url: size: '960x640', format: 'webp' %}
            <div class="position-relative flex-fill {% cycle "bg-wvu-accent--blue-dark text-wvu-neutral--cream", "bg-wvu-accent--blue-light text-wvu-blue" %} {% if i = 1 %}mb-2{% endif %} d-flex flex-column justify-content-between p-2 wvu-bg-size-cover wvu-bg-blend-mode-luminosity" style="background-image: url('{{ awardThumbnailSrc }}')">
              <div class="wvu-z-index-content d-flex flex-column justify-content-between h-100">
                <p class="small">
                  <span class="fa-regular fa-award" aria-hidden="true"></span> Awards</p>
                <h4 class="wvu-shout mb-0"><a href="{{ award.url }}" class="stretched-link text-decoration-none {% cycle "text-wvu-neutral--cream", "text-wvu-blue" %}">{{ award.alternate_name | default: award.name }}</a>
                  <span class="fa-regular fa-arrow-down-right"></span>
                </h4>
              </div>
            </div>
            {% assign i = i | plus: 1 %}
          {% endfor %}
        </div>
        <div class="mt-2 bg-light py-1 px-2">

          <p class="mb-0 small">
            <a href="/awards#action-hero-two-column-1" class="text-decoration-none">Nominate Someone
              <span class="fa-regular fa-pen-field" aria-hidden="true"></span>
            </a>
          </p>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="bg-wvu-neutral--warm-gray-dark text-white h-100">
          <h3 class="iowan-old-style px-2 px-lg-3 pt-2">
            <span class="fa-regular fa-hand-holding d-block mb-1" aria-hidden="true"></span>Give Back</h3>
          <div class="mt-2 iowan-old-style-black small btn-group-vertical w-100">
            <a href="/join-the-alumni-association" class="text-start py-1 px-2 px-lg-3 btn btn-sm btn-wvu-neutral--warm-gray-dark text-decoration-none d-flex w-100 justify-content-between text-wvu-neutral--cream">
              <span>Become a Member</span>
              <span class="fa-regular fa-arrow-right" aria-hidden="true"></span>
            </a>
            {% for page in giftPages %}
              <a href="{{ page.url }}" class="text-start py-1 px-2 px-lg-3 btn btn-sm btn-wvu-neutral--warm-gray-dark text-decoration-none d-flex w-100 justify-content-between text-wvu-neutral--cream">
                <span>{{ page.alternate_name | default: page.name }}</span>
                <span class="fa-regular fa-arrow-right" aria-hidden="true"></span>
              </a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>