{%- liquid

  assign newsPage = site | get_page: 170778
  assign podcastPage = site | get_page: 170871
  assign spotlightsPage = site | get_page: 171032
  assign blogPage = site | get_page: 170875

  assign newsPosterSrc = newsPage.data.thumbnail_url | build_image_url: size: '640x960', format: 'webp'

  assign podcastItems = podcastPage.children | filter_pages: tags: 'featured-podcast', limit: 1, hidden: true
  assign spotlightItems = spotlightsPage.children | filter_pages: tags: 'featured-spotlight', limit: 1, hidden: true
  assign blogItems = blogPage.articles | filter_pages: page: params.page, limit: 200, year: params.year, month: params.month, day: params.day

  assign blogItems = blogItems | sort: "published_at" | reverse

-%}
<section id="columns-2-1-1-1" aria-label="Alumni Stories" class="py-5">
  <div class="container wvu-z-index-content">
    <div class="row">
      <div class="mb-4 mb-lg-0 col-md-8 col-lg-6">
        <div class="p-4 wvu-bg-position-center wvu-bg-size-cover h-100" style="background-image: url(https://magazine.wvu.edu/files/bb34d616-f022-4044-959e-c237d2e32d6c/1780x1780.webp?cb=2a1fa6adf7f8dd1abfa6b5c192f52640)">
          <div class="row">
            <div class="col-sm-7 col-xl-5 col-xxl-4 me-md-auto wvu-z-index-content text-white">
              <div class="bg-wvu-blue ms-lg-n2 ms-xxl-n5">
                <h3 class="h6 small wvu-shout mx-3 text-wvu-gold mb-0 py-1">WVU
                  <span class="text-white helvetica-neue-light text-uppercase">Magazine</span>
                </h3>
                <div class="bg-wvu-neutral--cream text-wvu-blue p-3">
                  <h3 class="wvu-shout">Feared and Revered: All Eyes on AI</h3>
                  <p class="small">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                    accusantium dolorem quelaudantium.
                  </p>
                  <a href="#" class="btn btn-outline-wvu-blue btn-sm text-wvu-neutral--black">Read Story
                    <span class="fa-regular fa-arrow-up-right-from-square" aria-hidden="true"></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mb-4 mb-lg-0 col-md-4 col-lg-3">
        <div class="h-100 position-relative bg-wvu-blue text-white mb-2 d-flex flex-column justify-content-between p-2 p-xl-3 wvu-bg-size-cover wvu-bg-blend-mode-luminosity"
        style="background-image: url('{{ newsPosterSrc }}')">
          <div class="wvu-z-index-content d-flex flex-column justify-content-end h-100">
            <p class="small">
              <span class="fa-regular fa-newspaper"></span> WVUToday</p>
            <h4 class="wvu-shout text-wvu-gold">Alumni News
            </h4>
            <p class="small"><a class="stretched-link text-white text-decoration-none" href="https://wvutoday.wvu.edu/stories?tags=Alumni">Check out alumni news on WVUToday.</a>
            </p>
            <p class="mb-0">
              <span class="fa-regular fa-arrow-down-right text-wvu-gold h4"></span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 small">
        <div class="row">
          {% for spotlight in spotlightItems %}
            <div class="col-sm-4 col-lg-12">
              <h4 class="h6 wvu-text-letter-spacing iowan-old-style-black text-wvu-blue text-uppercase mb-2 mb-0 border-top border-black-50 border-1 pt-1">
                <span class="small">
                  <span class="fa-regular fa-lightbulb-on" aria-hidden="true"></span> Spotlight</span>
              </h4>
              <div class="row gx-1 mb-1">
                {% if spotlight.data.thumbnail_url_sq != blank %}
                  <div class="col">
                    <div class="ratio ratio-1x1 bg-light"></div>
                  </div>
                {% endif %}
                <div class="col-8">
                  <h5 class="h6 mb-0">{{ spotlight.alternate_name | default: spotlight.name }}</h5>
                  <p class="mb-1">
                    {{ spotlight.data.description }}
                  </p>
                </div>
              </div>
              <p>
                <a href="{{ spotlight.data.video_id }}" class="text-decoration-none">View Spotlight<span class="visually-hidden">: {{ spotlight.alternate_name | default: spotlight.name }}</span>
                  <span class="fa-brands fa-youtube text-youtube" aria-hidden="true"></span>
                </a>
                <span class="text-black-50">|</span>
                <a href="{{ spotlightsPage.url }}" class="text-decoration-none">All Spotlights
                  <span class="fa-regular fa-arrow-circle-right" aria-hidden="true"></span>
                </a>
              </p>
            </div>
          {% endfor %}
          <div class="col-sm-4 col-lg-12">
            <h4 class="h6 wvu-text-letter-spacing iowan-old-style-black text-wvu-blue text-uppercase mb-2 mb-0 border-top border-black-50 border-1 pt-1">
              <span class="small">
                <span class="fa-regular fa-podcast" aria-hidden="true"></span> All 'Eeers Podcast</span>
            </h4>
            <div class="row gx-1 mb-1">
              {% if podcastItems.data.thumbnail_url_sq != blank %}
                <div class="col">
                  <div class="ratio ratio-1x1 bg-light"></div>
                </div>
              {% endif %}
              <div class="col-8">
                <h5 class="h6 mb-0">{{ podcastItems.alternate_name | default: podcastItems.name }}</h5>
                <p class="mb-1">
                  {{ podcastItems.data.description }}
                </p>
              </div>
            </div>
            <p>
              <a href="{{ podcastItems.url }}" class="text-decoration-none">Listen<span class="visually-hidden">: {{ podcastItems.alternate_name | default: podcastItems.name }}</span>
                <span class="fa-regular fa-ear" aria-hidden="true"></span>
              </a>
            </p>
          </div>
          {% for article in blogItems limit: 1 %}
            <div class="col-sm-4 col-lg-12">
              <h4 class="h6 wvu-text-letter-spacing iowan-old-style-black text-wvu-blue text-uppercase mb-2 mb-0 border-top border-black-50 border-1 pt-1">
                <span class="small">
                  <span class="fa-regular fa-rss" aria-hidden="true"></span> From Down the Hall</span>
              </h4>
              <h5 class="h6 mb-0">{{ article.alternate_name | default: article.name }}</h5>
              <p class="mb-1">
                {{ article.data.description }}
              </p>
              <p>
                <a href="{{ article.url }}" class="text-decoration-none">Read<span class="visually-hidden">: {{ article.alternate_name | default: article.name }}</span>
                  <span class="fa-regular fa-glasses" aria-hidden="true"></span>
                </a>
                <span class="text-black-50">|</span>
                <a href="{{ blogPage.url }}" class="text-decoration-none">More Articles
                  <span class="fa-regular fa-arrow-circle-right" aria-hidden="true"></span>
                </a>
              </p>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>