<section class="py-5">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<h2 class="h6 text-uppercase">Filter 1</h2>
				<form>
				  <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
				    <option selected="">Open this select menu</option>
				    <option value="1">One</option>
				    <option value="2">Two</option>
				    <option value="3">Three</option>
				  </select>
				</form>
				<h2 class="h6 text-uppercase">Filter 2</h2>
				<form>
				  <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
				    <option selected="">Open this select menu</option>
				    <option value="1">One</option>
				    <option value="2">Two</option>
				    <option value="3">Three</option>
				  </select>
				</form>
				<div class="pt-1 bg-wvu-gold">
				  <div class="bg-white shadow p-4">
				    <p class="wvu-shout text-wvu-blue h6 mb-0">Potomac State</p>
				    <h2 class="text-wvu-blue iowan-old-style-black mt-0">Undergraduate</h2>
				    <p class="my-2">
				      <strong>Duration of Studies on I-20 (Pre-Majors / Pathways 5 years):</strong> 4 years</p>

				    <table class="table mb-0">
				      <thead class="table-light helvetica-neue-bold text-uppercase">
				        <tr>
				          <th scope="col" class="pt-2">Type</th>
				          <th scope="col" class="pt-2">Cost</th>
				        </tr>
				      </thead>
				      <tbody>
				        <tr>
				          <th scope="row">University Tuition, College Tuition &amp; Fees</th>
				          <td>$26,968</td>
				        </tr>
				        <tr>
				          <th scope="row">University Tuition &amp; Fees (Waived)</th>
				          <td>$26,968</td>
				        </tr>
				        <tr>
				          <th scope="row">Program Cost</th>
				          <td>$2,434</td>
				        </tr>
				        <tr>
				          <th scope="row">Living Expenses</th>
				          <td>$14,850</td>
				        </tr>
				        <tr>
				          <th scope="row">9 Months Living Expenses</th>
				          <td>$14,850</td>
				        </tr>
				        <tr>
				          <th scope="row">Health Insurance</th>
				          <td>$2,434</td>
				        </tr>
				        <tr>
				          <th scope="row">Education Abroad Fee</th>
				          <td>$2,434</td>
				        </tr>
				        <tr>
				          <th scope="row">Room</th>
				          <td>$2,434</td>
				        </tr>
				        <tr>
				          <th scope="row">Meals</th>
				          <td>$2,434</td>
				        </tr>
				        <tr>
				          <th scope="row">Books, Supplies, &amp; Transportation Expenses</th>
				          <td>$2,434</td>
				        </tr>
				        <tr>
				          <th scope="row">Books, Supplies, Transportation, &amp; Health Insurance</th>
				          <td>$2,434</td>
				        </tr>
				        <tr>
				          <th scope="row">Personal Expenses</th>
				          <td>$2,434</td>
				        </tr>


				      </tbody>
				      <tfoot>
				        <tr class="fs-4 helvetica-neue-bold">
				          <th scope="row" class="pb-3">
				            Total
				          </th>
				          <td class="pb-3">$44,252</td>
				        </tr>
				        <tr>
				          <th scope="row">Total Less University Tuition &amp; Fees</th>
				          <td>$44,252</td>
				        </tr>
				        <tr>
				          <th scope="row">Total Less Room</th>
				          <td>$44,252</td>
				        </tr>
				        <tr>
				          <th scope="row">Total Less Room &amp; Meals</th>
				          <td>$44,252</td>
				        </tr>
				      </tfoot>
				    </table>
				  </div>
				</div>
			</div>
		</div>
	</div>
</section>