{% assign jsonData = site.files | filter_files: tags: costs, types: "file", limit: 1 %}
{% assign cards = jsonData | web_request | parse_json %}

<main id="wvu-main-content" class=" py-5 wvu-backpage-main">
	<div id="jsonData" class="d-none">{{ cards }}</div>
	<div class="container wvu-z-index-content">
	  <div class="row">
		<div class="col-md-8">
		  
		  <h2 class="h6 text-uppercase">Step 1: Choose Organization</h2>
		  <form>
			<select class="form-select form-select-lg mb-3" id="calculator-dropdown--organizations" aria-label=".form-select-lg example">
			  <option selected>Organizations</option>
			</select>
		  </form>
		  <h2 class="h6 text-uppercase">Step 2: Choose Related Program</h2>
		  <form>
			<select class="form-select form-select-lg mb-3" id="calculator-dropdown--programs" aria-label=".form-select-lg example">
			  <option selected>Choose an organization first.</option>
			</select>
		  </form>
		  <div id="cost-card" class="pt-1 bg-wvu-gold shadow d-none">
			<div class="bg-white p-4">
			  <p class="wvu-shout text-wvu-blue h6 mb-0" id="calculator-data--org"></p>
			  <h2 class="text-wvu-blue iowan-old-style-black mt-0" id="calculator-data--program"></h2>
			  <p class="my-2">
				<strong>Duration of Studies on I-20:</strong> <span id="calculator-data--duration"></span>
			  </p>

			  <table class="table mb-0">
				<thead class="table-light helvetica-neue-bold text-uppercase">
				  <tr>
					<th scope="col" class="pt-2">Type</th>
					<th scope="col" class="pt-2">Cost</th>
				  </tr>
				</thead>
				<tbody>
				  <tr>
					<th scope="row">University Tuition, College Tuition &amp; Fees</th>
					<td id="calculator-data--utuition"></td>
				  </tr>
				  <!-- <tr>
					<th scope="row">University Tuition &amp; Fees (Waived)</th>
					<td id="calculator-data--utuition-waived"></td>
				  </tr> -->
				  <tr>
					<th scope="row">Program Cost</th>
					<td id="calculator-data--program-cost"></td>
				  </tr>
				  <tr>
					<th scope="row">Living Expenses</th>
					<td id="calculator-data--living-expenses"></td>
				  </tr>
				  <tr>
					<th scope="row">Health Insurance</th>
					<td id="calculator-data--insurance"></td>
				  </tr>
				  <tr>
					<th scope="row">Education Abroad Fee</th>
					<td id="calculator-data--edu-abroad"></td>
				  </tr>
				  <tr>
					<th scope="row">Housing</th>
					<td id="calculator-data--housing"></td>
				  </tr>
				  <tr>
					<th scope="row">Meals</th>
					<td id="calculator-data--meals"></td>
				  </tr>
				  <tr>
					<th scope="row">Books, Supplies, &amp; Transportation Expenses</th>
					<td id="calculator-data--supplies"></td>
				  </tr>
				  <tr>
					<th scope="row">Books, Supplies, Transportation, &amp; Health Insurance</th>
					<td id="calculator-data--supplies-insurance"></td>
				  </tr>
				  <tr>
					<th scope="row">Personal Expenses</th>
					<td id="calculator-data--personal"></td>
				  </tr>
				</tbody>
				<tfoot>
				  <tr class="fs-4 helvetica-neue-bold">
					<th scope="row" class="pb-3">
					  Total
					</th>
					<td class="pb-3" id="calculator-data--total"></td>
				  </tr>
				  <tr>
					<th scope="row">Total Less University Tuition &amp; Fees</th>
					<td id="calculator-data--total-less-tuition"></td>
				  </tr>
				  <tr>
					<th scope="row">Total Less Housing</th>
					<td id="calculator-data--total-less-room"></td>
				  </tr>
				  <tr>
					<th scope="row">Total Less Housing &amp; Meals</th>
					<td id="calculator-data--total-less-room-meals"></td>
				  </tr>
				  <tr>
					<th scope="row">9-Month Tuition Waiver Value</th>
					<td id="calculator-data--waiver-value"></td>
				  </tr>
				  <tr>
					<th scope="row">Total Less Waiver Only</th>
					<td id="calculator-data--total-less-waiver"></td>
				  </tr>
				  <tr>
					<th scope="row">Total Less Waiver &amp; Insurance</th>
					<td id="calculator-data--total-less-waiver-insurance"></td>
				  </tr>
				</tfoot>
			  </table>
			</div>
		  </div>
		</div>

	  <aside class="wvu-sidebar col-md-3 mt-4 mt-md-0 text-start ms-md-auto" aria-label="backpage-1-sidebar">
		<div class="sticky-top pt-3 mt-n3">
		  <div class="mb-3" id="calculator-data--json">
		  </div>
		</div>
	  </aside>
	  </div>
	</div>
</main>

{% content_for "page_js" %}
	<script>
		
		var data = document.getElementByID.text

		function addData(value, key) {
			var output = (value === '') ? '---' : value;
			var parentTr = document.getElementById(key).parentNode
			document.getElementById(key).innerHTML = output;
			if (value === '' && key != 'calculator-data--total') {
				parentTr.className = 'd-none'
			} else {
				parentTr.classList.remove('d-none')
			}
		}

		// default info
		var dropdownProgram = document.getElementById('calculator-dropdown--programs');
		var dropdownOrg = document.getElementById('calculator-dropdown--organizations');
		var dropdownOrgValue = '';

		// fill out first dropdown
		var dropdownOrgs = [];
		for (var i = 0; i < data.length; i++) {
		var org = data[i].Org;
		if (dropdownOrgs.indexOf(org) === -1) {
			var optionOrg = document.createElement('option');
			optionOrg.innerHTML = org;
			optionOrg.value = org;
			dropdownOrg.append(optionOrg);
			dropdownOrgs.push(org);
		}
		}

		// fill out the second drop down based on first option
		dropdownOrg.onchange = function(event) {
		
			var els = document.querySelectorAll('#calculator-dropdown--programs option[value]');
			Array.prototype.forEach.call(els, function(node) {
				node.parentNode.removeChild(node);
			});
			var el = document.querySelector('#calculator-dropdown--programs option:not([value])');
			el.innerHTML = (event.target.value !== 'Organizations') ? 'Programs' : 'Choose an organization first.';
			dropdownOrgValue = (event.target.value !== 'Organizations') ? event.target.value : '';
			var selectedOrg = event.target.value;
			for (var i = 0; i < data.length; i++) {
				var org = data[i].Org;
				if (org === selectedOrg) {
					var program = data[i].Program;
					var optionProgram = document.createElement('option');
					optionProgram.innerHTML = program;
					optionProgram.value = program;
					dropdownProgram.append(optionProgram);
				}
			}

		}

		dropdownProgram.onchange = function(event) {
			document.getElementById('cost-card').classList.remove('d-none')
			var output = {};
			var selectedProgram = event.target.value;
			for (var i = 0; i < data.length; i++) {
				var org = data[i].Org;
				var program = data[i].Program;
				if ((org === dropdownOrgValue) && (program === selectedProgram)) {
					addData(data[i]["Org"],'calculator-data--org');
					addData(data[i]["Program"],'calculator-data--program');
					addData(data[i]["Duration of Studies"],'calculator-data--duration');
					addData(data[i]["University Tuition, College Tuition & Fees"],'calculator-data--utuition');
					// addData(data[i]["University Tuition & Fees (Waived)"],'calculator-data--utuitio-waived');
					// calculator-data--utuition-waived
					addData(data[i]["Program Cost"],'calculator-data--program-cost');
					addData(data[i]["Education Abroad Fee"],'calculator-data--edu-abroad');
					addData(data[i]["Living Expenses"],'calculator-data--living-expenses');
					addData(data[i]["Room"],'calculator-data--housing');
					addData(data[i]["Meals"],'calculator-data--meals');
					addData(data[i]["Health Insurance"],'calculator-data--insurance');
					addData(data[i]["Books, Supplies, & Transportation Expenses"],'calculator-data--supplies');
					addData(data[i]["Books, Supplies, Transportation, & Health Insurance"],'calculator-data--supplies-insurance');
					addData(data[i]["Personal Expenses"],'calculator-data--personal');
					addData(data[i]["Total"],'calculator-data--total');
					addData(data[i]["Total Less University Tuition & Fees"],'calculator-data--total-less-tuition');
					addData(data[i]["Total Less Room"],'calculator-data--total-less-room');
					addData(data[i]["Total Less Room & Meals"],'calculator-data--total-less-room-meals');
					addData(data[i]["9-Month Tuition Waiver Value"],'calculator-data--waiver-value');
					addData(data[i]["Total Less Waiver Only"],'calculator-data--total-less-waiver');
					addData(data[i]["Total Less Waiver & Insurance"],'calculator-data--total-less-waiver-insurance');

					// output JSON
					document.getElementById('calculator-data--json').innerHTML = JSON.stringify(data[i], null, 2);
				
				}
			}
		}

	</script>
{% endcontent_for %}