<!-- Custom Component: custom-example -->
{%- define_component component %}
  {
    "baseName": "json-directory-listing",
    "defaultComponentClasses": ""
    "mainTagClasses": "py-5"
  }
{%- enddefine_component %}

{% assign entries = page.content['json-url'] | web_request | parse_json %}
{% assign people = entries %}

<div class="alert alert-info">
    <h2 class="h3">JSON URL</h2>
    {% editable_region name: "json-url" type: "simple" %}
</div>

<h2>JSON Directory Example</h2>

People: {{ people }}

{% for person in people %}
    <h2>{{ person.name }}</h2>
{% endfor %}