<section aria-labelledby="">
  <div class="container-fluid mx-0 px-0">
    <div class="row mx-0 px-0">
      <div class="col-md-4 col-xxl-3">
        <div class="px-3 px-lg-4 py-4 py-lg-5">
          <h2 class="wvu-shout text-wvu-blue h1 wvu-bar">Campus Map</h2>
          <p>Lorem ipsum.</p>
          <ul id="markers" class="wvu-ul-arrows wvu-ul-arrows-wvu-gold mb-0 mt-3"></ul>
          <div class="small mt-3">
            <p>Lorem ipsum.</p>
          </div>
        </div>
      </div>
      <div class="col-md-8 col-xxl-9 relative">
        <div id="map" class="h-100"></div>
      </div>
    </div>
  </div>
</section> <!-- /#container -->

{% content_for "page_js" %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDzg4DjNPpQLIH3Z5DfGVPufpPwVaxeSZc&callback=Function.prototype"></script>
  {% link_javascript name: "google-map" %}
{% endcontent_for %}
