<section aria-labelledby="">
  <div class="container-fluid mx-0 px-0">
    <div class="row mx-0 px-0">
      <div class="col-md-4">
        <h2 id="">Campus Map</h2>
        <ul id="markers"></ul>
      </div>
      <div clas="col-md-8 relative">
        <div id="map" class="h-100"></div>
      </div>
    </div>
  </div>
</section> <!-- /#container -->

{% content_for "page_js" %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDzg4DjNPpQLIH3Z5DfGVPufpPwVaxeSZc&callback=Function.prototype"></script>
  {% link_javascript name: "google-map" %}
{% endcontent_for %}
