{% comment %}<!-- See webstandards.wvu.edu/design-system for information about shared partials -->{% endcomment %}

{%- define_component component %}
  {
    "baseName": "backpage",
    "needsARIALabel": true,
    "defaultComponentClasses": "wvu-backpage-main",
    "defaultItemClasses": "mb-3 mb-md-0",
    "defaultHeaderClasses": "mb-4",
    "defaultItemHeaderClasses": "px-2 py-1 wvu-shout h6 text-white mb-0",
    "defaultItemBodyClasses": null,
    "defaultItemButtonClasses": "iowan-old-style",
    "mainTagClasses": "py-5"
  }
{%- enddefine_component %}

{% assign data = 'https://tuition.wvu.edu/public/test-data.json' | web_request | parse_json %}

{% assign campus = page.content['campus'] | default: "Morgantown" %}
{% assign graduateLevel = page.content['graduate-level'] | default: "Undergraduate" %}

{% capture component_content %}
  <div id="campus" class="d-none">{{ campus }}</div>
  <div id="graduate-level" class="d-none">{{ graduateLevel }}</div>
  <div class="container wvu-z-index-content">
    {% if edit_mode %}
      <p><code>Morgantown</code> or <code>Beckley</code> or <code>Keyser</code></p>
      {% editable_region name: 'campus', type: 'simple' %}
      <p><code>Graduate</code> or <code>Undergraduate</code></p>
      {% editable_region name: 'graduate-level', type: 'simple' %}
      <p>JSON URL</p>
      {% editable_region name: 'json-data', type: 'simple' %}
    {% endif %}
    <div class="row">
      <div class="col-md-8">
        {% if edit_mode %}<span class="d-inline-block badge bg-primary mb-1 no-preview">Main Content</span>{% endif %}
        {% editable_region_block name: component.region_names.main, scope: component.scope %}
          <p class="lead mb-3 mt-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
        {% endeditable_region_block %}
      </div>
      <aside class="wvu-sidebar col-md-3 mt-4 mt-md-0 text-start {% if component.align == 'right'%}me-md-auto{% else %}ms-md-auto{% endif %}" aria-label="{{ componentSidebar }}">
        <div class="sticky-top pt-3 mt-n3">
          <div class="p-3 bg-light">
            <h2>Other Costs</h2>
            <p>Additional costs explainer.</p>
            <form class="mb-3">
              <label for="cost-select" class="form-label">Housing Status</label>
              <div class="mb-3">
                <select id="cost-select" class="form-select" aria-label="Default select example">
                  <option id="on-campus-halls" selected="" value="resHall">Living on Campus WVU Residence Halls wo Dependents</option>
                  <option id="at-home-parents" value="homeWithParents">Living at Home with Parents</option>
                  <option id="on-campus-dependents" value="resHallWithDependents">Living on Campus WVU Housing w Dependents</option>
                  <option id="off-campus" value="offCampus">Living Off Campus - Not with Parents</option>
                  <option id="off-campus-dependents" value="offCampusWithDependents">Living Off Campus - Students with Dependents</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="resident-select" class="form-label">Residency Status</label>
                <select id="resident-select" class="form-select" aria-label="Default select example">
                  <option id="resident" selected="" value="resident">WV Resident</option>
                  <option id="non-resident" value="nonResident">Non-Resident</option>
                </select>
              </div>
            </form>
            <div>
              <table class="table caption-top text-capitalize">
                <caption class="text-wvu-blue">Cost Per Year</caption>
                <thead>
                  <tr>
                    <th>Category</th>
                    <th>Cost</th>
                  </tr>
                </thead>
                <tbody id="cost-table-body">

                </tbody>
                <tfoot>
                  <tr>
                    <td>Total</td>
                    <td id="cost-table-total" class="flash"></td>
                  </tr>
                </tfoot>
              </table>
            </div>
            <p><a href="https://financialaid.wvu.edu/home/estimate-costs-aid">More about cost and aid</a></p>
          </div>
        </div>
      </aside>
    </div>
  </div>
{% endcapture %}

{% render "utilities/wvu-component-tag/wvu-component-tag--v1" component: component, content: component_content %}

{% content_for "page_js" %}
<script>
  // Get all data

  var data = new XMLHttpRequest();
  request.open('GET', 'https://tuition.wvu.edu/public/test-data.json', true);

  request.onload = function() {
    if (request.status >= 200 && request.status < 400) {
      // Success!
      var data = JSON.parse(request.responseText);
    } else {
      // We reached our target server, but it returned an error

    }
  };

  request.onerror = function() {
    // There was a connection error of some sort
  };

  request.send();

  // Get select menu
  var categoryDropdown = document.getElementById("cost-select")

  // Get residency menu
  var residencyDropdown = document.getElementById("resident-select")

  // Get campus and graduate level to grab correct data
  var campus = document.getElementById("campus")
  var graduateLevel = document.getElementById("graduate-level")
  var campusValue = campus.innerHTML
  var graduateLevelValue = graduateLevel.innerHTML
  var campusData = []
  var myCategory = []

  if (campusValue === 'Morgantown') {
    campusData = data.Morgantown
  } else if (campusValue === "Keyser") {
    campusData = data.KeyserBachelors
  } else if (campusValue === "Beckley") {
    campusData = data.Beckley
  }

  // Get category to populate table on page load
  if (graduateLevelValue === 'Undergraduate') {
    myCategory = campusData.residentUndergraduate.resHall
  } else {
    myCategory = campusData.residentGraduate.resHall
  }
  
  var tableBody = document.getElementById("cost-table-body")
  var tableTotal = document.getElementById("cost-table-total")

  console.log("My category: " + myCategory)

  // Initialize variables that will change
  var newTableBody = ""
  var newTableTotal = ""
  var totalCost = 0

  // Populate initial data
  for (cost in myCategory) {
    let costNum = 0
    // Exclude tuition cost from table (this is shown in the main body)
    if (cost !== 'total' && cost !== 'tuition' && cost !== 'fees') {
      // Add table row for each item
      newTableBody = newTableBody + "<tr><td>" + cost + "</td><td>$" + myCategory[cost] + "</td></tr>"
      // Convert cost string to num
      costNum = Number(myCategory[cost])
      // Tally cost
      totalCost = totalCost + costNum
    }
  }

  tableBody.innerHTML = newTableBody
  tableTotal.innerHTML = "$" + totalCost

  // Listen for dropdown menu change
  categoryDropdown.addEventListener("change", function() {
    // Clear table data
    newTableBody = ""
    totalCost = 0
    // Assign category based on dropdown selection
    let myCategory = this.value
    let otherCategory = residencyDropdown.value
    console.log("Other value:" + otherCategory)
    // Get data based on category
    console.log("Category" + myCategory)
    if (graduateLevelValue === "Undergraduate") {
      if (myCategory === 'resHall') {
        if (otherCategory === 'resident') {
          myCategory = campusData.residentUndergraduate.resHall
        } else {
          myCategory = campusData.nonResidentUndergraduate.resHall
        }
      } else if (myCategory === 'homeWithParents') {
        if (otherCategory === 'resident') {
          myCategory = campusData.residentUndergraduate.homeWithParents
        } else {
          myCategory = campusData.nonResidentUndergraduate.homeWithParents
        }
      } else if (myCategory === 'resHallWithDependents') {
        if (otherCategory === 'resident') {
          myCategory = campusData.residentUndergraduate.resHallWithDependents
        } else {
          myCategory = campusData.nonResidentUndergraduate.resHallWithDependents
        }
      } else if (myCategory === 'offCampus') {
        if (otherCategory === 'resident') {
          myCategory = campusData.residentUndergraduate.offCampus
        } else {
          myCategory = campusData.nonResidentUndergraduate.offCampus
        }
      } else if (myCategory === 'offCampusWithDependents') {
        if (otherCategory === 'resident') {
          myCategory = campusData.residentUndergraduate.offCampusWithDependents
        } else {
          myCategory = campusData.nonResidentUndergraduate.offCampusWithDependents
        }
      }
    } else {
      if (myCategory === 'resHall') {
        if (otherCategory === 'resident') {
          myCategory = campusData.residentGraduate.resHall
        } else {
          myCategory = campusData.nonResidentGraduate.resHall
        }
      } else if (myCategory === 'homeWithParents') {
        if (otherCategory === 'resident') {
          myCategory = campusData.residentGraduate.homeWithParents
        } else {
          myCategory = campusData.nonResidentGraduate.homeWithParents
        }
      } else if (myCategory === 'resHallWithDependents') {
        if (otherCategory === 'resident') {
          myCategory = campusData.residentGraduate.resHallWithDependents
        } else {
          myCategory = campusData.nonResidentGraduate.resHallWithDependents
        }
      } else if (myCategory === 'offCampus') {
        if (otherCategory === 'resident') {
          myCategory = campusData.residentGraduate.offCampus
        } else {
          myCategory = campusData.nonResidentGraduate.offCampus
        }
      } else if (myCategory === 'offCampusWithDependents') {
        if (otherCategory === 'resident') {
          myCategory = campusData.residentGraduate.offCampusWithDependents
        } else {
          myCategory = campusData.nonResidentGraduate.offCampusWithDependents
        }
      }
    }
    // Update table values with new data
    for (cost in myCategory) {
      let costNum = 0
      // Exclude tuition cost from table (this is shown in the main body)
      if (cost !== 'total' && cost !== 'tuition' && cost !== 'fees') {
        // Add table row for each item
        newTableBody = newTableBody + "<tr><td>" + cost + "</td><td>$" + myCategory[cost] + "</td></tr>"
        // Convert cost string to num
        costNum = Number(myCategory[cost])
        // Tally cost
        totalCost = totalCost + costNum
      }
    }

    tableBody.innerHTML = newTableBody
    tableTotal.innerHTML = "$" + totalCost
  })

  // Listen for dropdown menu change
  residencyDropdown.addEventListener("change", function() {
    // Clear table data
    newTableBody = ""
    totalCost = 0
    // Assign category based on dropdown selection
    let myCategory = this.value
    let otherCategory = categoryDropdown.value
    // Get data based on category
    console.log("Category" + myCategory)
    if (graduateLevelValue === 'Undergraduate') {
      if (myCategory === 'resident') {
        if (otherCategory === 'resHall') {
          myCategory = campusData.residentUndergraduate.resHall
        } else if (otherCategory === 'homeWithParents') {
          myCategory = campusData.residentUndergraduate.homeWithParents
        } else if (otherCategory === 'resHallWithDependents') {
          myCategory = campusData.residentUndergraduate.resHallWithDependents
        } else if (otherCategory === 'offCampus') {
          myCategory = campusData.residentUndergraduate.offCampus
        } else if (otherCategory === 'offCampusWithDependents') {
          myCategory = campusData.residentUndergraduate.offCampusWithDependents
        }
      } else if (myCategory === 'nonResident') {
        if (otherCategory === 'resHall') {
          myCategory = campusData.nonResidentUndergraduate.resHall
        } else if (otherCategory === 'homeWithParents') {
          myCategory = campusData.nonResidentUndergraduate.homeWithParents
        } else if (otherCategory === 'resHallWithDependents') {
          myCategory = campusData.nonResidentUndergraduate.resHallWithDependents
        } else if (otherCategory === 'offCampus') {
          myCategory = campusData.nonResidentUndergraduate.offCampus
        } else if (otherCategory === 'offCampusWithDependents') {
          myCategory = campusData.nonResidentUndergraduate.offCampusWithDependents
        }
      }
    } else {
      if (myCategory === 'resident') {
        if (otherCategory === 'resHall') {
          myCategory = campusData.residentGraduate.resHall
        } else if (otherCategory === 'homeWithParents') {
          myCategory = campusData.residentGraduate.homeWithParents
        } else if (otherCategory === 'resHallWithDependents') {
          myCategory = campusData.residentGraduate.resHallWithDependents
        } else if (otherCategory === 'offCampus') {
          myCategory = campusData.residentGraduate.offCampus
        } else if (otherCategory === 'offCampusWithDependents') {
          myCategory = campusData.residentUndergraduate.offCampusWithDependents
        }
      } else if (myCategory === 'nonResident') {
        if (otherCategory === 'resHall') {
          myCategory = campusData.nonResidentGraduate.resHall
        } else if (otherCategory === 'homeWithParents') {
          myCategory = campusData.nonResidentGraduate.homeWithParents
        } else if (otherCategory === 'resHallWithDependents') {
          myCategory = campusData.nonResidentGraduate.resHallWithDependents
        } else if (otherCategory === 'offCampus') {
          myCategory = campusData.nonResidentGraduate.offCampus
        } else if (otherCategory === 'offCampusWithDependents') {
          myCategory = campusData.nonResidentGraduate.offCampusWithDependents
        }
      }
    }

    // Update table values with new data
    for (cost in myCategory) {
      let costNum = 0
      // Exclude tuition cost from table (this is shown in the main body)
      if (cost !== 'total' && cost !== 'tuition' && cost !== 'fees') {
        // Add table row for each item
        newTableBody = newTableBody + "<tr><td>" + cost + '</td><td class="flash">$' + myCategory[cost] + "</td></tr>"
        // Convert cost string to num
        costNum = Number(myCategory[cost])
        // Tally cost
        totalCost = totalCost + costNum
      }
    }

    tableBody.innerHTML = newTableBody
    tableTotal.innerHTML = "$" + totalCost
  })

</script>
{% endcontent_for %}
