{%- liquid

  if page.content[component.region_names.rowClasses] != blank
    assign rowClasses = page.content[component.region_names.rowClasses]
  else
    assign rowClasses = component.defaultRowClasses
  endif

  assign range = (1..component.limit)

  if component.reverseItems == '1'
    assign range = range | reverse
  endif
-%}

{% capture component_content %}

  <div class="{% if component.full_width_or_backpage? %}container {% endif %}wvu-z-index-content">

    <div class="container wvu-z-index-content">

      {%- if edit_mode or page.content[component.region_names.header] != blank %}
        <div class="mb-4">
          {% comment %}<!-- This is just a label for the editable region that follows in order to make it clear to content editors what the region is for (in case they delete content and forget). -->{% endcomment %}
          {% if edit_mode %}<span class="d-inline-block badge badge-primary mb-1">Header</span>{% endif %}
          {% comment %}<!-- For the h2, apply an ID that will tell screanreaders to use this element as the label for the section. Also apply classes to the header. If supplied by user, use those. If not use default. -->{% endcomment %}
          {% editable_region_block name: component.region_names.header scope: component.scope %}
            <h2 class="display-3"><span class="placeholder placeholder-lg col-6"></span></h2>
            <p class="lead"><span class="placeholder col-4"></span></p>
          {% endeditable_region_block %}
        </div>
      {%- endif %}

      <div class="row {{ rowClasses }}">
        {% for i in range %}
          {%- capture componentPanelMain %}wvu-featurettes_panel_{{ component.number }}-{{ i }}__main{% endcapture %}

          {%- capture itemClasses %}{% render "includes/wvu-column-classes/wvu-column-classes--v1" numberOfItems: component.limit component: component %}{% endcapture -%}
          {% assign itemClasses = itemClasses | strip %}

          <div class="col-lg mb-4 mb-lg-0">
            {%- if edit_mode or page.content[componentPanelMain] != blank %}
              {% editable_region_block name: componentPanelMain scope: component.scope %}
                <h3><span class="placeholder placeholder-lg col-5"></span></h3>
                <p><span class="placeholder col-5"></span></p>
                <a href="#" class="btn btn-sm btn-primary disabled placeholder col-2"></a>
              {% endeditable_region_block %}
            {%- endif %}
          </div>
        {% endfor %}
      </div>

      {%- if edit_mode or page.content[component.region_names.postscript] != blank %}
        <div class="mt-4">
          {% comment %}<!-- This is just a label for the editable region that follows in order to make it clear to content editors what the region is for (in case they delete content and forget). -->{% endcomment %}
          {% if edit_mode %}<span class="d-inline-block badge badge-primary mb-1">Postscript</span>{% endif %}
          {% editable_region_block name: component.region_names.postscript scope: component.scope %}
            <p class="mb-0"><span class="placeholder col-5"></span></p>
          {% endeditable_region_block %}
        </div>
      {%- endif %}

    </div>
  </div>
{% endcapture %}

{% render "utilities/wvu-component-tag/wvu-component-tag--v1" component: component, content: component_content %}
{% render "includes/wvu-component-footer/wvu-component-footer--v1" footerItemClasses: itemClasses component: component %}
