{%- liquid
  articleSidebarRegionName = component.name | append: '__sidebar'
  assign disableAuthor = component.disableAuthor | default: page.data.disable_articles_author | default: false
  assign showHidden = component.hidden | default: false

  if component.featurettesID == blank
    assign articles = blog.articles | filter_articles: page: params.page, limit: component.limit, tags: params.tags, tags_match: params.tags_match, year: params.year, month: params.month, day: params.day, hidden: showHidden
  else
    assign blog = site | get_page: component.featurettesID
    assign articles = blog.articles | filter_articles: page: params.page, limit: component.limit, tags: params.tags, tags_match: params.tags_match, year: params.year, month: params.month, day: params.day, hidden: showHidden
  endif

  assign sortedArticles = articles | sort: "published_at" | reverse
-%}

{% capture component_content %}
  <div class="container wvu-z-index-content">

    <div class="row">
      <div class="col-md-8 me-md-auto">

        {% if edit_mode or page.content[component.region_names.main] != blank %}
          <div class="mb-4">
            {% if edit_mode %}<span class="d-inline-block badge bg-primary mb-1 no-preview">Intro</span>{% endif %}
            {% editable_region_block name: component.region_names.main %}<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>{% endeditable_region_block %}
          </div>
        {% endif %}

        {% if articles.size > 0 %}
          {% capture article_list_content %}
            {% for article in sortedArticles %}
              
              {% liquid
                if article.data.alternate_url != blank
                  assign link_href = article.data.alternate_url
                else
                  assign link_href = article.url
                endif
              %}

              <div class="mb-4" itemscope="" itemtype="http://schema.org/BlogPosting">
                <div class="row">
                  {% assign itemThumb = article.content['wvu-article-1__main'] | select_html: css_selector: 'img', limit: 1 %}
                  {% assign itemThumb = itemThumb | split: '"' %}

                  {% if itemThumb != blank %}
                    {% assign i = 0 %}
                    {% for part in itemThumb %}
                      {% if part contains 'src=' %}
                        {% assign j = i | plus: 1 %}
                        {% assign itemThumbSRC = itemThumb[j] | build_image_url: size: '960x640', format: 'webp' %}
                      {% elsif part contains 'alt=' %}
                        {% assign k = i | plus: 1 %}
                        {% assign itemAlt = itemThumb[k] %}
                      {% endif %}
                      {% assign i = i | plus: 1 %}
                    {% endfor %}
                  {% endif %}

                  {% if article.data.thumbnail_url != blank %}
                    {% assign itemThumbnailSrc = article.data.thumbnail_url | build_image_url: size: '960x640', format: 'webp' %}
                    <div class="wvu-article__thumb col-md-3">
                      <a href="{{ article.url }}" aria-hidden="true" tabindex="-1">
                        <img src="{{ itemThumbnailSrc }}" alt="{{ article.data.thumbnail_alt }}" />
                      </a>
                    </div>
                  {% elsif itemThumbSRC != blank %}
                    <div class="wvu-article__thumb col-md-3">
                      <a href="{{ article.url }}" aria-hidden="true" tabindex="-1">
                        <img src="{{ itemThumbSRC }}" alt="{{ itemAlt }}" />
                      </a>
                    </div>
                  {% endif %}

                  {% assign itemThumbnailSRC = "" %}
                  {% assign itemThumbSRC = "" %}
                  {% assign itemAlt = "" %}

                  <div class="col-md-9{% if article.data.thumbnail_url != blank or itemThumb != blank %} mt-3 mt-md-0{% else %} ms-md-auto{% endif %}">
                    <h2 class="wvu-article__headline" itemprop="headline"><a class="newsletter-link" href="{{ link_href }}">{{ article.name }}</a></h2>

                    <p class="small d-block">
                      {% if disableAuthor != '1' %}
                        {% if article.data.article_hide_author != '1' %}
                          <span class="wvu-article__author">{{ article.content['wvu-article-1__author'] | default: article.author.full_name }}</span><span class="wvu-article__separator"> | </span>
                        {% endif %}
                      {% endif %}
                      <time class="wvu-article__date-published" itemprop="datePublished" datetime="{{ article.published_at | date_iso8601 }}">{{ article.published_at | date: '%A, %B %d, %Y' | default: 'Not yet published' }}</time>
                    </p> <!-- /.wvu-article__meta -->

                    <div class="wvu-article__body" class="mb-2" itemprop="articleBody">
                      {% if article.data.description != blank %}
                        {% assign articleTeaser = article.data.description %}
                      {% else %}
                        {% for i in (1..5) %}
                          {%- capture articleTeaser %}{{ article.content['wvu-article-1__main'] | select_html: css_selector: 'p', limit: i }}{% endcapture -%}
                          {% assign articleTeaser = articleTeaser | strip_html | strip %}
                          {% if articleTeaser != blank %}
                            {% break %}
                          {% endif %}
                        {% endfor %}
                      {% endif %}
                      <p class="wvu-article__teaser">{{ articleTeaser }}</p>
                    </div> <!-- /.wvu-article__body -->
                    <p><a class="wvu-article__read-more btn btn-primary" href="{{ link_href }}">Read More<span class="visually-hidden">: {{ article.name }}</span></a></p>
                  </div>
                </div>
              </div> <!-- /.wvu-article -->
            {% endfor %}
          {% endcapture %}

          <div class="wvu-articles">
            {{ article_list_content }}
          </div> <!-- /.wvu-articles -->

          {% assign pagination = articles | blog_pagination %}
          {% if pagination.total_pages > 1 %}
            <nav aria-label="Blog Pagination">
              <ul class="pagination">
                <li class="page-item{% if pagination.is_last_page %} disabled{% endif %}">
                  <a href="{{ pagination.next_page_url }}" class="page-link">Older Articles</a>
                </li>
                <li class="page-item{% if pagination.is_first_page %} disabled{% endif %}">
                  <a href="{{ pagination.prev_page_url }}" class="page-link">Newer Articles</a>
                </li>
              </ul>
            </nav>
          {% endif %}
        {% else %}
          <p>No blog posts found. Try again later, perhaps?</p>
        {% endif %}
      </div>

      <aside class="wvu-sidebar col-md-3 mt-4 mt-md-0">
        <div class="sticky-top pt-3 mt-n3">
          {% if edit_mode %}
            <div class="alert alert-info mb-3 no-preview">
              <p class="mb-0">New to creating articles, or just need a refresher? Check out our <a href="https://cleanslatecms.wvu.edu/how-to/content-publishing/basic-editing/blogs">blog tutorials</a>.
            </div>
          {% endif %}
          <div class="mb-4">
            {% editable_region name: articleSidebarRegionName, scope: component.scope %}
          </div>
          {% render "components/wvu-article-archive" component: component %}
        </div>
      </aside>
    </div>
  </div> <!-- /.container -->
{% endcapture %}

{% render "utilities/wvu-component-tag/wvu-component-tag--v1" component: component, content: component_content %}
{% render "includes/wvu-component-footer/wvu-component-footer--v1" component: component %}
