{%- liquid
  assign rowClasses = page.content[component.region_names.rowClasses] | default: component.defaultRowClasses
  assign itemHeaderClasses = page.content[component.region_names.itemHeaderClasses] | default: component.defaultItemHeaderClasses
  assign itemBodyClasses = page.content[component.region_names.itemBodyClasses]
  assign itemButtonClasses = page.content[component.region_names.itemButtonClasses] | default: component.defaultItemButtonClasses
  assign itemReadMoreButtonText = page.content[component.region_names.readMoreButtonText] | default: component.defaultItemButtonText
  assign jsonRegionName = component.name | append: '__json-url'

  assign programAPIEndpoint = page.content[jsonRegionName]
  assign programEntries = programAPIEndpoint | web_request | parse_json

  if page.content[component.region_names.header] != blank
    assign htag = 'h3'
  else
    assign htag = 'h2'
  endif
-%}

{% capture component_content %}
  <div class="wvu-z-index-content">
    <div class="container wvu-z-index-content">

      {% if edit_mode %}
        <div class="alert alert-info p-4">
          <h2 class="h6">Enter the JSON string for the programs you want to display</h2>
          {% editable_region name: jsonRegionName, scope: component.scope, type: "simple" %}
        </div>
      {% endif %}

      {% if edit_mode or page.content[component.region_names.header] != blank %}
        {% if edit_mode %}<span class="d-inline-block badge bg-primary mb-1 no-preview">Header</span>{% endif %}
        {% editable_region_block name: component.region_names.header scope: component.scope %}
          <h2 id="{{ component.name }}-label" class="display-3 wvu-shout text-wvu-blue">Program Collection Headline</h2>
          <p class="h3 helvetica-neue-light text-wvu-blue mb-4">Subhead goes here.</p>
        {% endeditable_region_block %}
      {% endif %}

      {%- capture itemClasses %}{% render "includes/wvu-column-classes/wvu-column-classes--v1" numberOfItems: itemCount component: component %}{% endcapture -%}
      {% assign itemClasses = itemClasses | strip %}

      {% capture loopContent %}

        {% for programEntry in programEntries limit: component.limit %}

          {% assign webAddress = "" %}

          {% if programEntry.webAddressProgram %}
            {% assign webAddress = programEntry.webAddressProgram %}
          {% elsif programEntry.webAddressAdmissions %}
            {% assign webAddress = programEntry.webAddressAdmissions %}
          {% elsif programEntry.webAddressCourseCatalog %}
            {% assign webAddress = programEntry.webAddressCourseCatalog %}
          {% endif %}

          {% assign programType = programEntry.hepcLevel.title | replace: "'", '' | replace: ' ', '-' | downcase %}
          {% assign school = programEntry.division.title | replace: " ", "-" | downcase %}
          {% if programEntry.degreeDesignation.abbreviation == 'BMDS' %}
            {% assign school = "school-of-sport-sciences school-of-education school-of-counseling-and-well-being" %}
          {% endif %}
          {% assign majorMinor = programEntry.type.title %}

          {% capture htag_id %}{{ item.slug }}-{{ component.name }}-{{ item.id }}{% endcapture %}

          <div class="{{ page.content[component.region_names.itemClasses] | default: itemClasses }}">
            <div>
              <{{ htag }} class="card-title" id="{{ htag_id }}">
                {% if webAddress != blank %}
                  <a href="{{ webAddress }}" class="{{ itemHeaderClasses }}">{{ programEntry.title }}{% if programEntry.courseDeliveryOptions[0] == 'Online' %}<span class="visually-hidden"> (Online)</span>{% endif %}<span class="visually-hidden"> {{ programEntry.degreeDesignation.title }}</span></a>
                {% else %}
                  {{ programEntry.title }}
                {% endif %}
              </{{ htag }}>

              {% if programEntry.degreeDesignation.title %}
                <div class="helvetica-neue-light text-uppercase mb-1">{{ programEntry.degreeDesignation.title | replace: "'", '’' }}</div>
              {% else %}
                <div class="helvetica-neue-light text-uppercase mb-1">{{ programEntry.type.title | replace: "'", '’' }}</div>
              {% endif %}
              {% for deliveryOption in programEntry.courseDeliveryOptions %}
                {% if deliveryOption == 'Online' %}
                  <div class="badge bg-primary mb-2"><span class="fa-solid fa-laptop" aria-hidden="true"></span> Online</div>
                {% endif %}
              {% endfor %}

              <div class="{{ itemBodyClasses }}">
                {{ programEntry.descriptionTeaser }}
              </div>

              {% if webAddress != blank %}
                {% if programEntry.webAddressProgram %}
                  <a class="btn btn-primary" href="{{ webAddress }}">
                    <span class="fa-solid fa-external-link-alt"></span> View Program Page<span class="visually-hidden">: {{ programEntry.title }}</span>
                  </a>
                {% else %}
                  {% if webAddress contains "https://online.wvu.edu/" or webAddress contains "https://mediacollege.wvu.edu" or programEntry.degreeDesignation.abbreviation == 'BMDS' %}
                    <a class="btn btn-primary" href="{{ webAddress }}">
                      <span class="fa-solid fa-external-link-alt"></span> View Program Page<span class="visually-hidden">: {{ programEntry.title }}</span>
                    </a>
                  {% elsif webAddress contains "http://catalog.wvu.edu/" %}
                    <a class="btn btn-primary" href="{{ webAddress }}">
                      <span class="fa-solid fa-external-link-alt"></span> <span class="visually-hidden">{{ cardTitle }}: </span>View in Course Catalog
                    </a>
                  {% else %}
                    {% capture cardTitle %}{{ programEntry.title }}{% if programEntry.courseDeliveryOptions[0] == 'Online' %} (Online){% endif %} {{ programEntry.degreeDesignation.title }}{% endcapture %}
                    <a class="btn btn-primary" href="{{ programEntry.webAddressAdmissions }}#wvu-main-content">
                      <span class="fa-solid fa-file-alt"></span> <span class="visually-hidden">{{ cardTitle }}: </span>Overview
                    </a>
                  {% endif %}
                {% endif %}
              {% endif %}
            </div>
          </div>
        {% endfor %}
      {% endcapture %}

      <div class="row {{ rowClasses }}">{{ loopContent }}</div>

      {% if edit_mode or page.content[component.region_names.postscript] != blank %}
        <div class="mt-2">
          {% if edit_mode %}<span class="d-inline-block badge bg-primary mb-1 no-preview">Postscript</span>{% endif %}
          {% editable_region_block name: component.region_names.postscript scope: component.scope %}
            <p class="mb-0">Put additional info or <a href="#">links</a> here.</p>
          {% endeditable_region_block %}
        </div>
      {% endif %}
    </div>
  </div>
{% endcapture %}

{% render "utilities/wvu-component-tag/wvu-component-tag--v1" component: component, content: component_content %}
{% render "includes/wvu-component-footer/wvu-component-footer--v1" footerItemClasses: itemClasses component: component %}
