{%- liquid
  assign statClassesEditableRegionName = component.baseName | prepend: 'wvu-' | append: '-' | append: component.number | append: "__stat-classes"
  assign defaultStatCardClasses = 'bg-wvu-gold text-wvu-neutral--black py-5 px-3'
  assign statCardClassesEditableRegionName = component.baseName | prepend: 'wvu-' | append: '-' | append: component.number | append: "__stat-card"
  assign statCardStatsEditableRegionName = component.baseName | prepend: 'wvu-' | append: '-' | append: component.number | append: "__stats"

  if component.primaryHeading == 'h1'
    assign htag = 'h1'
  elsif component.primaryHeading == 'h2'
    assign htag = 'h2'
  else
    assign htag = 'h2'
  endif
-%}

{% capture component_content %}
  <div class="container position-relative wvu-z-index-content">
    <div class="row d-flex">
      <div class="col-md-8 text-center py-5 align-self-center">
        {% comment %}<!-- This is where you can add utility classes that will apply to the hero’s heading. -->{% endcomment %}
        {% if edit_mode %}
          <small class="wvu-z-index-content d-block mb-2 text-left text-muted p-1 bg-wvu-neutral--dark-gray bg-wvu-accent--blue-dark">Header classes:
            <div class="mb-0 text-white">{% editable_region name: component.region_names.headerClasses, type: "simple", scope: component.scope %}</div>
            <strong class="text-muted">Default classes:</strong> <pre class="mb-0 text-muted">{{ component.defaultHeaderClasses }}</pre>
          </small>
          {% comment %}<!-- This is just a label for the editable region that follows in order to make it clear to content editors what the region is for (in case they delete content and forget). -->{% endcomment %}
          <span class="d-inline-block badge bg-primary mb-1">Header:</span>
        {% endif %}
        {% comment %}<!-- For the h2, apply an ID that will tell screanreaders to use this element as the label for the section. Also apply classes to the header. If supplied by user, use those. If not use default. -->{% endcomment %}
        <{{ htag }} id="{{ component.name }}-label" class="{{ page.content[component.region_names.headerClasses] | default: component.defaultHeaderClasses }}">{% editable_region name: component.region_names.header, scope: component.scope, type: "simple" placeholder: 'Action Hero Headline' %}</{{ htag }}>
        {% if edit_mode %}
          <span class="d-inline-block badge bg-primary mb-1">Main:</span>
        {% endif %}
        {% editable_region_block name: component.region_names.main, scope: component.scope %}
          <p class="lead py-2 w-75 mx-auto">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
          <a class="btn btn-primary btn-lg" href="#">Call to Action</a>
        {% endeditable_region_block %}
      </div>
      <div class="col-md-4 {{ page.content[statCardClassesEditableRegionName] | default: defaultStatCardClasses }}">
        {% comment %}<!-- This is where you can add utility classes that will apply to the stat card’s classes. -->{% endcomment %}
        {% if edit_mode %}
          <small class="wvu-z-index-content d-block mb-2 text-left text-muted p-1 bg-wvu-neutral--dark-gray bg-wvu-accent--blue-dark">Stat card classes:
            <div class="mb-0 text-white">{% editable_region name: statCardClassesEditableRegionName, type: "simple", scope: component.scope %}</div>
            <strong class="text-muted">Default classes:</strong> <pre class="mb-0 text-muted">{{ defaultStatCardClasses }}</pre>
          </small>
          {% comment %}<!-- This is just a label for the editable region that follows in order to make it clear to content editors what the region is for (in case they delete content and forget). -->{% endcomment %}
          <span class="d-inline-block badge bg-primary mb-1">Stat Content:</span>
        {% endif %}
        {% editable_region_block name: statCardStatsEditableRegionName, scope: component.scope %}
          <h2 class="wvu-h3">Tuition Rates</h2>
          <p class="mb-2">Looking for a quick ballpark figure? We have you covered.</p>
          <table class="table mb-2">
            <caption class="visually-hidden">Tuition rates per year at WVU</caption>
            <thead class="border-top-0">
              <tr>
                <th scope="col" class="helvetica-neue-bold border-0">Tuition Rates</th>
                <th scope="col" class="helvetica-neue-bold border-0">Cost Per Year</th>
              </tr>
            </thead>
            <tbody class="border-top-0">
              <tr>
                <th scope="row" class="border-wvu-neutral--black">In-state tuition and fees</th>
                <td class="border-wvu-neutral--black">$8,976</td>
              </tr>
              <tr>
                <th scope="row" class="border-wvu-neutral--black">Out-of-state tuition and fees</th>
                <td class="border-wvu-neutral--black">$25,320</td>
              </tr>
              <tr>
                <th scope="row" class="border-wvu-neutral--black">Room and board expenses</th>
                <td class="border-wvu-neutral--black">$10,284</td>
              </tr>
            </tbody>
          </table>
          <p class="wvu-text--micro">
            <small class="d-block">
              <em>(Rates for 2019-20. Rates are subject to change. Listed costs are
                based on two semesters with a minimum of 12 credits each. Room and board
                costs are based on double occupancy in a residence hall and a 15-meal plan.)</em>
            </small>
          </p>
        {% endeditable_region_block %}
      </div>
    </div>
  </div>
{% endcapture %}

{% render "utilities/wvu-component-tag/wvu-component-tag--v1" component: component, content: component_content %}
{% render "includes/wvu-component-footer/wvu-component-footer--v1" component: component %}
