<section class="border-bottom py-5" aria-labelledby="partial-label">
  <div class="container wvu-z-index-content">
    <div class="row">
      <div class="col-md-8 me-md-auto">
        <h2 id="partial-label" class="h1 wvu-bar wvu-bar--bottom">Shared CleanSlate Partial</h2>
        <p>
          <span class="text-uppercase">
            {% if page.data.isDynamic == '1' %}
              <strong>Type:</strong> <span class="helvetica-neue-light">Dynamic (pulls data from other pages in site)</span>
            {% else %}
              <strong>Type:</strong> <span class="helvetica-neue-light">Static (uses editable regions)</span>
            {% endif %}
          </span>
        </p>

        <p>This component corresponds to the latest version of the shared <code>{{ page.slug }}</code> partial in the Design System CleanSlate.
        CleanSlate developers can use this component by
        <a href="/shared-cleanslate-partials/theme-development-site-configuration-and-advanced-style-editing/add-a-shared-partial-to-a-template">adding a shared partial to a template</a>. Below are the
        available configuration options for this component.</p>

        <nav class="mt-3" aria-label="Component configuration options">
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active text-decoration-none" id="nav-theme-tab" data-bs-toggle="tab" href="#nav-theme" role="tab" aria-controls="nav-theme" aria-selected="true">Theme Partial</a>
            {% case page.slug %}
              {% when 'alert-banner' or 'article-hero' or 'backpage-header' or 'breadcrumbs' or 'editable-region' or 'emergency-alert' or 'footer' or 'horizontal-subnav' or 'masthead' or 'nav' %}
              {% else %}
                <a class="nav-item nav-link text-decoration-none" id="nav-template-tab" data-bs-toggle="tab" href="#nav-template" role="tab" aria-controls="nav-template" aria-selected="false">Super Template</a>
            {% endcase %}
            {% if edit_mode or page.content["site-data"] != blank %}
              <a class="nav-item nav-link text-decoration-none" id="nav-site-tab" data-bs-toggle="tab" href="#nav-site" role="tab" aria-controls="nav-site" aria-selected="false">Site Data</a>
            {% endif %}
            {% if edit_mode or page.content["page-data"] != blank %}
              <a class="nav-item nav-link text-decoration-none" id="nav-page-tab" data-bs-toggle="tab" href="#nav-page" role="tab" aria-controls="nav-page" aria-selected="false">Page Data</a>
            {% endif %}
          </div>
        </nav>

        <div class="tab-content border-start border-bottom border-end bg-white" id="nav-tabContent">
          <div class="tab-pane fade show active p-3" id="nav-theme" role="tabpanel" aria-labelledby="nav-theme-tab">
            {% if edit_mode or page.content["theme-partial"] != blank %}
              <h3>Component-Specific Parameters</h3>
              {% editable_region_block name: "theme-partial" %}
                <table class="table mb-2">
                  <thead>
                    <tr>
                      <th scope="col">Name</th>
                      <th scope="col">Options</th>
                      <th scope="col" class="w-50">Description</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <code>featurettesStyle</code>
                      </td>
                      <td>
                        <ul class="list-unstyled mb-0">
                          <li>
                            <code>default</code>
                          </li>
                          <li>
                            <code>editable-regions</code>
                          </li>
                        </ul>
                      </td>
                      <td>Sets the layout of the featurettes (see examples above). Options win an
                        <code>-editable-regions</code> suffix will provide editable regions for
                        the user to enter content manually. Otherwise content will be
                        <a href="https://cleanslate.wvu.edu/sites/1486/pages/140062/editor" data-page-id="140062">pulled in dynamically using labels</a>.</td>
                    </tr>
                    <tr>
                      <td>
                        <code>limit</code>
                      </td>
                      <td>
                        <code>1, 2, 3</code>
                      </td>
                      <td>Sets the number of items that will appear in the component.</td>
                    </tr>
                    <tr>
                      <td>
                        <code>showHidden</code>
                      </td>
                      <td>
                        <ul class="list-unstyled mb-0">
                          <li>
                            <code>true</code>
                          </li>
                          <li>
                            <code>false</code>
                          </li>
                        </ul>
                      </td>
                      <td>If set to <code>true</code>, shows items even if they’re hidden from your
                        site’s navigation.</td>
                    </tr>
                  </tbody>
                </table>
              {% endeditable_region_block %}
            {% endif %}

            {% render "components/documentation-site/wvu-collection-theme-parameters" %}
            {% render "components/documentation-site/wvu-general-theme-parameters" %}

            <h3>Code Example</h3>
            {% if edit_mode %}
              <div>Extras: {% editable_region name: "extra-parameters" %}</div>
            {% endif %}
            {% assign extraParameters = page.content['extra-parameters'] | prepend: ' ' %}
            <div class="p-3 bg-light">
<pre class="mb-0"><code>{&#37; render "components/wvu-{{ page.slug }}"{{ extraParameters }} &#37;}</code></pre>
            </div>
            <p class="mt-2 small mb-0"><strong>PRO TIP:</strong> Options that contain integers (<code>1, 2, 3</code>) or boolean values (<code>true, false</code>) don’t need to be wrapped in quotes e.g. <code>limit: 1</code> or <code>main: true</code>. Strings should be wrapped in quotes e.g. <code>scope: "site"</code>.
          </div>

          {% case page.slug %}
            {% when 'alert-banner' or 'article-hero' or 'backpage-header' or 'breadcrumbs' or 'editable-region' or 'emergency-alert' or 'footer' or 'horizontal-subnav' or 'masthead' or 'nav' %}
            {% else %}
              <div class="tab-pane fade p-3" id="nav-template" role="tabpanel" aria-labelledby="nav-template-tab">
                <h3 class="mb-0">Setup</h3>
                <p>From the CleanSlate Pages dashboard, assign the Super Template to a page. In
        the page properties, navigate to the Slots tab. Assign a <code>{{ page.slug }}</code> partial
        to one of the slots.</p>
                {% if edit_mode or page.content['super-template'] != blank %}
                  <h3 class="mt-3">Component-Specific Configuration</h3>
                  {% editable_region_block name: "super-template" %}
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">Name</th>
                          <th scope="col">Options</th>
                          <th scope="col" class="w-50">Description</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            Limit
                          </td>
                          <td>
                            1, 2, 3
                          </td>
                          <td>Sets the number of items that will appear in the component.</td>
                        </tr>
                        <tr>
                          <td>
                            Show Hidden
                          </td>
                          <td>
                            <ul class="list-unstyled mb-0">
                              <li>
                                Checked
                              </li>
                              <li>
                                Unchecked
                              </li>
                            </ul>
                          </td>
                          <td>If <strong>checked</strong>, shows items even if they’re hidden from your
                            site’s navigation.</td>
                        </tr>
                      </tbody>
                    </table>
                  {% endeditable_region_block %}
                {% endif %}

                {% render "components/documentation-site/wvu-collection-super-template-parameters" %}
                {% render "components/documentation-site/wvu-general-super-template-parameters" %}

              </div>
          {% endcase %}
          {% if edit_mode or page.content["site-data"] != blank %}
            <div class="tab-pane fade p-3" id="nav-site" role="tabpanel" aria-labelledby="nav-site-tab">
              <h3>Configuration</h3>
              {% editable_region_block name: "site-data" %}
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Name</th>
                      <th scope="col">Options</th>
                      <th scope="col" class="w-50">Description</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        Limit
                      </td>
                      <td>
                        1, 2, 3
                      </td>
                      <td>Sets the number of items that will appear in the component.</td>
                    </tr>
                    <tr>
                      <td>
                        Show Hidden
                      </td>
                      <td>
                        <ul class="list-unstyled mb-0">
                          <li>
                            Checked
                          </li>
                          <li>
                            Unchecked
                          </li>
                        </ul>
                      </td>
                      <td>If <strong>checked</strong>, shows items even if they’re hidden from your
                        site’s navigation.</td>
                    </tr>
                  </tbody>
                </table>
              {% endeditable_region_block %}
            </div>
          {% endif %}
          {% if edit_mode or page.content["page-data"] != blank %}
            <div class="tab-pane fade p-3" id="nav-page" role="tabpanel" aria-labelledby="nav-page-tab">
              <h3>Configuration</h3>
              {% editable_region_block name: "page-data" %}
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Name</th>
                      <th scope="col">Options</th>
                      <th scope="col" class="w-50">Description</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        Limit
                      </td>
                      <td>
                        1, 2, 3
                      </td>
                      <td>Sets the number of items that will appear in the component.</td>
                    </tr>
                    <tr>
                      <td>
                        Show Hidden
                      </td>
                      <td>
                        <ul class="list-unstyled mb-0">
                          <li>
                            Checked
                          </li>
                          <li>
                            Unchecked
                          </li>
                        </ul>
                      </td>
                      <td>If <strong>checked</strong>, shows items even if they’re hidden from your
                        site’s navigation.</td>
                    </tr>
                  </tbody>
                </table>
              {% endeditable_region_block %}
            </div>
          {% endif %}
        </div>

      </div>
      <aside class="wvu-sidebar col-md-3 mt-4 mt-md-0" aria-label="{{ componentSidebar }}">
        <div class="sticky-top pt-3 mt-n3">
          <div class="mb-3">
            <h2 class="border-top border-wvu-accent--blue-light text-uppercase h6 pt-2">How-Tos and Tips</h2>
            <ul class="list-unstyled ps-0">
              {% assign howToLabel = page.slug | append: '-how-to' %}
              {% assign root = site.root_page %}
              {% assign howToItems = root.descendants | filter_pages: by: component.loopBy, sort: component.loopOrder, tags: howToLabel, tags_match: component.loopLabelsMatch, hidden: component.showHidden, random: component.random, limit: component.limit %}
              {% for item in howToItems %}
                <li class="d-flex"><span class="fa-solid fa-circle-arrow-right text-wvu-gold me-1" style="margin-top: 6px;"></span><a href="{{ item.url }}" class="text-decoration-none">{{ item.alternate_name | default: item.name }}</a></li>
              {% endfor %}
              <li class="d-flex"><span class="fa-solid fa-circle-arrow-right text-wvu-gold me-1" style="margin-top: 6px;"></span><a href="/shared-cleanslate-partials/theme-development-site-configuration-and-advanced-style-editing/add-a-shared-partial-to-a-template" class="text-decoration-none">Add a Shared Partial to a Template</a></li>
              {% if page.parent.slug != 'essential-elements' %}
                <li class="d-flex"><span class="fa-solid fa-circle-arrow-right text-wvu-gold me-1" style="margin-top: 6px;"></span><a href="/shared-cleanslate-partials/theme-development-site-configuration-and-advanced-style-editing/style-content-using-the-style-editor" class="text-decoration-none">Style Content Using the Style Editor</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </aside>
    </div>
  </div>
</section>
