<section class="py-5 border-bottom" aria-labelledby="content-model-label">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <h2 id="content-model-label" class="h1 mt-0 wvu-bar wvu-bar--bottom">Content Model and Styling Guidelines</h2>
        <p class="mb-3 fs-5 helvetica-neue-light">The following guidelines will help ensure your content and styling follows our design principles, and ensures consistency and unity across your pages as well as other WVU-branded websites.</p>
      </div>
      <div class="col-lg-7 ms-lg-auto">
        {% if edit_mode or page.content['general-guidelines'] != blank %}
          <div class="mb-3">
            <h3 class="h5 text-uppercase text-wvu-accent--burnt-orange">General Guidelines</h3>
            {% editable_region name: "general-guidelines" %}
          </div>
        {% endif %}
        <h3 class="h5 text-uppercase text-wvu-accent--burnt-orange">Content-Specific Guidelines</h3>
        {% case page.slug %}
          {% when 'hero' or 'action-hero' or 'action-hero-banner' or 'action-hero-card' or 'action-hero-split' %}
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Content</th>
                  <th scope="col">Max Characters</th>
                  <th scope="col" class="w-50">Description</th>
                </tr>
              <thead>
              <tbody>
                <tr>
                  <td>Header*</td>
                  <td>
                    56</td>
                  <td>Marketing copy that grabs the user’s attention.</td>
                </tr>
                <tr>
                  <td>Subhead*</td>
                  <td>56</td>
                  <td>A brief teaser related to the call to action.
                  </td>
                </tr>
                <tr>
                  <td>Blurb*</td>
                  <td>255</td>
                  <td>Marketing copy or information related to the call to action.
                  </td>
                </tr>
                <tr>
                  <td>Call to Action*</td>
                  <td>16</td>
                  <td>The user action you want to promote.
                  </td>
                </tr>
                {% if page.slug == 'action-hero' %}
                  <tr>
                    <td>Postscript</td>
                    <td>1-2 Sentences</td>
                    <td>The person’s office location.
                    </td>
                  </tr>
                {% endif %}
              <tbody>
            </table>
          {% when 'article-collection' or 'cards' or 'cards-w-overlay' or 'pages' or 'page-collection-vertical' or 'featurettes' or 'featurettes-cards' %}
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Content</th>
                  <th scope="col">Max Characters</th>
                  <th scope="col" class="w-50">Description</th>
                </tr>
              <thead>
              <tbody>
                <tr>
                  <td>Header</td>
                  <td>
                    56</td>
                  <td>A headline introducing the collection.</td>
                </tr>
                <tr>
                  <td>Subhead</td>
                  <td>56</td>
                  <td>Additional info about the collection.
                  </td>
                </tr>
                <tr>
                  <td>Item Thumbnails</td>
                  <td>N/A</td>
                  <td><p>Use the same aspect ratio for each thumbnail image.</p>
                    <p>Use the same style for each thumbnail image. For example, don’t use a logo for one and a photo for another.</p>
                    <p>Don’t include text in thumbnail images.</p>
                    <p class="mb-0">Always follow our <a href="https://universityrelations.wvu.edu/brand-guide/photo">Phography Guidelines</a> when choosing images.</p>
                  </td>
                </tr>
                <tr>
                  <td>Item Headers*</td>
                  <td>56</td>
                  <td>The title of the featured item.
                  </td>
                </tr>
                {% if page.slug == 'article-collection' %}
                  <tr>
                    <td>Article Author and Publish Date</td>
                    <td>N/A</td>
                    <td>The name of the author and the date the article was published.
                    </td>
                  </tr>
                {% endif %}
                <tr>
                  <td>Item Blurbs*</td>
                  <td>255</td>
                  <td>What the user can expect to find when visiting the page.
                  </td>
                </tr>
                {% unless page.slug == 'cards-w-overlay' %}
                  <tr>
                    <td>Item Call to Actions*</td>
                    <td>16</td>
                    <td>The action the user should take e.g. “Read More”.
                    </td>
                  </tr>
                {% endunless %}
                <tr>
                  <td>Postscript</td>
                  <td>1-2 Sentences</td>
                  <td>Include a link to an external page with additional info or a full list of items.
                  </td>
                </tr>
              <tbody>
            </table>
          {% else %}
            {% editable_region name: "content-styling" %}
          {% endcase %}
        <p>* Indiates required content.</p>
      </div>
    </div>
  </div>
</section>
