{% assign breadcrumbLinkClasses = page.content[component.region_names.classes] | default: component.defaultComponentClasses %}
{% assign breadcrumbLinkClasses = breadcrumbLinkClasses | replace: "&nbsp;", "" | strip %}

{% if breadcrumbLinkClasses == blank and page.data.backpage_header == '1' %}
  {% assign breadcrumbLinkClasses = 'text-wvu-neutral--dark-gray text-wvu-accent--blue-dark' %}
{% endif %}

{% case page.template_name %}
  {% when 'profile' or 'student' or 'faculty-member' %}
    {% if breadcrumbLinkClasses == blank %}
      {% assign breadcrumbLinkClasses = 'text-wvu-neutral--dark-gray text-wvu-accent--blue-dark' %}
    {% endif %}
  {% else %}
    {% if breadcrumbLinkClasses == blank %}
      {% assign breadcrumbLinkClasses = site.data.classes_wvu_breadcrumbs | default: component.defaultComponentClasses %}
    {% endif %}
    {% assign breadcrumbPosition = 'position-absolute' %}
{% endcase %}

{% assign componentClassesBreadcrumbs = "wvu-z-index-content wvu-slash-list ps-0 mb-0 d-inline-block " %}

{% if breadcrumbLinkClasses contains 'wvu-bg-tint' or breadcrumbLinkClasses contains 'bg-wvu-' %}
  {% assign breadcrumbLinkClasses = breadcrumbLinkClasses | append: ' m-n1 p-1' %}
  {% assign breadcrumbMargin = 'ms-1' %}
{% endif %}

<section class="wvu-breadcrumbs py-2 w-100 {{ breadcrumbPosition }} wvu-z-index-breadcrumbs" aria-label="Breadcrumb Links">
  <div class="container position-relative small">
    <div class="{{ breadcrumbMargin }}">
      <div class="{{ breadcrumbLinkClasses }} d-inline-block">
        {% breadcrumbs ul_class: componentClassesBreadcrumbs %}
      </div>
    </div>
  </div>
</section>

{% render "includes/wvu-component-footer/wvu-component-footer--v1" component: component %}
