{% if edit_mode %}
  <div class="alert alert-warning p-2 my-2 text-start">
    <p class="mb-0 small">
      It looks like you haven’t added contact info for this person. To enter their contact info, go to the Pages tab in your CleanSlate dashboard. Navigate to the page in your site that corresponds to the person you wish to edit. Enter the person’s title and contact info into the appropriate page regions, then publish the page. You can also enter a brief description below the person’s contact info by editing the person’s page properties. Find the page in your Pages tab that corresponds to the person, hover over the page, and click Properties. In the modal window, click the Custom Data tab, and enter a description in the Description field, then click Save.
    </p>
  </div>
{% endif %}
