<!-- Featurette: cards-w-editable-regions -->
{%- liquid
  case component.limit
    when 1 or 2 or 6 or 9
      assign columnClasses = 'col-sm-6 col-md-4'
    when 3 or 4
      assign columnClasses = 'col-sm-6 col-md'
    when 5
      assign columnClasses = 'col-sm-6 col-md-4 col-lg-3 col-xl'
    else
      assign columnClasses = 'col-sm-6 col-md-3'
  endcase

  if page.content[component.region_names.rowClasses] != blank
    assign rowClasses = page.content[component.region_names.rowClasses]
  else
    assign rowClasses = component.defaultRowClasses
  endif

  assign defaultItemClasses = component.defaultItemClasses | append: ' ' | append: columnClasses
  assign itemClasses = page.content[component.region_names.itemClasses] | default: defaultItemClasses
%}

<div class="row {{ rowClasses }}">
  {%- comment %}<!-- Grab all of the items in the loop. -->{% endcomment %}
  {% for index in (1..component.limit) %}
    {%- capture bgLabel %}{{ component.featurettesBgPrefix }}-panel-{{ forloop.index }}-background{% endcapture %}
    {%- assign bgStyler = bgLabel | background_styler %}

    {%- capture panelPhotoRegion %}wvu-featurettes_panel_{{ component.number }}-{{ index }}__photo{% endcapture %}
    {%- capture panelHeaderRegion %}wvu-featurettes_panel_{{ component.number }}-{{ index }}__header{% endcapture %}
    {%- capture panelMainRegion %}wvu-featurettes_panel_{{ component.number }}-{{ index }}__main{% endcapture %}

    <div class="{{ itemClasses }} {% if component.full_width_or_backpage? %}{{ columnClasses }} {% endif %}" {{ bgStyler }}>
      <div class="card shadow">
        {%- if edit_mode or page.content[panelPhotoRegion] != blank %}
          {% editable_region_block name: panelPhotoRegion, scope: component.scope %}
            <img class="card-img-top" src="https://via.placeholder.com/960x640" alt="Placeholder">
          {% endeditable_region_block %}
        {%- endif %}
        <div class="card-body bg-white">
          {%- if edit_mode or page.content[panelHeaderRegion] != blank %}
            {% editable_region_block name: panelHeaderRegion, scope=component.scope %}
              <h3 class="card-title iowan-old-style-italic mb-1">Panel Header</h3>
            {% endeditable_region_block %}
          {%- endif %}
          {%- if edit_mode or page.content[panelMainRegion] != blank %}
            {% editable_region_block name: panelMainRegion, scope=component.scope %}
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
              <a href="#" class="btn btn-primary">Read More</a>
            {% endeditable_region_block %}
          {%- endif %}
        </div>
      </div>
    </div>
  {% endfor %}
</div>
