{% assign videoUrlRegionName = component.name | append: '__video-url' %}
{% assign videoTitleRegionName = component.name | append: '__video-title' %}
{% assign videoDescriptionRegionName = component.name | append: '__video-description' %}

{% capture component_content %}
  <div class="container wvu-z-index-content">
    {% if edit_mode or page.content[component.region_names.header] != blank %}
      <div class="wvu-z-index-content mb-4">
        {% comment %}<!-- This is just a label for the editable region that follows in order to make it clear to content editors what the region is for (in case they delete content and forget). -->{% endcomment %}
        {% if edit_mode %}<span class="d-inline-block badge bg-primary mb-1">Header</span>{% endif %}
        {% comment %}<!-- For the h2, apply an ID that will tell screanreaders to use this element as the label for the section. Also apply classes to the header. -->{% endcomment %}
        {% editable_region_block name: component.region_names.header, scope: component.scope %}
          <h2 id="{{ component.name }}-label" class="display-3 wvu-shout">Video Feature Headline</h2>
          <p class="h3 helvetica-neue-light">Subhead goes here.</p>
        {% endeditable_region_block %}
      </div>
    {% endif %}
    <div class="row">
      <div class="col-md-8 mx-auto mb-3 mb-md-0">
        {% if edit_mode %}
          <div class="alert alert-warning p-3 p-xl-4 text-start">
            <h2>Video</h2>
            <p><strong>Enter the URL of the video</strong> you wish to display e.g. <strong>https://www.youtube.com/watch?v=uF_Ti3i-sOo</strong>, then save and refresh the page.</p>
            {% editable_region name: videoUrlRegionName type: 'simple' %}
            <p class="mt-2"><strong>Enter a title for the video:</strong></p>
            {% editable_region name: videoTitleRegionName type: 'simple' %}
          </div>
        {% endif %}
        {% assign videoId = page.content[videoUrlRegionName] | split: 'https://www.youtube.com/watch?v=' %}
        {% if page.content[videoUrlRegionName] != blank %}
          <div class="ratio ratio-16x9">
            <iframe src="https://www.youtube.com/embed/{{ videoId }}" title="{{ page.content[videoTitleRegionName] }}" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        {% endif %}
      </div>
      {% if edit_mode or page.content[videoDescriptionRegionName] != blank %}
        <div class="col-md-4 text-start">
          <h3>{{ page.content[videoTitleRegionName] }}</h3>
          {% if edit_mode %}
            <div class="alert alert-warning p-2 my-2">
              <p class="mb-0">
                If you don’t have a description and/or don’t wish the title and description to display here, leave the “video description” field below blank.
              </p>
            </div>
            <span class="d-inline-block badge bg-primary mb-1">Video Description</span>
          {% endif %}
          {% editable_region_block name: videoDescriptionRegionName %}
            <p>Video description goes here.</p>
          {% endeditable_region_block %}
        </div>
      {% endif %}
    </div>
    {% if edit_mode or page.content[component.region_names.postscript] != blank %}
      <div class="mt-3 wvu-z-index-content">
        <div class="wvu-z-index-content mb-2">
          {% comment %}<!-- This is just a label for the editable region that follows in order to make it clear to content editors what the region is for (in case they delete content and forget). -->{% endcomment %}
          {% if edit_mode %}<span class="d-inline-block badge bg-primary mb-1">Postscript</span>{% endif %}
          {% editable_region_block name: component.region_names.postscript, scope: component.scope %}
            <p class="mb-0">View <a class="text-wvu-gold" href="#">more videos</a>.</p>
          {% endeditable_region_block %}
        </div>
      </div>
    {% endif %}
  </div>
{% endcapture %}

{% render "utilities/wvu-component-tag/wvu-component-tag--v1" component: component, content: component_content %}
{% render "includes/wvu-component-footer/wvu-component-footer--v1" component: component %}
